:root {
    --theme-color: "Hardhacker";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(33, 30, 42);
    --md-sys-color-error:                      rgb(233, 101, 165);
    --md-sys-color-error-container:            rgb(44, 39, 55);
    --md-sys-color-inverse-on-surface:         rgb(33, 30, 42);
    --md-sys-color-inverse-primary:            rgb(149, 166, 244);
    --md-sys-color-inverse-surface:            rgb(242, 232, 240);
    --md-sys-color-on-background:              rgb(228, 222, 233);
    --md-sys-color-on-error:                   rgb(33, 30, 42);
    --md-sys-color-on-error-container:         rgb(233, 101, 165);
    --md-sys-color-on-primary:                 rgb(33, 30, 42);
    --md-sys-color-on-primary-container:       rgb(149, 166, 244);
    --md-sys-color-on-primary-fixed:           rgb(33, 30, 42);
    --md-sys-color-on-primary-fixed-variant:   rgb(44, 39, 55);
    --md-sys-color-on-secondary:               rgb(33, 30, 42);
    --md-sys-color-on-secondary-container:     rgb(242, 232, 240);
    --md-sys-color-on-secondary-fixed:         rgb(33, 30, 42);
    --md-sys-color-on-secondary-fixed-variant: rgb(44, 39, 55);
    --md-sys-color-on-surface:                 rgb(228, 222, 233);
    --md-sys-color-on-surface-variant:         rgb(138, 130, 158);
    --md-sys-color-on-tertiary:                rgb(33, 30, 42);
    --md-sys-color-on-tertiary-container:      rgb(242, 232, 240);
    --md-sys-color-on-tertiary-fixed:          rgb(33, 30, 42);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(44, 39, 55);
    --md-sys-color-outline:                    rgb(110, 103, 128);
    --md-sys-color-outline-variant:            rgb(63, 57, 81);
    --md-sys-color-primary:                    rgb(149, 166, 244);
    --md-sys-color-primary-container:          rgb(63, 57, 81);
    --md-sys-color-primary-fixed:              rgb(149, 166, 244);
    --md-sys-color-primary-fixed-dim:          rgb(149, 166, 244);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(255, 121, 198);
    --md-sys-color-secondary-container:        rgb(63, 57, 81);
    --md-sys-color-secondary-fixed:            rgb(255, 121, 198);
    --md-sys-color-secondary-fixed-dim:        rgb(255, 121, 198);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(255, 255, 255);
    --md-sys-color-surface:                    rgb(33, 30, 42);
    --md-sys-color-surface-bright:             rgb(110, 103, 128);
    --md-sys-color-surface-container:          rgb(44, 39, 55);
    --md-sys-color-surface-container-high:     rgb(63, 57, 81);
    --md-sys-color-surface-container-highest:  rgb(63, 57, 81);
    --md-sys-color-surface-container-low:      rgb(44, 39, 55);
    --md-sys-color-surface-container-lowest:   rgb(33, 30, 42);
    --md-sys-color-surface-dim:                rgb(33, 30, 42);
    --md-sys-color-surface-tint:               rgb(149, 166, 244);
    --md-sys-color-surface-variant:            rgb(63, 57, 81);
    --md-sys-color-tertiary:                   rgb(179, 244, 243);
    --md-sys-color-tertiary-container:         rgb(63, 57, 81);
    --md-sys-color-tertiary-fixed:             rgb(179, 244, 243);
    --md-sys-color-tertiary-fixed-dim:         rgb(179, 244, 243);
}
