:root {
    --theme-color: "Blueish";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(24, 36, 48);
    --md-sys-color-error:                      rgb(76, 229, 135);
    --md-sys-color-error-container:            rgb(36, 60, 84);
    --md-sys-color-inverse-on-surface:         rgb(24, 36, 48);
    --md-sys-color-inverse-primary:            rgb(130, 170, 255);
    --md-sys-color-inverse-surface:            rgb(221, 234, 246);
    --md-sys-color-on-background:              rgb(200, 225, 248);
    --md-sys-color-on-error:                   rgb(24, 36, 48);
    --md-sys-color-on-error-container:         rgb(76, 229, 135);
    --md-sys-color-on-primary:                 rgb(24, 36, 48);
    --md-sys-color-on-primary-container:       rgb(130, 170, 255);
    --md-sys-color-on-primary-fixed:           rgb(24, 36, 48);
    --md-sys-color-on-primary-fixed-variant:   rgb(36, 60, 84);
    --md-sys-color-on-secondary:               rgb(24, 36, 48);
    --md-sys-color-on-secondary-container:     rgb(221, 234, 246);
    --md-sys-color-on-secondary-fixed:         rgb(24, 36, 48);
    --md-sys-color-on-secondary-fixed-variant: rgb(36, 60, 84);
    --md-sys-color-on-surface:                 rgb(200, 225, 248);
    --md-sys-color-on-surface-variant:         rgb(200, 225, 248);
    --md-sys-color-on-tertiary:                rgb(24, 36, 48);
    --md-sys-color-on-tertiary-container:      rgb(221, 234, 246);
    --md-sys-color-on-tertiary-fixed:          rgb(24, 36, 48);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(36, 60, 84);
    --md-sys-color-outline:                    rgb(116, 175, 231);
    --md-sys-color-outline-variant:            rgb(70, 41, 10);
    --md-sys-color-primary:                    rgb(130, 170, 255);
    --md-sys-color-primary-container:          rgb(70, 41, 10);
    --md-sys-color-primary-fixed:              rgb(130, 170, 255);
    --md-sys-color-primary-fixed-dim:          rgb(130, 170, 255);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(255, 132, 221);
    --md-sys-color-secondary-container:        rgb(70, 41, 10);
    --md-sys-color-secondary-fixed:            rgb(255, 132, 221);
    --md-sys-color-secondary-fixed-dim:        rgb(255, 132, 221);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(143, 152, 160);
    --md-sys-color-surface:                    rgb(24, 36, 48);
    --md-sys-color-surface-bright:             rgb(97, 109, 120);
    --md-sys-color-surface-container:          rgb(36, 60, 84);
    --md-sys-color-surface-container-high:     rgb(70, 41, 10);
    --md-sys-color-surface-container-highest:  rgb(70, 41, 10);
    --md-sys-color-surface-container-low:      rgb(36, 60, 84);
    --md-sys-color-surface-container-lowest:   rgb(24, 36, 48);
    --md-sys-color-surface-dim:                rgb(24, 36, 48);
    --md-sys-color-surface-tint:               rgb(130, 170, 255);
    --md-sys-color-surface-variant:            rgb(70, 41, 10);
    --md-sys-color-tertiary:                   rgb(95, 209, 255);
    --md-sys-color-tertiary-container:         rgb(70, 41, 10);
    --md-sys-color-tertiary-fixed:             rgb(95, 209, 255);
    --md-sys-color-tertiary-fixed-dim:         rgb(95, 209, 255);
}
