:root {
    --theme-color: "Darcula";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(43, 43, 43);
    --md-sys-color-error:                      rgb(78, 173, 229);
    --md-sys-color-error-container:            rgb(50, 50, 50);
    --md-sys-color-inverse-on-surface:         rgb(43, 43, 43);
    --md-sys-color-inverse-primary:            rgb(152, 118, 170);
    --md-sys-color-inverse-surface:            rgb(255, 198, 109);
    --md-sys-color-on-background:              rgb(169, 183, 198);
    --md-sys-color-on-error:                   rgb(43, 43, 43);
    --md-sys-color-on-error-container:         rgb(78, 173, 229);
    --md-sys-color-on-primary:                 rgb(43, 43, 43);
    --md-sys-color-on-primary-container:       rgb(152, 118, 170);
    --md-sys-color-on-primary-fixed:           rgb(43, 43, 43);
    --md-sys-color-on-primary-fixed-variant:   rgb(50, 50, 50);
    --md-sys-color-on-secondary:               rgb(43, 43, 43);
    --md-sys-color-on-secondary-container:     rgb(255, 198, 109);
    --md-sys-color-on-secondary-fixed:         rgb(43, 43, 43);
    --md-sys-color-on-secondary-fixed-variant: rgb(50, 50, 50);
    --md-sys-color-on-surface:                 rgb(169, 183, 198);
    --md-sys-color-on-surface-variant:         rgb(164, 163, 163);
    --md-sys-color-on-tertiary:                rgb(43, 43, 43);
    --md-sys-color-on-tertiary-container:      rgb(255, 198, 109);
    --md-sys-color-on-tertiary-fixed:          rgb(43, 43, 43);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(50, 50, 50);
    --md-sys-color-outline:                    rgb(96, 99, 102);
    --md-sys-color-outline-variant:            rgb(50, 50, 50);
    --md-sys-color-primary:                    rgb(152, 118, 170);
    --md-sys-color-primary-container:          rgb(50, 50, 50);
    --md-sys-color-primary-fixed:              rgb(152, 118, 170);
    --md-sys-color-primary-fixed-dim:          rgb(152, 118, 170);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(204, 120, 50);
    --md-sys-color-secondary-container:        rgb(50, 50, 50);
    --md-sys-color-secondary-fixed:            rgb(204, 120, 50);
    --md-sys-color-secondary-fixed-dim:        rgb(204, 120, 50);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(255, 255, 255);
    --md-sys-color-surface:                    rgb(43, 43, 43);
    --md-sys-color-surface-bright:             rgb(96, 99, 102);
    --md-sys-color-surface-container:          rgb(50, 50, 50);
    --md-sys-color-surface-container-high:     rgb(50, 50, 50);
    --md-sys-color-surface-container-highest:  rgb(50, 50, 50);
    --md-sys-color-surface-container-low:      rgb(50, 50, 50);
    --md-sys-color-surface-container-lowest:   rgb(43, 43, 43);
    --md-sys-color-surface-dim:                rgb(43, 43, 43);
    --md-sys-color-surface-tint:               rgb(152, 118, 170);
    --md-sys-color-surface-variant:            rgb(50, 50, 50);
    --md-sys-color-tertiary:                   rgb(98, 151, 85);
    --md-sys-color-tertiary-container:         rgb(50, 50, 50);
    --md-sys-color-tertiary-fixed:             rgb(98, 151, 85);
    --md-sys-color-tertiary-fixed-dim:         rgb(98, 151, 85);
}
