:root {
    --theme-color: "SAGA";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(5, 8, 10);
    --md-sys-color-error:                      rgb(255, 212, 233);
    --md-sys-color-error-container:            rgb(10, 16, 20);
    --md-sys-color-inverse-on-surface:         rgb(5, 8, 10);
    --md-sys-color-inverse-primary:            rgb(201, 255, 247);
    --md-sys-color-inverse-surface:            rgb(248, 234, 231);
    --md-sys-color-on-background:              rgb(220, 226, 247);
    --md-sys-color-on-error:                   rgb(5, 8, 10);
    --md-sys-color-on-error-container:         rgb(255, 212, 233);
    --md-sys-color-on-primary:                 rgb(5, 8, 10);
    --md-sys-color-on-primary-container:       rgb(201, 255, 247);
    --md-sys-color-on-primary-fixed:           rgb(5, 8, 10);
    --md-sys-color-on-primary-fixed-variant:   rgb(10, 16, 20);
    --md-sys-color-on-secondary:               rgb(5, 8, 10);
    --md-sys-color-on-secondary-container:     rgb(248, 234, 231);
    --md-sys-color-on-secondary-fixed:         rgb(5, 8, 10);
    --md-sys-color-on-secondary-fixed-variant: rgb(10, 16, 20);
    --md-sys-color-on-surface:                 rgb(220, 226, 247);
    --md-sys-color-on-surface-variant:         rgb(220, 226, 247);
    --md-sys-color-on-tertiary:                rgb(5, 8, 10);
    --md-sys-color-on-tertiary-container:      rgb(248, 234, 231);
    --md-sys-color-on-tertiary-fixed:          rgb(5, 8, 10);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(10, 16, 20);
    --md-sys-color-outline:                    rgb(25, 38, 48);
    --md-sys-color-outline-variant:            rgb(15, 24, 30);
    --md-sys-color-primary:                    rgb(201, 255, 247);
    --md-sys-color-primary-container:          rgb(15, 24, 30);
    --md-sys-color-primary-fixed:              rgb(201, 255, 247);
    --md-sys-color-primary-fixed-dim:          rgb(201, 255, 247);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(220, 195, 249);
    --md-sys-color-secondary-container:        rgb(15, 24, 30);
    --md-sys-color-secondary-fixed:            rgb(220, 195, 249);
    --md-sys-color-secondary-fixed-dim:        rgb(220, 195, 249);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(204, 211, 254);
    --md-sys-color-surface:                    rgb(5, 8, 10);
    --md-sys-color-surface-bright:             rgb(20, 31, 39);
    --md-sys-color-surface-container:          rgb(10, 16, 20);
    --md-sys-color-surface-container-high:     rgb(15, 24, 30);
    --md-sys-color-surface-container-highest:  rgb(15, 24, 30);
    --md-sys-color-surface-container-low:      rgb(10, 16, 20);
    --md-sys-color-surface-container-lowest:   rgb(5, 8, 10);
    --md-sys-color-surface-dim:                rgb(5, 8, 10);
    --md-sys-color-surface-tint:               rgb(201, 255, 247);
    --md-sys-color-surface-variant:            rgb(15, 24, 30);
    --md-sys-color-tertiary:                   rgb(197, 237, 193);
    --md-sys-color-tertiary-container:         rgb(15, 24, 30);
    --md-sys-color-tertiary-fixed:             rgb(197, 237, 193);
    --md-sys-color-tertiary-fixed-dim:         rgb(197, 237, 193);
}
