:root {
    --theme-color: "Harmonic16 Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(247, 249, 251);
    --md-sys-color-error:                      rgb(191, 139, 86);
    --md-sys-color-error-container:            rgb(229, 235, 241);
    --md-sys-color-inverse-on-surface:         rgb(247, 249, 251);
    --md-sys-color-inverse-primary:            rgb(139, 86, 191);
    --md-sys-color-inverse-surface:            rgb(34, 59, 84);
    --md-sys-color-on-background:              rgb(64, 92, 121);
    --md-sys-color-on-error:                   rgb(247, 249, 251);
    --md-sys-color-on-error-container:         rgb(191, 139, 86);
    --md-sys-color-on-primary:                 rgb(247, 249, 251);
    --md-sys-color-on-primary-container:       rgb(139, 86, 191);
    --md-sys-color-on-primary-fixed:           rgb(247, 249, 251);
    --md-sys-color-on-primary-fixed-variant:   rgb(229, 235, 241);
    --md-sys-color-on-secondary:               rgb(247, 249, 251);
    --md-sys-color-on-secondary-container:     rgb(34, 59, 84);
    --md-sys-color-on-secondary-fixed:         rgb(247, 249, 251);
    --md-sys-color-on-secondary-fixed-variant: rgb(229, 235, 241);
    --md-sys-color-on-surface:                 rgb(64, 92, 121);
    --md-sys-color-on-surface-variant:         rgb(64, 92, 121);
    --md-sys-color-on-tertiary:                rgb(247, 249, 251);
    --md-sys-color-on-tertiary-container:      rgb(34, 59, 84);
    --md-sys-color-on-tertiary-fixed:          rgb(247, 249, 251);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(229, 235, 241);
    --md-sys-color-outline:                    rgb(98, 126, 153);
    --md-sys-color-outline-variant:            rgb(203, 214, 226);
    --md-sys-color-primary:                    rgb(139, 86, 191);
    --md-sys-color-primary-container:          rgb(203, 214, 226);
    --md-sys-color-primary-fixed:              rgb(139, 86, 191);
    --md-sys-color-primary-fixed-dim:          rgb(139, 86, 191);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(191, 86, 139);
    --md-sys-color-secondary-container:        rgb(203, 214, 226);
    --md-sys-color-secondary-fixed:            rgb(191, 86, 139);
    --md-sys-color-secondary-fixed-dim:        rgb(191, 86, 139);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(11, 28, 44);
    --md-sys-color-surface:                    rgb(247, 249, 251);
    --md-sys-color-surface-bright:             rgb(170, 188, 206);
    --md-sys-color-surface-container:          rgb(229, 235, 241);
    --md-sys-color-surface-container-high:     rgb(203, 214, 226);
    --md-sys-color-surface-container-highest:  rgb(203, 214, 226);
    --md-sys-color-surface-container-low:      rgb(229, 235, 241);
    --md-sys-color-surface-container-lowest:   rgb(247, 249, 251);
    --md-sys-color-surface-dim:                rgb(247, 249, 251);
    --md-sys-color-surface-tint:               rgb(139, 86, 191);
    --md-sys-color-surface-variant:            rgb(203, 214, 226);
    --md-sys-color-tertiary:                   rgb(86, 139, 191);
    --md-sys-color-tertiary-container:         rgb(203, 214, 226);
    --md-sys-color-tertiary-fixed:             rgb(86, 139, 191);
    --md-sys-color-tertiary-fixed-dim:         rgb(86, 139, 191);
}
