:root {
    --theme-color: "Everforest Light (Soft)";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(243, 234, 211);
    --md-sys-color-error:                      rgb(248, 85, 82);
    --md-sys-color-error-container:            rgb(234, 228, 202);
    --md-sys-color-inverse-on-surface:         rgb(243, 234, 211);
    --md-sys-color-inverse-primary:            rgb(58, 148, 197);
    --md-sys-color-inverse-surface:            rgb(77, 89, 96);
    --md-sys-color-on-background:              rgb(92, 106, 114);
    --md-sys-color-on-error:                   rgb(243, 234, 211);
    --md-sys-color-on-error-container:         rgb(248, 85, 82);
    --md-sys-color-on-primary:                 rgb(243, 234, 211);
    --md-sys-color-on-primary-container:       rgb(58, 148, 197);
    --md-sys-color-on-primary-fixed:           rgb(243, 234, 211);
    --md-sys-color-on-primary-fixed-variant:   rgb(234, 228, 202);
    --md-sys-color-on-secondary:               rgb(243, 234, 211);
    --md-sys-color-on-secondary-container:     rgb(77, 89, 96);
    --md-sys-color-on-secondary-fixed:         rgb(243, 234, 211);
    --md-sys-color-on-secondary-fixed-variant: rgb(234, 228, 202);
    --md-sys-color-on-surface:                 rgb(92, 106, 114);
    --md-sys-color-on-surface-variant:         rgb(130, 145, 129);
    --md-sys-color-on-tertiary:                rgb(243, 234, 211);
    --md-sys-color-on-tertiary-container:      rgb(77, 89, 96);
    --md-sys-color-on-tertiary-fixed:          rgb(243, 234, 211);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(234, 228, 202);
    --md-sys-color-outline:                    rgb(147, 159, 145);
    --md-sys-color-outline-variant:            rgb(221, 216, 190);
    --md-sys-color-primary:                    rgb(58, 148, 197);
    --md-sys-color-primary-container:          rgb(221, 216, 190);
    --md-sys-color-primary-fixed:              rgb(58, 148, 197);
    --md-sys-color-primary-fixed-dim:          rgb(58, 148, 197);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(223, 105, 186);
    --md-sys-color-secondary-container:        rgb(221, 216, 190);
    --md-sys-color-secondary-fixed:            rgb(223, 105, 186);
    --md-sys-color-secondary-fixed-dim:        rgb(223, 105, 186);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(51, 60, 67);
    --md-sys-color-surface:                    rgb(243, 234, 211);
    --md-sys-color-surface-bright:             rgb(147, 159, 145);
    --md-sys-color-surface-container:          rgb(234, 228, 202);
    --md-sys-color-surface-container-high:     rgb(221, 216, 190);
    --md-sys-color-surface-container-highest:  rgb(221, 216, 190);
    --md-sys-color-surface-container-low:      rgb(234, 228, 202);
    --md-sys-color-surface-container-lowest:   rgb(243, 234, 211);
    --md-sys-color-surface-dim:                rgb(243, 234, 211);
    --md-sys-color-surface-tint:               rgb(58, 148, 197);
    --md-sys-color-surface-variant:            rgb(221, 216, 190);
    --md-sys-color-tertiary:                   rgb(53, 167, 124);
    --md-sys-color-tertiary-container:         rgb(221, 216, 190);
    --md-sys-color-tertiary-fixed:             rgb(53, 167, 124);
    --md-sys-color-tertiary-fixed-dim:         rgb(53, 167, 124);
}
