:root {
    --theme-color: "Marrakesh";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(32, 22, 2);
    --md-sys-color-error:                      rgb(195, 83, 89);
    --md-sys-color-error-container:            rgb(48, 46, 0);
    --md-sys-color-inverse-on-surface:         rgb(32, 22, 2);
    --md-sys-color-inverse-primary:            rgb(71, 124, 161);
    --md-sys-color-inverse-surface:            rgb(204, 195, 122);
    --md-sys-color-on-background:              rgb(148, 142, 72);
    --md-sys-color-on-error:                   rgb(32, 22, 2);
    --md-sys-color-on-error-container:         rgb(195, 83, 89);
    --md-sys-color-on-primary:                 rgb(32, 22, 2);
    --md-sys-color-on-primary-container:       rgb(71, 124, 161);
    --md-sys-color-on-primary-fixed:           rgb(32, 22, 2);
    --md-sys-color-on-primary-fixed-variant:   rgb(48, 46, 0);
    --md-sys-color-on-secondary:               rgb(32, 22, 2);
    --md-sys-color-on-secondary-container:     rgb(204, 195, 122);
    --md-sys-color-on-secondary-fixed:         rgb(32, 22, 2);
    --md-sys-color-on-secondary-fixed-variant: rgb(48, 46, 0);
    --md-sys-color-on-surface:                 rgb(148, 142, 72);
    --md-sys-color-on-surface-variant:         rgb(148, 142, 72);
    --md-sys-color-on-tertiary:                rgb(32, 22, 2);
    --md-sys-color-on-tertiary-container:      rgb(204, 195, 122);
    --md-sys-color-on-tertiary-fixed:          rgb(32, 22, 2);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(48, 46, 0);
    --md-sys-color-outline:                    rgb(134, 129, 59);
    --md-sys-color-outline-variant:            rgb(95, 91, 23);
    --md-sys-color-primary:                    rgb(71, 124, 161);
    --md-sys-color-primary-container:          rgb(95, 91, 23);
    --md-sys-color-primary-fixed:              rgb(71, 124, 161);
    --md-sys-color-primary-fixed-dim:          rgb(71, 124, 161);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(136, 104, 179);
    --md-sys-color-secondary-container:        rgb(95, 91, 23);
    --md-sys-color-secondary-fixed:            rgb(136, 104, 179);
    --md-sys-color-secondary-fixed-dim:        rgb(136, 104, 179);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(250, 240, 165);
    --md-sys-color-surface:                    rgb(32, 22, 2);
    --md-sys-color-surface-bright:             rgb(108, 104, 35);
    --md-sys-color-surface-container:          rgb(48, 46, 0);
    --md-sys-color-surface-container-high:     rgb(95, 91, 23);
    --md-sys-color-surface-container-highest:  rgb(95, 91, 23);
    --md-sys-color-surface-container-low:      rgb(48, 46, 0);
    --md-sys-color-surface-container-lowest:   rgb(32, 22, 2);
    --md-sys-color-surface-dim:                rgb(32, 22, 2);
    --md-sys-color-surface-tint:               rgb(71, 124, 161);
    --md-sys-color-surface-variant:            rgb(95, 91, 23);
    --md-sys-color-tertiary:                   rgb(117, 167, 56);
    --md-sys-color-tertiary-container:         rgb(95, 91, 23);
    --md-sys-color-tertiary-fixed:             rgb(117, 167, 56);
    --md-sys-color-tertiary-fixed-dim:         rgb(117, 167, 56);
}
