:root {
    --theme-color: "Eldritch";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(33, 35, 55);
    --md-sys-color-error:                      rgb(241, 108, 117);
    --md-sys-color-error-container:            rgb(50, 52, 73);
    --md-sys-color-inverse-on-surface:         rgb(33, 35, 55);
    --md-sys-color-inverse-primary:            rgb(57, 221, 253);
    --md-sys-color-inverse-surface:            rgb(240, 242, 244);
    --md-sys-color-on-background:              rgb(235, 250, 250);
    --md-sys-color-on-error:                   rgb(33, 35, 55);
    --md-sys-color-on-error-container:         rgb(241, 108, 117);
    --md-sys-color-on-primary:                 rgb(33, 35, 55);
    --md-sys-color-on-primary-container:       rgb(57, 221, 253);
    --md-sys-color-on-primary-fixed:           rgb(33, 35, 55);
    --md-sys-color-on-primary-fixed-variant:   rgb(50, 52, 73);
    --md-sys-color-on-secondary:               rgb(33, 35, 55);
    --md-sys-color-on-secondary-container:     rgb(240, 242, 244);
    --md-sys-color-on-secondary-fixed:         rgb(33, 35, 55);
    --md-sys-color-on-secondary-fixed-variant: rgb(50, 52, 73);
    --md-sys-color-on-surface:                 rgb(235, 250, 250);
    --md-sys-color-on-surface-variant:         rgb(161, 171, 224);
    --md-sys-color-on-tertiary:                rgb(33, 35, 55);
    --md-sys-color-on-tertiary-container:      rgb(240, 242, 244);
    --md-sys-color-on-tertiary-fixed:          rgb(33, 35, 55);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(50, 52, 73);
    --md-sys-color-outline:                    rgb(112, 129, 208);
    --md-sys-color-outline-variant:            rgb(59, 66, 97);
    --md-sys-color-primary:                    rgb(57, 221, 253);
    --md-sys-color-primary-container:          rgb(59, 66, 97);
    --md-sys-color-primary-fixed:              rgb(57, 221, 253);
    --md-sys-color-primary-fixed-dim:          rgb(57, 221, 253);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(164, 140, 242);
    --md-sys-color-secondary-container:        rgb(59, 66, 97);
    --md-sys-color-secondary-fixed:            rgb(164, 140, 242);
    --md-sys-color-secondary-fixed-dim:        rgb(164, 140, 242);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(255, 255, 255);
    --md-sys-color-surface:                    rgb(33, 35, 55);
    --md-sys-color-surface-bright:             rgb(112, 129, 208);
    --md-sys-color-surface-container:          rgb(50, 52, 73);
    --md-sys-color-surface-container-high:     rgb(59, 66, 97);
    --md-sys-color-surface-container-highest:  rgb(59, 66, 97);
    --md-sys-color-surface-container-low:      rgb(50, 52, 73);
    --md-sys-color-surface-container-lowest:   rgb(33, 35, 55);
    --md-sys-color-surface-dim:                rgb(33, 35, 55);
    --md-sys-color-surface-tint:               rgb(57, 221, 253);
    --md-sys-color-surface-variant:            rgb(59, 66, 97);
    --md-sys-color-tertiary:                   rgb(4, 209, 249);
    --md-sys-color-tertiary-container:         rgb(59, 66, 97);
    --md-sys-color-tertiary-fixed:             rgb(4, 209, 249);
    --md-sys-color-tertiary-fixed-dim:         rgb(4, 209, 249);
}
