:root {
    --theme-color: "Equilibrium Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(245, 240, 231);
    --md-sys-color-error:                      rgb(208, 32, 35);
    --md-sys-color-error-container:            rgb(231, 226, 217);
    --md-sys-color-inverse-on-surface:         rgb(245, 240, 231);
    --md-sys-color-inverse-primary:            rgb(0, 115, 181);
    --md-sys-color-inverse-surface:            rgb(44, 49, 56);
    --md-sys-color-on-background:              rgb(67, 71, 78);
    --md-sys-color-on-error:                   rgb(245, 240, 231);
    --md-sys-color-on-error-container:         rgb(208, 32, 35);
    --md-sys-color-on-primary:                 rgb(245, 240, 231);
    --md-sys-color-on-primary-container:       rgb(0, 115, 181);
    --md-sys-color-on-primary-fixed:           rgb(245, 240, 231);
    --md-sys-color-on-primary-fixed-variant:   rgb(231, 226, 217);
    --md-sys-color-on-secondary:               rgb(245, 240, 231);
    --md-sys-color-on-secondary-container:     rgb(44, 49, 56);
    --md-sys-color-on-secondary-fixed:         rgb(245, 240, 231);
    --md-sys-color-on-secondary-fixed-variant: rgb(231, 226, 217);
    --md-sys-color-on-surface:                 rgb(67, 71, 78);
    --md-sys-color-on-surface-variant:         rgb(90, 95, 102);
    --md-sys-color-on-tertiary:                rgb(245, 240, 231);
    --md-sys-color-on-tertiary-container:      rgb(44, 49, 56);
    --md-sys-color-on-tertiary-fixed:          rgb(245, 240, 231);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(231, 226, 217);
    --md-sys-color-outline:                    rgb(115, 119, 127);
    --md-sys-color-outline-variant:            rgb(216, 212, 203);
    --md-sys-color-primary:                    rgb(0, 115, 181);
    --md-sys-color-primary-container:          rgb(216, 212, 203);
    --md-sys-color-primary-fixed:              rgb(0, 115, 181);
    --md-sys-color-primary-fixed-dim:          rgb(0, 115, 181);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(78, 102, 182);
    --md-sys-color-secondary-container:        rgb(216, 212, 203);
    --md-sys-color-secondary-fixed:            rgb(78, 102, 182);
    --md-sys-color-secondary-fixed-dim:        rgb(78, 102, 182);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(24, 28, 34);
    --md-sys-color-surface:                    rgb(245, 240, 231);
    --md-sys-color-surface-bright:             rgb(115, 119, 127);
    --md-sys-color-surface-container:          rgb(231, 226, 217);
    --md-sys-color-surface-container-high:     rgb(216, 212, 203);
    --md-sys-color-surface-container-highest:  rgb(216, 212, 203);
    --md-sys-color-surface-container-low:      rgb(231, 226, 217);
    --md-sys-color-surface-container-lowest:   rgb(245, 240, 231);
    --md-sys-color-surface-dim:                rgb(245, 240, 231);
    --md-sys-color-surface-tint:               rgb(0, 115, 181);
    --md-sys-color-surface-variant:            rgb(216, 212, 203);
    --md-sys-color-tertiary:                   rgb(0, 122, 114);
    --md-sys-color-tertiary-container:         rgb(216, 212, 203);
    --md-sys-color-tertiary-fixed:             rgb(0, 122, 114);
    --md-sys-color-tertiary-fixed-dim:         rgb(0, 122, 114);
}
