:root {
    --theme-color: "Synth Midnight Terminal Dark";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(5, 6, 8);
    --md-sys-color-error:                      rgb(181, 59, 80);
    --md-sys-color-error-container:            rgb(26, 27, 28);
    --md-sys-color-inverse-on-surface:         rgb(5, 6, 8);
    --md-sys-color-inverse-primary:            rgb(3, 174, 255);
    --md-sys-color-inverse-surface:            rgb(207, 209, 210);
    --md-sys-color-on-background:              rgb(193, 195, 196);
    --md-sys-color-on-error:                   rgb(5, 6, 8);
    --md-sys-color-on-error-container:         rgb(181, 59, 80);
    --md-sys-color-on-primary:                 rgb(5, 6, 8);
    --md-sys-color-on-primary-container:       rgb(3, 174, 255);
    --md-sys-color-on-primary-fixed:           rgb(5, 6, 8);
    --md-sys-color-on-primary-fixed-variant:   rgb(26, 27, 28);
    --md-sys-color-on-secondary:               rgb(5, 6, 8);
    --md-sys-color-on-secondary-container:     rgb(207, 209, 210);
    --md-sys-color-on-secondary-fixed:         rgb(5, 6, 8);
    --md-sys-color-on-secondary-fixed-variant: rgb(26, 27, 28);
    --md-sys-color-on-surface:                 rgb(193, 195, 196);
    --md-sys-color-on-surface-variant:         rgb(163, 165, 166);
    --md-sys-color-on-tertiary:                rgb(5, 6, 8);
    --md-sys-color-on-tertiary-container:      rgb(207, 209, 210);
    --md-sys-color-on-tertiary-fixed:          rgb(5, 6, 8);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(26, 27, 28);
    --md-sys-color-outline:                    rgb(71, 72, 73);
    --md-sys-color-outline-variant:            rgb(40, 41, 42);
    --md-sys-color-primary:                    rgb(3, 174, 255);
    --md-sys-color-primary-container:          rgb(40, 41, 42);
    --md-sys-color-primary-fixed:              rgb(3, 174, 255);
    --md-sys-color-primary-fixed-dim:          rgb(3, 174, 255);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(234, 92, 226);
    --md-sys-color-secondary-container:        rgb(40, 41, 42);
    --md-sys-color-secondary-fixed:            rgb(234, 92, 226);
    --md-sys-color-secondary-fixed-dim:        rgb(234, 92, 226);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(221, 223, 224);
    --md-sys-color-surface:                    rgb(5, 6, 8);
    --md-sys-color-surface-bright:             rgb(71, 72, 73);
    --md-sys-color-surface-container:          rgb(26, 27, 28);
    --md-sys-color-surface-container-high:     rgb(40, 41, 42);
    --md-sys-color-surface-container-highest:  rgb(40, 41, 42);
    --md-sys-color-surface-container-low:      rgb(26, 27, 28);
    --md-sys-color-surface-container-lowest:   rgb(5, 6, 8);
    --md-sys-color-surface-dim:                rgb(5, 6, 8);
    --md-sys-color-surface-tint:               rgb(3, 174, 255);
    --md-sys-color-surface-variant:            rgb(40, 41, 42);
    --md-sys-color-tertiary:                   rgb(66, 255, 249);
    --md-sys-color-tertiary-container:         rgb(40, 41, 42);
    --md-sys-color-tertiary-fixed:             rgb(66, 255, 249);
    --md-sys-color-tertiary-fixed-dim:         rgb(66, 255, 249);
}
