:root {
    --theme-color: "Penumbra Light Contrast Plus Plus";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(255, 253, 251);
    --md-sys-color-error:                      rgb(245, 140, 129);
    --md-sys-color-error-container:            rgb(255, 247, 237);
    --md-sys-color-inverse-on-surface:         rgb(255, 253, 251);
    --md-sys-color-inverse-primary:            rgb(110, 178, 253);
    --md-sys-color-inverse-surface:            rgb(24, 27, 31);
    --md-sys-color-on-background:              rgb(99, 99, 99);
    --md-sys-color-on-error:                   rgb(255, 253, 251);
    --md-sys-color-on-error-container:         rgb(245, 140, 129);
    --md-sys-color-on-primary:                 rgb(255, 253, 251);
    --md-sys-color-on-primary-container:       rgb(110, 178, 253);
    --md-sys-color-on-primary-fixed:           rgb(255, 253, 251);
    --md-sys-color-on-primary-fixed-variant:   rgb(255, 247, 237);
    --md-sys-color-on-secondary:               rgb(255, 253, 251);
    --md-sys-color-on-secondary-container:     rgb(24, 27, 31);
    --md-sys-color-on-secondary-fixed:         rgb(255, 253, 251);
    --md-sys-color-on-secondary-fixed-variant: rgb(255, 247, 237);
    --md-sys-color-on-surface:                 rgb(99, 99, 99);
    --md-sys-color-on-surface-variant:         rgb(174, 174, 174);
    --md-sys-color-on-tertiary:                rgb(255, 253, 251);
    --md-sys-color-on-tertiary-container:      rgb(24, 27, 31);
    --md-sys-color-on-tertiary-fixed:          rgb(255, 253, 251);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(255, 247, 237);
    --md-sys-color-outline:                    rgb(222, 222, 222);
    --md-sys-color-outline-variant:            rgb(242, 230, 212);
    --md-sys-color-primary:                    rgb(110, 178, 253);
    --md-sys-color-primary-container:          rgb(242, 230, 212);
    --md-sys-color-primary-fixed:              rgb(110, 178, 253);
    --md-sys-color-primary-fixed-dim:          rgb(110, 178, 253);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(182, 156, 246);
    --md-sys-color-secondary-container:        rgb(242, 230, 212);
    --md-sys-color-secondary-fixed:            rgb(182, 156, 246);
    --md-sys-color-secondary-fixed-dim:        rgb(182, 156, 246);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(13, 15, 19);
    --md-sys-color-surface:                    rgb(255, 253, 251);
    --md-sys-color-surface-bright:             rgb(222, 222, 222);
    --md-sys-color-surface-container:          rgb(255, 247, 237);
    --md-sys-color-surface-container-high:     rgb(242, 230, 212);
    --md-sys-color-surface-container-highest:  rgb(242, 230, 212);
    --md-sys-color-surface-container-low:      rgb(255, 247, 237);
    --md-sys-color-surface-container-lowest:   rgb(255, 253, 251);
    --md-sys-color-surface-dim:                rgb(255, 253, 251);
    --md-sys-color-surface-tint:               rgb(110, 178, 253);
    --md-sys-color-surface-variant:            rgb(242, 230, 212);
    --md-sys-color-tertiary:                   rgb(0, 196, 215);
    --md-sys-color-tertiary-container:         rgb(242, 230, 212);
    --md-sys-color-tertiary-fixed:             rgb(0, 196, 215);
    --md-sys-color-tertiary-fixed-dim:         rgb(0, 196, 215);
}
