:root {
    --theme-color: "Qualia";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(16, 16, 16);
    --md-sys-color-error:                      rgb(239, 166, 162);
    --md-sys-color-error-container:            rgb(69, 69, 69);
    --md-sys-color-inverse-on-surface:         rgb(16, 16, 16);
    --md-sys-color-inverse-primary:            rgb(80, 202, 205);
    --md-sys-color-inverse-surface:            rgb(192, 192, 192);
    --md-sys-color-on-background:              rgb(192, 192, 192);
    --md-sys-color-on-error:                   rgb(16, 16, 16);
    --md-sys-color-on-error-container:         rgb(239, 166, 162);
    --md-sys-color-on-primary:                 rgb(16, 16, 16);
    --md-sys-color-on-primary-container:       rgb(80, 202, 205);
    --md-sys-color-on-primary-fixed:           rgb(16, 16, 16);
    --md-sys-color-on-primary-fixed-variant:   rgb(69, 69, 69);
    --md-sys-color-on-secondary:               rgb(16, 16, 16);
    --md-sys-color-on-secondary-container:     rgb(192, 192, 192);
    --md-sys-color-on-secondary-fixed:         rgb(16, 16, 16);
    --md-sys-color-on-secondary-fixed-variant: rgb(69, 69, 69);
    --md-sys-color-on-surface:                 rgb(192, 192, 192);
    --md-sys-color-on-surface-variant:         rgb(192, 192, 192);
    --md-sys-color-on-tertiary:                rgb(16, 16, 16);
    --md-sys-color-on-tertiary-container:      rgb(192, 192, 192);
    --md-sys-color-on-tertiary-fixed:          rgb(16, 16, 16);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(69, 69, 69);
    --md-sys-color-outline:                    rgb(128, 128, 128);
    --md-sys-color-outline-variant:            rgb(69, 69, 69);
    --md-sys-color-primary:                    rgb(80, 202, 205);
    --md-sys-color-primary-container:          rgb(69, 69, 69);
    --md-sys-color-primary-fixed:              rgb(80, 202, 205);
    --md-sys-color-primary-fixed-dim:          rgb(80, 202, 205);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(224, 175, 133);
    --md-sys-color-secondary-container:        rgb(69, 69, 69);
    --md-sys-color-secondary-fixed:            rgb(224, 175, 133);
    --md-sys-color-secondary-fixed-dim:        rgb(224, 175, 133);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(69, 69, 69);
    --md-sys-color-surface:                    rgb(16, 16, 16);
    --md-sys-color-surface-bright:             rgb(69, 69, 69);
    --md-sys-color-surface-container:          rgb(69, 69, 69);
    --md-sys-color-surface-container-high:     rgb(69, 69, 69);
    --md-sys-color-surface-container-highest:  rgb(69, 69, 69);
    --md-sys-color-surface-container-low:      rgb(69, 69, 69);
    --md-sys-color-surface-container-lowest:   rgb(16, 16, 16);
    --md-sys-color-surface-dim:                rgb(16, 16, 16);
    --md-sys-color-surface-tint:               rgb(80, 202, 205);
    --md-sys-color-surface-variant:            rgb(69, 69, 69);
    --md-sys-color-tertiary:                   rgb(200, 200, 116);
    --md-sys-color-tertiary-container:         rgb(69, 69, 69);
    --md-sys-color-tertiary-fixed:             rgb(200, 200, 116);
    --md-sys-color-tertiary-fixed-dim:         rgb(200, 200, 116);
}
