:root {
    --theme-color: "Papel";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(245, 239, 226);
    --md-sys-color-error:                      rgb(192, 57, 43);
    --md-sys-color-error-container:            rgb(142, 133, 118);
    --md-sys-color-inverse-on-surface:         rgb(245, 239, 226);
    --md-sys-color-inverse-primary:            rgb(44, 108, 160);
    --md-sys-color-inverse-surface:            rgb(149, 139, 124);
    --md-sys-color-on-background:              rgb(58, 46, 32);
    --md-sys-color-on-error:                   rgb(245, 239, 226);
    --md-sys-color-on-error-container:         rgb(192, 57, 43);
    --md-sys-color-on-primary:                 rgb(245, 239, 226);
    --md-sys-color-on-primary-container:       rgb(44, 108, 160);
    --md-sys-color-on-primary-fixed:           rgb(245, 239, 226);
    --md-sys-color-on-primary-fixed-variant:   rgb(142, 133, 118);
    --md-sys-color-on-secondary:               rgb(245, 239, 226);
    --md-sys-color-on-secondary-container:     rgb(149, 139, 124);
    --md-sys-color-on-secondary-fixed:         rgb(245, 239, 226);
    --md-sys-color-on-secondary-fixed-variant: rgb(142, 133, 118);
    --md-sys-color-on-surface:                 rgb(58, 46, 32);
    --md-sys-color-on-surface-variant:         rgb(106, 93, 75);
    --md-sys-color-on-tertiary:                rgb(245, 239, 226);
    --md-sys-color-on-tertiary-container:      rgb(149, 139, 124);
    --md-sys-color-on-tertiary-fixed:          rgb(245, 239, 226);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(142, 133, 118);
    --md-sys-color-outline:                    rgb(154, 140, 118);
    --md-sys-color-outline-variant:            rgb(224, 208, 172);
    --md-sys-color-primary:                    rgb(44, 108, 160);
    --md-sys-color-primary-container:          rgb(224, 208, 172);
    --md-sys-color-primary-fixed:              rgb(44, 108, 160);
    --md-sys-color-primary-fixed-dim:          rgb(44, 108, 160);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(155, 77, 142);
    --md-sys-color-secondary-container:        rgb(224, 208, 172);
    --md-sys-color-secondary-fixed:            rgb(155, 77, 142);
    --md-sys-color-secondary-fixed-dim:        rgb(155, 77, 142);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(239, 232, 216);
    --md-sys-color-surface:                    rgb(245, 239, 226);
    --md-sys-color-surface-bright:             rgb(154, 140, 118);
    --md-sys-color-surface-container:          rgb(142, 133, 118);
    --md-sys-color-surface-container-high:     rgb(224, 208, 172);
    --md-sys-color-surface-container-highest:  rgb(224, 208, 172);
    --md-sys-color-surface-container-low:      rgb(142, 133, 118);
    --md-sys-color-surface-container-lowest:   rgb(245, 239, 226);
    --md-sys-color-surface-dim:                rgb(245, 239, 226);
    --md-sys-color-surface-tint:               rgb(44, 108, 160);
    --md-sys-color-surface-variant:            rgb(224, 208, 172);
    --md-sys-color-tertiary:                   rgb(42, 138, 122);
    --md-sys-color-tertiary-container:         rgb(224, 208, 172);
    --md-sys-color-tertiary-fixed:             rgb(42, 138, 122);
    --md-sys-color-tertiary-fixed-dim:         rgb(42, 138, 122);
}
