:root {
    --theme-color: "iA Dark";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(26, 26, 26);
    --md-sys-color-error:                      rgb(216, 133, 104);
    --md-sys-color-error-container:            rgb(34, 34, 34);
    --md-sys-color-inverse-on-surface:         rgb(26, 26, 26);
    --md-sys-color-inverse-primary:            rgb(142, 204, 221);
    --md-sys-color-inverse-surface:            rgb(232, 232, 232);
    --md-sys-color-on-background:              rgb(204, 204, 204);
    --md-sys-color-on-error:                   rgb(26, 26, 26);
    --md-sys-color-on-error-container:         rgb(216, 133, 104);
    --md-sys-color-on-primary:                 rgb(26, 26, 26);
    --md-sys-color-on-primary-container:       rgb(142, 204, 221);
    --md-sys-color-on-primary-fixed:           rgb(26, 26, 26);
    --md-sys-color-on-primary-fixed-variant:   rgb(34, 34, 34);
    --md-sys-color-on-secondary:               rgb(26, 26, 26);
    --md-sys-color-on-secondary-container:     rgb(232, 232, 232);
    --md-sys-color-on-secondary-fixed:         rgb(26, 26, 26);
    --md-sys-color-on-secondary-fixed-variant: rgb(34, 34, 34);
    --md-sys-color-on-surface:                 rgb(204, 204, 204);
    --md-sys-color-on-surface-variant:         rgb(204, 204, 204);
    --md-sys-color-on-tertiary:                rgb(26, 26, 26);
    --md-sys-color-on-tertiary-container:      rgb(232, 232, 232);
    --md-sys-color-on-tertiary-fixed:          rgb(26, 26, 26);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(34, 34, 34);
    --md-sys-color-outline:                    rgb(184, 184, 184);
    --md-sys-color-outline-variant:            rgb(29, 65, 77);
    --md-sys-color-primary:                    rgb(142, 204, 221);
    --md-sys-color-primary-container:          rgb(29, 65, 77);
    --md-sys-color-primary-fixed:              rgb(142, 204, 221);
    --md-sys-color-primary-fixed-dim:          rgb(142, 204, 221);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(185, 142, 178);
    --md-sys-color-secondary-container:        rgb(29, 65, 77);
    --md-sys-color-secondary-fixed:            rgb(185, 142, 178);
    --md-sys-color-secondary-fixed-dim:        rgb(185, 142, 178);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(248, 248, 248);
    --md-sys-color-surface:                    rgb(26, 26, 26);
    --md-sys-color-surface-bright:             rgb(118, 118, 118);
    --md-sys-color-surface-container:          rgb(34, 34, 34);
    --md-sys-color-surface-container-high:     rgb(29, 65, 77);
    --md-sys-color-surface-container-highest:  rgb(29, 65, 77);
    --md-sys-color-surface-container-low:      rgb(34, 34, 34);
    --md-sys-color-surface-container-lowest:   rgb(26, 26, 26);
    --md-sys-color-surface-dim:                rgb(26, 26, 26);
    --md-sys-color-surface-tint:               rgb(142, 204, 221);
    --md-sys-color-surface-variant:            rgb(29, 65, 77);
    --md-sys-color-tertiary:                   rgb(124, 156, 174);
    --md-sys-color-tertiary-container:         rgb(29, 65, 77);
    --md-sys-color-tertiary-fixed:             rgb(124, 156, 174);
    --md-sys-color-tertiary-fixed-dim:         rgb(124, 156, 174);
}
