:root {
    --theme-color: "Oxocarbon Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(242, 244, 248);
    --md-sys-color-error:                      rgb(255, 126, 182);
    --md-sys-color-error-container:            rgb(221, 225, 230);
    --md-sys-color-inverse-on-surface:         rgb(242, 244, 248);
    --md-sys-color-inverse-primary:            rgb(15, 98, 254);
    --md-sys-color-inverse-surface:            rgb(61, 70, 82);
    --md-sys-color-on-background:              rgb(82, 95, 112);
    --md-sys-color-on-error:                   rgb(242, 244, 248);
    --md-sys-color-on-error-container:         rgb(255, 126, 182);
    --md-sys-color-on-primary:                 rgb(242, 244, 248);
    --md-sys-color-on-primary-container:       rgb(15, 98, 254);
    --md-sys-color-on-primary-fixed:           rgb(242, 244, 248);
    --md-sys-color-on-primary-fixed-variant:   rgb(221, 225, 230);
    --md-sys-color-on-secondary:               rgb(242, 244, 248);
    --md-sys-color-on-secondary-container:     rgb(61, 70, 82);
    --md-sys-color-on-secondary-fixed:         rgb(242, 244, 248);
    --md-sys-color-on-secondary-fixed-variant: rgb(221, 225, 230);
    --md-sys-color-on-surface:                 rgb(82, 95, 112);
    --md-sys-color-on-surface-variant:         rgb(82, 95, 112);
    --md-sys-color-on-tertiary:                rgb(242, 244, 248);
    --md-sys-color-on-tertiary-container:      rgb(61, 70, 82);
    --md-sys-color-on-tertiary-fixed:          rgb(242, 244, 248);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(221, 225, 230);
    --md-sys-color-outline:                    rgb(104, 120, 141);
    --md-sys-color-outline-variant:            rgb(190, 198, 207);
    --md-sys-color-primary:                    rgb(15, 98, 254);
    --md-sys-color-primary-container:          rgb(190, 198, 207);
    --md-sys-color-primary-fixed:              rgb(15, 98, 254);
    --md-sys-color-primary-fixed-dim:          rgb(15, 98, 254);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(190, 149, 255);
    --md-sys-color-secondary-container:        rgb(190, 198, 207);
    --md-sys-color-secondary-fixed:            rgb(190, 149, 255);
    --md-sys-color-secondary-fixed-dim:        rgb(190, 149, 255);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(39, 45, 53);
    --md-sys-color-surface:                    rgb(242, 244, 248);
    --md-sys-color-surface-bright:             rgb(161, 172, 186);
    --md-sys-color-surface-container:          rgb(221, 225, 230);
    --md-sys-color-surface-container-high:     rgb(190, 198, 207);
    --md-sys-color-surface-container-highest:  rgb(190, 198, 207);
    --md-sys-color-surface-container-low:      rgb(221, 225, 230);
    --md-sys-color-surface-container-lowest:   rgb(242, 244, 248);
    --md-sys-color-surface-dim:                rgb(242, 244, 248);
    --md-sys-color-surface-tint:               rgb(15, 98, 254);
    --md-sys-color-surface-variant:            rgb(190, 198, 207);
    --md-sys-color-tertiary:                   rgb(103, 58, 183);
    --md-sys-color-tertiary-container:         rgb(190, 198, 207);
    --md-sys-color-tertiary-fixed:             rgb(103, 58, 183);
    --md-sys-color-tertiary-fixed-dim:         rgb(103, 58, 183);
}
