:root {
    --theme-color: "Black Metal (Mayhem)";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(0, 0, 0);
    --md-sys-color-error:                      rgb(95, 135, 135);
    --md-sys-color-error-container:            rgb(18, 18, 18);
    --md-sys-color-inverse-on-surface:         rgb(0, 0, 0);
    --md-sys-color-inverse-primary:            rgb(136, 136, 136);
    --md-sys-color-inverse-surface:            rgb(153, 153, 153);
    --md-sys-color-on-background:              rgb(193, 193, 193);
    --md-sys-color-on-error:                   rgb(0, 0, 0);
    --md-sys-color-on-error-container:         rgb(95, 135, 135);
    --md-sys-color-on-primary:                 rgb(0, 0, 0);
    --md-sys-color-on-primary-container:       rgb(136, 136, 136);
    --md-sys-color-on-primary-fixed:           rgb(0, 0, 0);
    --md-sys-color-on-primary-fixed-variant:   rgb(18, 18, 18);
    --md-sys-color-on-secondary:               rgb(0, 0, 0);
    --md-sys-color-on-secondary-container:     rgb(153, 153, 153);
    --md-sys-color-on-secondary-fixed:         rgb(0, 0, 0);
    --md-sys-color-on-secondary-fixed-variant: rgb(18, 18, 18);
    --md-sys-color-on-surface:                 rgb(193, 193, 193);
    --md-sys-color-on-surface-variant:         rgb(153, 153, 153);
    --md-sys-color-on-tertiary:                rgb(0, 0, 0);
    --md-sys-color-on-tertiary-container:      rgb(153, 153, 153);
    --md-sys-color-on-tertiary-fixed:          rgb(0, 0, 0);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(18, 18, 18);
    --md-sys-color-outline:                    rgb(51, 51, 51);
    --md-sys-color-outline-variant:            rgb(34, 34, 34);
    --md-sys-color-primary:                    rgb(136, 136, 136);
    --md-sys-color-primary-container:          rgb(34, 34, 34);
    --md-sys-color-primary-fixed:              rgb(136, 136, 136);
    --md-sys-color-primary-fixed-dim:          rgb(136, 136, 136);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(153, 153, 153);
    --md-sys-color-secondary-container:        rgb(34, 34, 34);
    --md-sys-color-secondary-fixed:            rgb(153, 153, 153);
    --md-sys-color-secondary-fixed-dim:        rgb(153, 153, 153);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(193, 193, 193);
    --md-sys-color-surface:                    rgb(0, 0, 0);
    --md-sys-color-surface-bright:             rgb(51, 51, 51);
    --md-sys-color-surface-container:          rgb(18, 18, 18);
    --md-sys-color-surface-container-high:     rgb(34, 34, 34);
    --md-sys-color-surface-container-highest:  rgb(34, 34, 34);
    --md-sys-color-surface-container-low:      rgb(18, 18, 18);
    --md-sys-color-surface-container-lowest:   rgb(0, 0, 0);
    --md-sys-color-surface-dim:                rgb(0, 0, 0);
    --md-sys-color-surface-tint:               rgb(136, 136, 136);
    --md-sys-color-surface-variant:            rgb(34, 34, 34);
    --md-sys-color-tertiary:                   rgb(170, 170, 170);
    --md-sys-color-tertiary-container:         rgb(34, 34, 34);
    --md-sys-color-tertiary-fixed:             rgb(170, 170, 170);
    --md-sys-color-tertiary-fixed-dim:         rgb(170, 170, 170);
}
