:root {
    --theme-color: "Nebula";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(34, 39, 59);
    --md-sys-color-error:                      rgb(119, 122, 188);
    --md-sys-color-error-container:            rgb(65, 79, 96);
    --md-sys-color-inverse-on-surface:         rgb(34, 39, 59);
    --md-sys-color-inverse-primary:            rgb(77, 107, 182);
    --md-sys-color-inverse-surface:            rgb(199, 201, 205);
    --md-sys-color-on-background:              rgb(164, 166, 169);
    --md-sys-color-on-error:                   rgb(34, 39, 59);
    --md-sys-color-on-error-container:         rgb(119, 122, 188);
    --md-sys-color-on-primary:                 rgb(34, 39, 59);
    --md-sys-color-on-primary-container:       rgb(77, 107, 182);
    --md-sys-color-on-primary-fixed:           rgb(34, 39, 59);
    --md-sys-color-on-primary-fixed-variant:   rgb(65, 79, 96);
    --md-sys-color-on-secondary:               rgb(34, 39, 59);
    --md-sys-color-on-secondary-container:     rgb(199, 201, 205);
    --md-sys-color-on-secondary-fixed:         rgb(34, 39, 59);
    --md-sys-color-on-secondary-fixed-variant: rgb(65, 79, 96);
    --md-sys-color-on-surface:                 rgb(164, 166, 169);
    --md-sys-color-on-surface-variant:         rgb(164, 166, 169);
    --md-sys-color-on-tertiary:                rgb(34, 39, 59);
    --md-sys-color-on-tertiary-container:      rgb(199, 201, 205);
    --md-sys-color-on-tertiary-fixed:          rgb(34, 39, 59);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(65, 79, 96);
    --md-sys-color-outline:                    rgb(135, 136, 139);
    --md-sys-color-outline-variant:            rgb(90, 131, 128);
    --md-sys-color-primary:                    rgb(77, 107, 182);
    --md-sys-color-primary-container:          rgb(90, 131, 128);
    --md-sys-color-primary-fixed:              rgb(77, 107, 182);
    --md-sys-color-primary-fixed-dim:          rgb(77, 107, 182);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(113, 108, 174);
    --md-sys-color-secondary-container:        rgb(90, 131, 128);
    --md-sys-color-secondary-fixed:            rgb(113, 108, 174);
    --md-sys-color-secondary-fixed-dim:        rgb(113, 108, 174);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(141, 189, 170);
    --md-sys-color-surface:                    rgb(34, 39, 59);
    --md-sys-color-surface-bright:             rgb(110, 111, 114);
    --md-sys-color-surface-container:          rgb(65, 79, 96);
    --md-sys-color-surface-container-high:     rgb(90, 131, 128);
    --md-sys-color-surface-container-highest:  rgb(90, 131, 128);
    --md-sys-color-surface-container-low:      rgb(65, 79, 96);
    --md-sys-color-surface-container-lowest:   rgb(34, 39, 59);
    --md-sys-color-surface-dim:                rgb(34, 39, 59);
    --md-sys-color-surface-tint:               rgb(77, 107, 182);
    --md-sys-color-surface-variant:            rgb(90, 131, 128);
    --md-sys-color-tertiary:                   rgb(34, 111, 104);
    --md-sys-color-tertiary-container:         rgb(90, 131, 128);
    --md-sys-color-tertiary-fixed:             rgb(34, 111, 104);
    --md-sys-color-tertiary-fixed-dim:         rgb(34, 111, 104);
}
