:root {
    --theme-color: "Gruvbox light, hard";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(249, 245, 215);
    --md-sys-color-error:                      rgb(157, 0, 6);
    --md-sys-color-error-container:            rgb(235, 219, 178);
    --md-sys-color-inverse-on-surface:         rgb(249, 245, 215);
    --md-sys-color-inverse-primary:            rgb(7, 102, 120);
    --md-sys-color-inverse-surface:            rgb(60, 56, 54);
    --md-sys-color-on-background:              rgb(80, 73, 69);
    --md-sys-color-on-error:                   rgb(249, 245, 215);
    --md-sys-color-on-error-container:         rgb(157, 0, 6);
    --md-sys-color-on-primary:                 rgb(249, 245, 215);
    --md-sys-color-on-primary-container:       rgb(7, 102, 120);
    --md-sys-color-on-primary-fixed:           rgb(249, 245, 215);
    --md-sys-color-on-primary-fixed-variant:   rgb(235, 219, 178);
    --md-sys-color-on-secondary:               rgb(249, 245, 215);
    --md-sys-color-on-secondary-container:     rgb(60, 56, 54);
    --md-sys-color-on-secondary-fixed:         rgb(249, 245, 215);
    --md-sys-color-on-secondary-fixed-variant: rgb(235, 219, 178);
    --md-sys-color-on-surface:                 rgb(80, 73, 69);
    --md-sys-color-on-surface-variant:         rgb(80, 73, 69);
    --md-sys-color-on-tertiary:                rgb(249, 245, 215);
    --md-sys-color-on-tertiary-container:      rgb(60, 56, 54);
    --md-sys-color-on-tertiary-fixed:          rgb(249, 245, 215);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(235, 219, 178);
    --md-sys-color-outline:                    rgb(102, 92, 84);
    --md-sys-color-outline-variant:            rgb(213, 196, 161);
    --md-sys-color-primary:                    rgb(7, 102, 120);
    --md-sys-color-primary-container:          rgb(213, 196, 161);
    --md-sys-color-primary-fixed:              rgb(7, 102, 120);
    --md-sys-color-primary-fixed-dim:          rgb(7, 102, 120);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(143, 63, 113);
    --md-sys-color-secondary-container:        rgb(213, 196, 161);
    --md-sys-color-secondary-fixed:            rgb(143, 63, 113);
    --md-sys-color-secondary-fixed-dim:        rgb(143, 63, 113);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(40, 40, 40);
    --md-sys-color-surface:                    rgb(249, 245, 215);
    --md-sys-color-surface-bright:             rgb(189, 174, 147);
    --md-sys-color-surface-container:          rgb(235, 219, 178);
    --md-sys-color-surface-container-high:     rgb(213, 196, 161);
    --md-sys-color-surface-container-highest:  rgb(213, 196, 161);
    --md-sys-color-surface-container-low:      rgb(235, 219, 178);
    --md-sys-color-surface-container-lowest:   rgb(249, 245, 215);
    --md-sys-color-surface-dim:                rgb(249, 245, 215);
    --md-sys-color-surface-tint:               rgb(7, 102, 120);
    --md-sys-color-surface-variant:            rgb(213, 196, 161);
    --md-sys-color-tertiary:                   rgb(66, 123, 88);
    --md-sys-color-tertiary-container:         rgb(213, 196, 161);
    --md-sys-color-tertiary-fixed:             rgb(66, 123, 88);
    --md-sys-color-tertiary-fixed-dim:         rgb(66, 123, 88);
}
