:root {
    --theme-color: "Mountain";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(15, 15, 15);
    --md-sys-color-error:                      rgb(172, 138, 140);
    --md-sys-color-error-container:            rgb(25, 25, 25);
    --md-sys-color-inverse-on-surface:         rgb(15, 15, 15);
    --md-sys-color-inverse-primary:            rgb(143, 138, 172);
    --md-sys-color-inverse-surface:            rgb(231, 231, 231);
    --md-sys-color-on-background:              rgb(202, 202, 202);
    --md-sys-color-on-error:                   rgb(15, 15, 15);
    --md-sys-color-on-error-container:         rgb(172, 138, 140);
    --md-sys-color-on-primary:                 rgb(15, 15, 15);
    --md-sys-color-on-primary-container:       rgb(143, 138, 172);
    --md-sys-color-on-primary-fixed:           rgb(15, 15, 15);
    --md-sys-color-on-primary-fixed-variant:   rgb(25, 25, 25);
    --md-sys-color-on-secondary:               rgb(15, 15, 15);
    --md-sys-color-on-secondary-container:     rgb(231, 231, 231);
    --md-sys-color-on-secondary-fixed:         rgb(15, 15, 15);
    --md-sys-color-on-secondary-fixed-variant: rgb(25, 25, 25);
    --md-sys-color-on-surface:                 rgb(202, 202, 202);
    --md-sys-color-on-surface-variant:         rgb(202, 202, 202);
    --md-sys-color-on-tertiary:                rgb(15, 15, 15);
    --md-sys-color-on-tertiary-container:      rgb(231, 231, 231);
    --md-sys-color-on-tertiary-fixed:          rgb(15, 15, 15);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(25, 25, 25);
    --md-sys-color-outline:                    rgb(76, 76, 76);
    --md-sys-color-outline-variant:            rgb(38, 38, 38);
    --md-sys-color-primary:                    rgb(143, 138, 172);
    --md-sys-color-primary-container:          rgb(38, 38, 38);
    --md-sys-color-primary-fixed:              rgb(143, 138, 172);
    --md-sys-color-primary-fixed-dim:          rgb(143, 138, 172);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(172, 138, 172);
    --md-sys-color-secondary-container:        rgb(38, 38, 38);
    --md-sys-color-secondary-fixed:            rgb(172, 138, 172);
    --md-sys-color-secondary-fixed-dim:        rgb(172, 138, 172);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(240, 240, 240);
    --md-sys-color-surface:                    rgb(15, 15, 15);
    --md-sys-color-surface-bright:             rgb(57, 57, 57);
    --md-sys-color-surface-container:          rgb(25, 25, 25);
    --md-sys-color-surface-container-high:     rgb(38, 38, 38);
    --md-sys-color-surface-container-highest:  rgb(38, 38, 38);
    --md-sys-color-surface-container-low:      rgb(25, 25, 25);
    --md-sys-color-surface-container-lowest:   rgb(15, 15, 15);
    --md-sys-color-surface-dim:                rgb(15, 15, 15);
    --md-sys-color-surface-tint:               rgb(143, 138, 172);
    --md-sys-color-surface-variant:            rgb(38, 38, 38);
    --md-sys-color-tertiary:                   rgb(138, 171, 172);
    --md-sys-color-tertiary-container:         rgb(38, 38, 38);
    --md-sys-color-tertiary-fixed:             rgb(138, 171, 172);
    --md-sys-color-tertiary-fixed-dim:         rgb(138, 171, 172);
}
