:root {
    --theme-color: "Yesterday";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(29, 31, 33);
    --md-sys-color-error:                      rgb(200, 40, 41);
    --md-sys-color-error-container:            rgb(40, 42, 46);
    --md-sys-color-inverse-on-surface:         rgb(29, 31, 33);
    --md-sys-color-inverse-primary:            rgb(66, 113, 174);
    --md-sys-color-inverse-surface:            rgb(239, 239, 239);
    --md-sys-color-on-background:              rgb(214, 214, 214);
    --md-sys-color-on-error:                   rgb(29, 31, 33);
    --md-sys-color-on-error-container:         rgb(200, 40, 41);
    --md-sys-color-on-primary:                 rgb(29, 31, 33);
    --md-sys-color-on-primary-container:       rgb(66, 113, 174);
    --md-sys-color-on-primary-fixed:           rgb(29, 31, 33);
    --md-sys-color-on-primary-fixed-variant:   rgb(40, 42, 46);
    --md-sys-color-on-secondary:               rgb(29, 31, 33);
    --md-sys-color-on-secondary-container:     rgb(239, 239, 239);
    --md-sys-color-on-secondary-fixed:         rgb(29, 31, 33);
    --md-sys-color-on-secondary-fixed-variant: rgb(40, 42, 46);
    --md-sys-color-on-surface:                 rgb(214, 214, 214);
    --md-sys-color-on-surface-variant:         rgb(214, 214, 214);
    --md-sys-color-on-tertiary:                rgb(29, 31, 33);
    --md-sys-color-on-tertiary-container:      rgb(239, 239, 239);
    --md-sys-color-on-tertiary-fixed:          rgb(29, 31, 33);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(40, 42, 46);
    --md-sys-color-outline:                    rgb(142, 144, 140);
    --md-sys-color-outline-variant:            rgb(77, 77, 76);
    --md-sys-color-primary:                    rgb(66, 113, 174);
    --md-sys-color-primary-container:          rgb(77, 77, 76);
    --md-sys-color-primary-fixed:              rgb(66, 113, 174);
    --md-sys-color-primary-fixed-dim:          rgb(66, 113, 174);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(137, 89, 168);
    --md-sys-color-secondary-container:        rgb(77, 77, 76);
    --md-sys-color-secondary-fixed:            rgb(137, 89, 168);
    --md-sys-color-secondary-fixed-dim:        rgb(137, 89, 168);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(255, 255, 255);
    --md-sys-color-surface:                    rgb(29, 31, 33);
    --md-sys-color-surface-bright:             rgb(150, 152, 150);
    --md-sys-color-surface-container:          rgb(40, 42, 46);
    --md-sys-color-surface-container-high:     rgb(77, 77, 76);
    --md-sys-color-surface-container-highest:  rgb(77, 77, 76);
    --md-sys-color-surface-container-low:      rgb(40, 42, 46);
    --md-sys-color-surface-container-lowest:   rgb(29, 31, 33);
    --md-sys-color-surface-dim:                rgb(29, 31, 33);
    --md-sys-color-surface-tint:               rgb(66, 113, 174);
    --md-sys-color-surface-variant:            rgb(77, 77, 76);
    --md-sys-color-tertiary:                   rgb(62, 153, 159);
    --md-sys-color-tertiary-container:         rgb(77, 77, 76);
    --md-sys-color-tertiary-fixed:             rgb(62, 153, 159);
    --md-sys-color-tertiary-fixed-dim:         rgb(62, 153, 159);
}
