:root {
    --theme-color: "Railscasts";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(43, 43, 43);
    --md-sys-color-error:                      rgb(218, 73, 57);
    --md-sys-color-error-container:            rgb(39, 41, 53);
    --md-sys-color-inverse-on-surface:         rgb(43, 43, 43);
    --md-sys-color-inverse-primary:            rgb(109, 156, 190);
    --md-sys-color-inverse-surface:            rgb(244, 241, 237);
    --md-sys-color-on-background:              rgb(230, 225, 220);
    --md-sys-color-on-error:                   rgb(43, 43, 43);
    --md-sys-color-on-error-container:         rgb(218, 73, 57);
    --md-sys-color-on-primary:                 rgb(43, 43, 43);
    --md-sys-color-on-primary-container:       rgb(109, 156, 190);
    --md-sys-color-on-primary-fixed:           rgb(43, 43, 43);
    --md-sys-color-on-primary-fixed-variant:   rgb(39, 41, 53);
    --md-sys-color-on-secondary:               rgb(43, 43, 43);
    --md-sys-color-on-secondary-container:     rgb(244, 241, 237);
    --md-sys-color-on-secondary-fixed:         rgb(43, 43, 43);
    --md-sys-color-on-secondary-fixed-variant: rgb(39, 41, 53);
    --md-sys-color-on-surface:                 rgb(230, 225, 220);
    --md-sys-color-on-surface-variant:         rgb(230, 225, 220);
    --md-sys-color-on-tertiary:                rgb(43, 43, 43);
    --md-sys-color-on-tertiary-container:      rgb(244, 241, 237);
    --md-sys-color-on-tertiary-fixed:          rgb(43, 43, 43);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(39, 41, 53);
    --md-sys-color-outline:                    rgb(212, 207, 201);
    --md-sys-color-outline-variant:            rgb(58, 64, 85);
    --md-sys-color-primary:                    rgb(109, 156, 190);
    --md-sys-color-primary-container:          rgb(58, 64, 85);
    --md-sys-color-primary-fixed:              rgb(109, 156, 190);
    --md-sys-color-primary-fixed-dim:          rgb(109, 156, 190);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(182, 179, 235);
    --md-sys-color-secondary-container:        rgb(58, 64, 85);
    --md-sys-color-secondary-fixed:            rgb(182, 179, 235);
    --md-sys-color-secondary-fixed-dim:        rgb(182, 179, 235);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(249, 247, 243);
    --md-sys-color-surface:                    rgb(43, 43, 43);
    --md-sys-color-surface-bright:             rgb(90, 100, 126);
    --md-sys-color-surface-container:          rgb(39, 41, 53);
    --md-sys-color-surface-container-high:     rgb(58, 64, 85);
    --md-sys-color-surface-container-highest:  rgb(58, 64, 85);
    --md-sys-color-surface-container-low:      rgb(39, 41, 53);
    --md-sys-color-surface-container-lowest:   rgb(43, 43, 43);
    --md-sys-color-surface-dim:                rgb(43, 43, 43);
    --md-sys-color-surface-tint:               rgb(109, 156, 190);
    --md-sys-color-surface-variant:            rgb(58, 64, 85);
    --md-sys-color-tertiary:                   rgb(81, 159, 80);
    --md-sys-color-tertiary-container:         rgb(58, 64, 85);
    --md-sys-color-tertiary-fixed:             rgb(81, 159, 80);
    --md-sys-color-tertiary-fixed-dim:         rgb(81, 159, 80);
}
