:root {
    --theme-color: "Icy Dark";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(2, 16, 18);
    --md-sys-color-error:                      rgb(22, 193, 217);
    --md-sys-color-error-container:            rgb(3, 22, 25);
    --md-sys-color-inverse-on-surface:         rgb(2, 16, 18);
    --md-sys-color-inverse-primary:            rgb(0, 188, 212);
    --md-sys-color-inverse-surface:            rgb(12, 124, 140);
    --md-sys-color-on-background:              rgb(9, 91, 103);
    --md-sys-color-on-error:                   rgb(2, 16, 18);
    --md-sys-color-on-error-container:         rgb(22, 193, 217);
    --md-sys-color-on-primary:                 rgb(2, 16, 18);
    --md-sys-color-on-primary-container:       rgb(0, 188, 212);
    --md-sys-color-on-primary-fixed:           rgb(2, 16, 18);
    --md-sys-color-on-primary-fixed-variant:   rgb(3, 22, 25);
    --md-sys-color-on-secondary:               rgb(2, 16, 18);
    --md-sys-color-on-secondary-container:     rgb(12, 124, 140);
    --md-sys-color-on-secondary-fixed:         rgb(2, 16, 18);
    --md-sys-color-on-secondary-fixed-variant: rgb(3, 22, 25);
    --md-sys-color-on-surface:                 rgb(9, 91, 103);
    --md-sys-color-on-surface-variant:         rgb(9, 91, 103);
    --md-sys-color-on-tertiary:                rgb(2, 16, 18);
    --md-sys-color-on-tertiary-container:      rgb(12, 124, 140);
    --md-sys-color-on-tertiary-fixed:          rgb(2, 16, 18);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(3, 22, 25);
    --md-sys-color-outline:                    rgb(6, 64, 72);
    --md-sys-color-outline-variant:            rgb(4, 31, 35);
    --md-sys-color-primary:                    rgb(0, 188, 212);
    --md-sys-color-primary-container:          rgb(4, 31, 35);
    --md-sys-color-primary-fixed:              rgb(0, 188, 212);
    --md-sys-color-primary-fixed-dim:          rgb(0, 188, 212);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(0, 172, 193);
    --md-sys-color-secondary-container:        rgb(4, 31, 35);
    --md-sys-color-secondary-fixed:            rgb(0, 172, 193);
    --md-sys-color-secondary-fixed-dim:        rgb(0, 172, 193);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(16, 156, 176);
    --md-sys-color-surface:                    rgb(2, 16, 18);
    --md-sys-color-surface-bright:             rgb(5, 46, 52);
    --md-sys-color-surface-container:          rgb(3, 22, 25);
    --md-sys-color-surface-container-high:     rgb(4, 31, 35);
    --md-sys-color-surface-container-highest:  rgb(4, 31, 35);
    --md-sys-color-surface-container-low:      rgb(3, 22, 25);
    --md-sys-color-surface-container-lowest:   rgb(2, 16, 18);
    --md-sys-color-surface-dim:                rgb(2, 16, 18);
    --md-sys-color-surface-tint:               rgb(0, 188, 212);
    --md-sys-color-surface-variant:            rgb(4, 31, 35);
    --md-sys-color-tertiary:                   rgb(38, 198, 218);
    --md-sys-color-tertiary-container:         rgb(4, 31, 35);
    --md-sys-color-tertiary-fixed:             rgb(38, 198, 218);
    --md-sys-color-tertiary-fixed-dim:         rgb(38, 198, 218);
}
