:root {
    --theme-color: "Tinta";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(16, 16, 18);
    --md-sys-color-error:                      rgb(208, 114, 106);
    --md-sys-color-error-container:            rgb(32, 32, 35);
    --md-sys-color-inverse-on-surface:         rgb(16, 16, 18);
    --md-sys-color-inverse-primary:            rgb(138, 154, 176);
    --md-sys-color-inverse-surface:            rgb(227, 225, 219);
    --md-sys-color-on-background:              rgb(216, 214, 208);
    --md-sys-color-on-error:                   rgb(16, 16, 18);
    --md-sys-color-on-error-container:         rgb(208, 114, 106);
    --md-sys-color-on-primary:                 rgb(16, 16, 18);
    --md-sys-color-on-primary-container:       rgb(138, 154, 176);
    --md-sys-color-on-primary-fixed:           rgb(16, 16, 18);
    --md-sys-color-on-primary-fixed-variant:   rgb(32, 32, 35);
    --md-sys-color-on-secondary:               rgb(16, 16, 18);
    --md-sys-color-on-secondary-container:     rgb(227, 225, 219);
    --md-sys-color-on-secondary-fixed:         rgb(16, 16, 18);
    --md-sys-color-on-secondary-fixed-variant: rgb(32, 32, 35);
    --md-sys-color-on-surface:                 rgb(216, 214, 208);
    --md-sys-color-on-surface-variant:         rgb(216, 214, 208);
    --md-sys-color-on-tertiary:                rgb(16, 16, 18);
    --md-sys-color-on-tertiary-container:      rgb(227, 225, 219);
    --md-sys-color-on-tertiary-fixed:          rgb(16, 16, 18);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(32, 32, 35);
    --md-sys-color-outline:                    rgb(157, 156, 157);
    --md-sys-color-outline-variant:            rgb(44, 44, 48);
    --md-sys-color-primary:                    rgb(138, 154, 176);
    --md-sys-color-primary-container:          rgb(44, 44, 48);
    --md-sys-color-primary-fixed:              rgb(138, 154, 176);
    --md-sys-color-primary-fixed-dim:          rgb(138, 154, 176);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(176, 160, 184);
    --md-sys-color-secondary-container:        rgb(44, 44, 48);
    --md-sys-color-secondary-fixed:            rgb(176, 160, 184);
    --md-sys-color-secondary-fixed-dim:        rgb(176, 160, 184);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(238, 236, 230);
    --md-sys-color-surface:                    rgb(16, 16, 18);
    --md-sys-color-surface-bright:             rgb(98, 98, 106);
    --md-sys-color-surface-container:          rgb(32, 32, 35);
    --md-sys-color-surface-container-high:     rgb(44, 44, 48);
    --md-sys-color-surface-container-highest:  rgb(44, 44, 48);
    --md-sys-color-surface-container-low:      rgb(32, 32, 35);
    --md-sys-color-surface-container-lowest:   rgb(16, 16, 18);
    --md-sys-color-surface-dim:                rgb(16, 16, 18);
    --md-sys-color-surface-tint:               rgb(138, 154, 176);
    --md-sys-color-surface-variant:            rgb(44, 44, 48);
    --md-sys-color-tertiary:                   rgb(128, 184, 180);
    --md-sys-color-tertiary-container:         rgb(44, 44, 48);
    --md-sys-color-tertiary-fixed:             rgb(128, 184, 180);
    --md-sys-color-tertiary-fixed-dim:         rgb(128, 184, 180);
}
