:root {
    --theme-color: "Mellow Purple";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(30, 5, 40);
    --md-sys-color-error:                      rgb(0, 217, 233);
    --md-sys-color-error-container:            rgb(26, 9, 45);
    --md-sys-color-inverse-on-surface:         rgb(30, 5, 40);
    --md-sys-color-inverse-primary:            rgb(85, 0, 104);
    --md-sys-color-inverse-surface:            rgb(255, 238, 255);
    --md-sys-color-on-background:              rgb(255, 238, 255);
    --md-sys-color-on-error:                   rgb(30, 5, 40);
    --md-sys-color-on-error-container:         rgb(0, 217, 233);
    --md-sys-color-on-primary:                 rgb(30, 5, 40);
    --md-sys-color-on-primary-container:       rgb(85, 0, 104);
    --md-sys-color-on-primary-fixed:           rgb(30, 5, 40);
    --md-sys-color-on-primary-fixed-variant:   rgb(26, 9, 45);
    --md-sys-color-on-secondary:               rgb(30, 5, 40);
    --md-sys-color-on-secondary-container:     rgb(255, 238, 255);
    --md-sys-color-on-secondary-fixed:         rgb(30, 5, 40);
    --md-sys-color-on-secondary-fixed-variant: rgb(26, 9, 45);
    --md-sys-color-on-surface:                 rgb(255, 238, 255);
    --md-sys-color-on-surface-variant:         rgb(135, 53, 130);
    --md-sys-color-on-tertiary:                rgb(30, 5, 40);
    --md-sys-color-on-tertiary-container:      rgb(255, 238, 255);
    --md-sys-color-on-tertiary-fixed:          rgb(30, 5, 40);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(26, 9, 45);
    --md-sys-color-outline:                    rgb(50, 15, 85);
    --md-sys-color-outline-variant:            rgb(51, 19, 84);
    --md-sys-color-primary:                    rgb(85, 0, 104);
    --md-sys-color-primary-container:          rgb(51, 19, 84);
    --md-sys-color-primary-fixed:              rgb(85, 0, 104);
    --md-sys-color-primary-fixed-dim:          rgb(85, 0, 104);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(137, 145, 187);
    --md-sys-color-secondary-container:        rgb(51, 19, 84);
    --md-sys-color-secondary-fixed:            rgb(137, 145, 187);
    --md-sys-color-secondary-fixed-dim:        rgb(137, 145, 187);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(248, 192, 255);
    --md-sys-color-surface:                    rgb(30, 5, 40);
    --md-sys-color-surface-bright:             rgb(50, 15, 85);
    --md-sys-color-surface-container:          rgb(26, 9, 45);
    --md-sys-color-surface-container-high:     rgb(51, 19, 84);
    --md-sys-color-surface-container-highest:  rgb(51, 19, 84);
    --md-sys-color-surface-container-low:      rgb(26, 9, 45);
    --md-sys-color-surface-container-lowest:   rgb(30, 5, 40);
    --md-sys-color-surface-dim:                rgb(30, 5, 40);
    --md-sys-color-surface-tint:               rgb(85, 0, 104);
    --md-sys-color-surface-variant:            rgb(51, 19, 84);
    --md-sys-color-tertiary:                   rgb(185, 0, 177);
    --md-sys-color-tertiary-container:         rgb(51, 19, 84);
    --md-sys-color-tertiary-fixed:             rgb(185, 0, 177);
    --md-sys-color-tertiary-fixed-dim:         rgb(185, 0, 177);
}
