:root {
    --theme-color: "Humanoid light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(248, 248, 242);
    --md-sys-color-error:                      rgb(176, 21, 26);
    --md-sys-color-error-container:            rgb(239, 239, 233);
    --md-sys-color-inverse-on-surface:         rgb(248, 248, 242);
    --md-sys-color-inverse-primary:            rgb(0, 130, 201);
    --md-sys-color-inverse-surface:            rgb(47, 51, 55);
    --md-sys-color-on-background:              rgb(35, 38, 41);
    --md-sys-color-on-error:                   rgb(248, 248, 242);
    --md-sys-color-on-error-container:         rgb(176, 21, 26);
    --md-sys-color-on-primary:                 rgb(248, 248, 242);
    --md-sys-color-on-primary-container:       rgb(0, 130, 201);
    --md-sys-color-on-primary-fixed:           rgb(248, 248, 242);
    --md-sys-color-on-primary-fixed-variant:   rgb(239, 239, 233);
    --md-sys-color-on-secondary:               rgb(248, 248, 242);
    --md-sys-color-on-secondary-container:     rgb(47, 51, 55);
    --md-sys-color-on-secondary-fixed:         rgb(248, 248, 242);
    --md-sys-color-on-secondary-fixed-variant: rgb(239, 239, 233);
    --md-sys-color-on-surface:                 rgb(35, 38, 41);
    --md-sys-color-on-surface-variant:         rgb(35, 38, 41);
    --md-sys-color-on-tertiary:                rgb(248, 248, 242);
    --md-sys-color-on-tertiary-container:      rgb(47, 51, 55);
    --md-sys-color-on-tertiary-fixed:          rgb(248, 248, 242);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(239, 239, 233);
    --md-sys-color-outline:                    rgb(96, 97, 93);
    --md-sys-color-outline-variant:            rgb(222, 222, 216);
    --md-sys-color-primary:                    rgb(0, 130, 201);
    --md-sys-color-primary-container:          rgb(222, 222, 216);
    --md-sys-color-primary-fixed:              rgb(0, 130, 201);
    --md-sys-color-primary-fixed-dim:          rgb(0, 130, 201);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(112, 15, 152);
    --md-sys-color-secondary-container:        rgb(222, 222, 216);
    --md-sys-color-secondary-fixed:            rgb(112, 15, 152);
    --md-sys-color-secondary-fixed-dim:        rgb(112, 15, 152);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(7, 7, 8);
    --md-sys-color-surface:                    rgb(248, 248, 242);
    --md-sys-color-surface-bright:             rgb(192, 192, 189);
    --md-sys-color-surface-container:          rgb(239, 239, 233);
    --md-sys-color-surface-container-high:     rgb(222, 222, 216);
    --md-sys-color-surface-container-highest:  rgb(222, 222, 216);
    --md-sys-color-surface-container-low:      rgb(239, 239, 233);
    --md-sys-color-surface-container-lowest:   rgb(248, 248, 242);
    --md-sys-color-surface-dim:                rgb(248, 248, 242);
    --md-sys-color-surface-tint:               rgb(0, 130, 201);
    --md-sys-color-surface-variant:            rgb(222, 222, 216);
    --md-sys-color-tertiary:                   rgb(0, 142, 142);
    --md-sys-color-tertiary-container:         rgb(222, 222, 216);
    --md-sys-color-tertiary-fixed:             rgb(0, 142, 142);
    --md-sys-color-tertiary-fixed-dim:         rgb(0, 142, 142);
}
