:root {
    --theme-color: "Bosque";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(14, 20, 16);
    --md-sys-color-error:                      rgb(226, 112, 106);
    --md-sys-color-error-container:            rgb(22, 33, 26);
    --md-sys-color-inverse-on-surface:         rgb(14, 20, 16);
    --md-sys-color-inverse-primary:            rgb(109, 174, 158);
    --md-sys-color-inverse-surface:            rgb(218, 235, 218);
    --md-sys-color-on-background:              rgb(207, 229, 210);
    --md-sys-color-on-error:                   rgb(14, 20, 16);
    --md-sys-color-on-error-container:         rgb(226, 112, 106);
    --md-sys-color-on-primary:                 rgb(14, 20, 16);
    --md-sys-color-on-primary-container:       rgb(109, 174, 158);
    --md-sys-color-on-primary-fixed:           rgb(14, 20, 16);
    --md-sys-color-on-primary-fixed-variant:   rgb(22, 33, 26);
    --md-sys-color-on-secondary:               rgb(14, 20, 16);
    --md-sys-color-on-secondary-container:     rgb(218, 235, 218);
    --md-sys-color-on-secondary-fixed:         rgb(14, 20, 16);
    --md-sys-color-on-secondary-fixed-variant: rgb(22, 33, 26);
    --md-sys-color-on-surface:                 rgb(207, 229, 210);
    --md-sys-color-on-surface-variant:         rgb(207, 229, 210);
    --md-sys-color-on-tertiary:                rgb(14, 20, 16);
    --md-sys-color-on-tertiary-container:      rgb(218, 235, 218);
    --md-sys-color-on-tertiary-fixed:          rgb(14, 20, 16);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(22, 33, 26);
    --md-sys-color-outline:                    rgb(150, 170, 152);
    --md-sys-color-outline-variant:            rgb(30, 48, 35);
    --md-sys-color-primary:                    rgb(109, 174, 158);
    --md-sys-color-primary-container:          rgb(30, 48, 35);
    --md-sys-color-primary-fixed:              rgb(109, 174, 158);
    --md-sys-color-primary-fixed-dim:          rgb(109, 174, 158);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(184, 148, 208);
    --md-sys-color-secondary-container:        rgb(30, 48, 35);
    --md-sys-color-secondary-fixed:            rgb(184, 148, 208);
    --md-sys-color-secondary-fixed-dim:        rgb(184, 148, 208);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(228, 240, 226);
    --md-sys-color-surface:                    rgb(14, 20, 16);
    --md-sys-color-surface-bright:             rgb(92, 110, 94);
    --md-sys-color-surface-container:          rgb(22, 33, 26);
    --md-sys-color-surface-container-high:     rgb(30, 48, 35);
    --md-sys-color-surface-container-highest:  rgb(30, 48, 35);
    --md-sys-color-surface-container-low:      rgb(22, 33, 26);
    --md-sys-color-surface-container-lowest:   rgb(14, 20, 16);
    --md-sys-color-surface-dim:                rgb(14, 20, 16);
    --md-sys-color-surface-tint:               rgb(109, 174, 158);
    --md-sys-color-surface-variant:            rgb(30, 48, 35);
    --md-sys-color-tertiary:                   rgb(95, 208, 184);
    --md-sys-color-tertiary-container:         rgb(30, 48, 35);
    --md-sys-color-tertiary-fixed:             rgb(95, 208, 184);
    --md-sys-color-tertiary-fixed-dim:         rgb(95, 208, 184);
}
