:root {
    --theme-color: "Atelier Heath";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(27, 24, 27);
    --md-sys-color-error:                      rgb(202, 64, 43);
    --md-sys-color-error-container:            rgb(41, 35, 41);
    --md-sys-color-inverse-on-surface:         rgb(27, 24, 27);
    --md-sys-color-inverse-primary:            rgb(81, 106, 236);
    --md-sys-color-inverse-surface:            rgb(216, 202, 216);
    --md-sys-color-on-background:              rgb(171, 155, 171);
    --md-sys-color-on-error:                   rgb(27, 24, 27);
    --md-sys-color-on-error-container:         rgb(202, 64, 43);
    --md-sys-color-on-primary:                 rgb(27, 24, 27);
    --md-sys-color-on-primary-container:       rgb(81, 106, 236);
    --md-sys-color-on-primary-fixed:           rgb(27, 24, 27);
    --md-sys-color-on-primary-fixed-variant:   rgb(41, 35, 41);
    --md-sys-color-on-secondary:               rgb(27, 24, 27);
    --md-sys-color-on-secondary-container:     rgb(216, 202, 216);
    --md-sys-color-on-secondary-fixed:         rgb(27, 24, 27);
    --md-sys-color-on-secondary-fixed-variant: rgb(41, 35, 41);
    --md-sys-color-on-surface:                 rgb(171, 155, 171);
    --md-sys-color-on-surface-variant:         rgb(158, 143, 158);
    --md-sys-color-on-tertiary:                rgb(27, 24, 27);
    --md-sys-color-on-tertiary-container:      rgb(216, 202, 216);
    --md-sys-color-on-tertiary-fixed:          rgb(27, 24, 27);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(41, 35, 41);
    --md-sys-color-outline:                    rgb(119, 105, 119);
    --md-sys-color-outline-variant:            rgb(105, 93, 105);
    --md-sys-color-primary:                    rgb(81, 106, 236);
    --md-sys-color-primary-container:          rgb(105, 93, 105);
    --md-sys-color-primary-fixed:              rgb(81, 106, 236);
    --md-sys-color-primary-fixed-dim:          rgb(81, 106, 236);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(123, 89, 192);
    --md-sys-color-secondary-container:        rgb(105, 93, 105);
    --md-sys-color-secondary-fixed:            rgb(123, 89, 192);
    --md-sys-color-secondary-fixed-dim:        rgb(123, 89, 192);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(247, 243, 247);
    --md-sys-color-surface:                    rgb(27, 24, 27);
    --md-sys-color-surface-bright:             rgb(119, 105, 119);
    --md-sys-color-surface-container:          rgb(41, 35, 41);
    --md-sys-color-surface-container-high:     rgb(105, 93, 105);
    --md-sys-color-surface-container-highest:  rgb(105, 93, 105);
    --md-sys-color-surface-container-low:      rgb(41, 35, 41);
    --md-sys-color-surface-container-lowest:   rgb(27, 24, 27);
    --md-sys-color-surface-dim:                rgb(27, 24, 27);
    --md-sys-color-surface-tint:               rgb(81, 106, 236);
    --md-sys-color-surface-variant:            rgb(105, 93, 105);
    --md-sys-color-tertiary:                   rgb(21, 147, 147);
    --md-sys-color-tertiary-container:         rgb(105, 93, 105);
    --md-sys-color-tertiary-fixed:             rgb(21, 147, 147);
    --md-sys-color-tertiary-fixed-dim:         rgb(21, 147, 147);
}
