:root {
    --theme-color: "Horizon Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(253, 240, 237);
    --md-sys-color-error:                      rgb(247, 147, 155);
    --md-sys-color-error-container:            rgb(250, 218, 209);
    --md-sys-color-inverse-on-surface:         rgb(253, 240, 237);
    --md-sys-color-inverse-primary:            rgb(218, 16, 63);
    --md-sys-color-inverse-surface:            rgb(48, 44, 45);
    --md-sys-color-on-background:              rgb(64, 60, 61);
    --md-sys-color-on-error:                   rgb(253, 240, 237);
    --md-sys-color-on-error-container:         rgb(247, 147, 155);
    --md-sys-color-on-primary:                 rgb(253, 240, 237);
    --md-sys-color-on-primary-container:       rgb(218, 16, 63);
    --md-sys-color-on-primary-fixed:           rgb(253, 240, 237);
    --md-sys-color-on-primary-fixed-variant:   rgb(250, 218, 209);
    --md-sys-color-on-secondary:               rgb(253, 240, 237);
    --md-sys-color-on-secondary-container:     rgb(48, 44, 45);
    --md-sys-color-on-secondary-fixed:         rgb(253, 240, 237);
    --md-sys-color-on-secondary-fixed-variant: rgb(250, 218, 209);
    --md-sys-color-on-surface:                 rgb(64, 60, 61);
    --md-sys-color-on-surface-variant:         rgb(64, 60, 61);
    --md-sys-color-on-tertiary:                rgb(253, 240, 237);
    --md-sys-color-on-tertiary-container:      rgb(48, 44, 45);
    --md-sys-color-on-tertiary-fixed:          rgb(253, 240, 237);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(250, 218, 209);
    --md-sys-color-outline:                    rgb(148, 140, 138);
    --md-sys-color-outline-variant:            rgb(249, 203, 190);
    --md-sys-color-primary:                    rgb(218, 16, 63);
    --md-sys-color-primary-container:          rgb(249, 203, 190);
    --md-sys-color-primary-fixed:              rgb(218, 16, 63);
    --md-sys-color-primary-fixed-dim:          rgb(218, 16, 63);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(29, 137, 145);
    --md-sys-color-secondary-container:        rgb(249, 203, 190);
    --md-sys-color-secondary-fixed:            rgb(29, 137, 145);
    --md-sys-color-secondary-fixed-dim:        rgb(29, 137, 145);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(32, 28, 29);
    --md-sys-color-surface:                    rgb(253, 240, 237);
    --md-sys-color-surface-bright:             rgb(189, 179, 177);
    --md-sys-color-surface-container:          rgb(250, 218, 209);
    --md-sys-color-surface-container-high:     rgb(249, 203, 190);
    --md-sys-color-surface-container-highest:  rgb(249, 203, 190);
    --md-sys-color-surface-container-low:      rgb(250, 218, 209);
    --md-sys-color-surface-container-lowest:   rgb(253, 240, 237);
    --md-sys-color-surface-dim:                rgb(253, 240, 237);
    --md-sys-color-surface-tint:               rgb(218, 16, 63);
    --md-sys-color-surface-variant:            rgb(249, 203, 190);
    --md-sys-color-tertiary:                   rgb(220, 51, 24);
    --md-sys-color-tertiary-container:         rgb(249, 203, 190);
    --md-sys-color-tertiary-fixed:             rgb(220, 51, 24);
    --md-sys-color-tertiary-fixed-dim:         rgb(220, 51, 24);
}
