:root {
    --theme-color: "Framer";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(24, 24, 24);
    --md-sys-color-error:                      rgb(253, 136, 107);
    --md-sys-color-error-container:            rgb(21, 21, 21);
    --md-sys-color-inverse-on-surface:         rgb(24, 24, 24);
    --md-sys-color-inverse-primary:            rgb(32, 188, 252);
    --md-sys-color-inverse-surface:            rgb(232, 232, 232);
    --md-sys-color-on-background:              rgb(208, 208, 208);
    --md-sys-color-on-error:                   rgb(24, 24, 24);
    --md-sys-color-on-error-container:         rgb(253, 136, 107);
    --md-sys-color-on-primary:                 rgb(24, 24, 24);
    --md-sys-color-on-primary-container:       rgb(32, 188, 252);
    --md-sys-color-on-primary-fixed:           rgb(24, 24, 24);
    --md-sys-color-on-primary-fixed-variant:   rgb(21, 21, 21);
    --md-sys-color-on-secondary:               rgb(24, 24, 24);
    --md-sys-color-on-secondary-container:     rgb(232, 232, 232);
    --md-sys-color-on-secondary-fixed:         rgb(24, 24, 24);
    --md-sys-color-on-secondary-fixed-variant: rgb(21, 21, 21);
    --md-sys-color-on-surface:                 rgb(208, 208, 208);
    --md-sys-color-on-surface-variant:         rgb(185, 185, 185);
    --md-sys-color-on-tertiary:                rgb(24, 24, 24);
    --md-sys-color-on-tertiary-container:      rgb(232, 232, 232);
    --md-sys-color-on-tertiary-fixed:          rgb(24, 24, 24);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(21, 21, 21);
    --md-sys-color-outline:                    rgb(116, 116, 116);
    --md-sys-color-outline-variant:            rgb(70, 70, 70);
    --md-sys-color-primary:                    rgb(32, 188, 252);
    --md-sys-color-primary-container:          rgb(70, 70, 70);
    --md-sys-color-primary-fixed:              rgb(32, 188, 252);
    --md-sys-color-primary-fixed-dim:          rgb(32, 188, 252);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(186, 140, 252);
    --md-sys-color-secondary-container:        rgb(70, 70, 70);
    --md-sys-color-secondary-fixed:            rgb(186, 140, 252);
    --md-sys-color-secondary-fixed-dim:        rgb(186, 140, 252);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(238, 238, 238);
    --md-sys-color-surface:                    rgb(24, 24, 24);
    --md-sys-color-surface-bright:             rgb(116, 116, 116);
    --md-sys-color-surface-container:          rgb(21, 21, 21);
    --md-sys-color-surface-container-high:     rgb(70, 70, 70);
    --md-sys-color-surface-container-highest:  rgb(70, 70, 70);
    --md-sys-color-surface-container-low:      rgb(21, 21, 21);
    --md-sys-color-surface-container-lowest:   rgb(24, 24, 24);
    --md-sys-color-surface-dim:                rgb(24, 24, 24);
    --md-sys-color-surface-tint:               rgb(32, 188, 252);
    --md-sys-color-surface-variant:            rgb(70, 70, 70);
    --md-sys-color-tertiary:                   rgb(172, 221, 253);
    --md-sys-color-tertiary-container:         rgb(70, 70, 70);
    --md-sys-color-tertiary-fixed:             rgb(172, 221, 253);
    --md-sys-color-tertiary-fixed-dim:         rgb(172, 221, 253);
}
