:root {
    --theme-color: "Apprentice";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(38, 38, 38);
    --md-sys-color-error:                      rgb(68, 68, 68);
    --md-sys-color-error-container:            rgb(175, 95, 95);
    --md-sys-color-inverse-on-surface:         rgb(38, 38, 38);
    --md-sys-color-inverse-primary:            rgb(135, 135, 175);
    --md-sys-color-inverse-surface:            rgb(95, 135, 135);
    --md-sys-color-on-background:              rgb(95, 95, 135);
    --md-sys-color-on-error:                   rgb(38, 38, 38);
    --md-sys-color-on-error-container:         rgb(68, 68, 68);
    --md-sys-color-on-primary:                 rgb(38, 38, 38);
    --md-sys-color-on-primary-container:       rgb(135, 135, 175);
    --md-sys-color-on-primary-fixed:           rgb(38, 38, 38);
    --md-sys-color-on-primary-fixed-variant:   rgb(175, 95, 95);
    --md-sys-color-on-secondary:               rgb(38, 38, 38);
    --md-sys-color-on-secondary-container:     rgb(95, 135, 135);
    --md-sys-color-on-secondary-fixed:         rgb(38, 38, 38);
    --md-sys-color-on-secondary-fixed-variant: rgb(175, 95, 95);
    --md-sys-color-on-surface:                 rgb(95, 95, 135);
    --md-sys-color-on-surface-variant:         rgb(95, 135, 175);
    --md-sys-color-on-tertiary:                rgb(38, 38, 38);
    --md-sys-color-on-tertiary-container:      rgb(95, 135, 135);
    --md-sys-color-on-tertiary-fixed:          rgb(38, 38, 38);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(175, 95, 95);
    --md-sys-color-outline:                    rgb(135, 135, 95);
    --md-sys-color-outline-variant:            rgb(95, 135, 95);
    --md-sys-color-primary:                    rgb(135, 135, 175);
    --md-sys-color-primary-container:          rgb(95, 135, 95);
    --md-sys-color-primary-fixed:              rgb(135, 135, 175);
    --md-sys-color-primary-fixed-dim:          rgb(135, 135, 175);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(95, 175, 175);
    --md-sys-color-secondary-container:        rgb(95, 135, 95);
    --md-sys-color-secondary-fixed:            rgb(95, 175, 175);
    --md-sys-color-secondary-fixed-dim:        rgb(95, 175, 175);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(108, 108, 108);
    --md-sys-color-surface:                    rgb(38, 38, 38);
    --md-sys-color-surface-bright:             rgb(135, 135, 95);
    --md-sys-color-surface-container:          rgb(175, 95, 95);
    --md-sys-color-surface-container-high:     rgb(95, 135, 95);
    --md-sys-color-surface-container-highest:  rgb(95, 135, 95);
    --md-sys-color-surface-container-low:      rgb(175, 95, 95);
    --md-sys-color-surface-container-lowest:   rgb(38, 38, 38);
    --md-sys-color-surface-dim:                rgb(38, 38, 38);
    --md-sys-color-surface-tint:               rgb(135, 135, 175);
    --md-sys-color-surface-variant:            rgb(95, 135, 95);
    --md-sys-color-tertiary:                   rgb(135, 175, 215);
    --md-sys-color-tertiary-container:         rgb(95, 135, 95);
    --md-sys-color-tertiary-fixed:             rgb(135, 175, 215);
    --md-sys-color-tertiary-fixed-dim:         rgb(135, 175, 215);
}
