:root {
    --theme-color: "Stella";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(43, 33, 60);
    --md-sys-color-error:                      rgb(199, 153, 135);
    --md-sys-color-error-container:            rgb(54, 43, 72);
    --md-sys-color-inverse-on-surface:         rgb(43, 33, 60);
    --md-sys-color-inverse-primary:            rgb(165, 170, 212);
    --md-sys-color-inverse-surface:            rgb(180, 165, 200);
    --md-sys-color-on-background:              rgb(153, 139, 173);
    --md-sys-color-on-error:                   rgb(43, 33, 60);
    --md-sys-color-on-error-container:         rgb(199, 153, 135);
    --md-sys-color-on-primary:                 rgb(43, 33, 60);
    --md-sys-color-on-primary-container:       rgb(165, 170, 212);
    --md-sys-color-on-primary-fixed:           rgb(43, 33, 60);
    --md-sys-color-on-primary-fixed-variant:   rgb(54, 43, 72);
    --md-sys-color-on-secondary:               rgb(43, 33, 60);
    --md-sys-color-on-secondary-container:     rgb(180, 165, 200);
    --md-sys-color-on-secondary-fixed:         rgb(43, 33, 60);
    --md-sys-color-on-secondary-fixed-variant: rgb(54, 43, 72);
    --md-sys-color-on-surface:                 rgb(153, 139, 173);
    --md-sys-color-on-surface-variant:         rgb(127, 113, 146);
    --md-sys-color-on-tertiary:                rgb(43, 33, 60);
    --md-sys-color-on-tertiary-container:      rgb(180, 165, 200);
    --md-sys-color-on-tertiary-fixed:          rgb(43, 33, 60);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(54, 43, 72);
    --md-sys-color-outline:                    rgb(101, 89, 120);
    --md-sys-color-outline-variant:            rgb(77, 65, 96);
    --md-sys-color-primary:                    rgb(165, 170, 212);
    --md-sys-color-primary-container:          rgb(77, 65, 96);
    --md-sys-color-primary-fixed:              rgb(165, 170, 212);
    --md-sys-color-primary-fixed-dim:          rgb(165, 170, 212);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(197, 148, 255);
    --md-sys-color-secondary-container:        rgb(77, 65, 96);
    --md-sys-color-secondary-fixed:            rgb(197, 148, 255);
    --md-sys-color-secondary-fixed-dim:        rgb(197, 148, 255);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(235, 220, 255);
    --md-sys-color-surface:                    rgb(43, 33, 60);
    --md-sys-color-surface-bright:             rgb(101, 89, 120);
    --md-sys-color-surface-container:          rgb(54, 43, 72);
    --md-sys-color-surface-container-high:     rgb(77, 65, 96);
    --md-sys-color-surface-container-highest:  rgb(77, 65, 96);
    --md-sys-color-surface-container-low:      rgb(54, 43, 72);
    --md-sys-color-surface-container-lowest:   rgb(43, 33, 60);
    --md-sys-color-surface-dim:                rgb(43, 33, 60);
    --md-sys-color-surface-tint:               rgb(165, 170, 212);
    --md-sys-color-surface-variant:            rgb(77, 65, 96);
    --md-sys-color-tertiary:                   rgb(155, 199, 191);
    --md-sys-color-tertiary-container:         rgb(77, 65, 96);
    --md-sys-color-tertiary-fixed:             rgb(155, 199, 191);
    --md-sys-color-tertiary-fixed-dim:         rgb(155, 199, 191);
}
