:root {
    --theme-color: "Chinoiserie Morandi";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(29, 29, 29);
    --md-sys-color-error:                      rgb(192, 96, 97);
    --md-sys-color-error-container:            rgb(40, 40, 40);
    --md-sys-color-inverse-on-surface:         rgb(29, 29, 29);
    --md-sys-color-inverse-primary:            rgb(131, 158, 201);
    --md-sys-color-inverse-surface:            rgb(238, 231, 242);
    --md-sys-color-on-background:              rgb(196, 203, 207);
    --md-sys-color-on-error:                   rgb(29, 29, 29);
    --md-sys-color-on-error-container:         rgb(192, 96, 97);
    --md-sys-color-on-primary:                 rgb(29, 29, 29);
    --md-sys-color-on-primary-container:       rgb(131, 158, 201);
    --md-sys-color-on-primary-fixed:           rgb(29, 29, 29);
    --md-sys-color-on-primary-fixed-variant:   rgb(40, 40, 40);
    --md-sys-color-on-secondary:               rgb(29, 29, 29);
    --md-sys-color-on-secondary-container:     rgb(238, 231, 242);
    --md-sys-color-on-secondary-fixed:         rgb(29, 29, 29);
    --md-sys-color-on-secondary-fixed-variant: rgb(40, 40, 40);
    --md-sys-color-on-surface:                 rgb(196, 203, 207);
    --md-sys-color-on-surface-variant:         rgb(189, 174, 173);
    --md-sys-color-on-tertiary:                rgb(29, 29, 29);
    --md-sys-color-on-tertiary-container:      rgb(238, 231, 242);
    --md-sys-color-on-tertiary-fixed:          rgb(29, 29, 29);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(40, 40, 40);
    --md-sys-color-outline:                    rgb(145, 128, 114);
    --md-sys-color-outline-variant:            rgb(55, 55, 55);
    --md-sys-color-primary:                    rgb(131, 158, 201);
    --md-sys-color-primary-container:          rgb(55, 55, 55);
    --md-sys-color-primary-fixed:              rgb(131, 158, 201);
    --md-sys-color-primary-fixed-dim:          rgb(131, 158, 201);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(152, 161, 216);
    --md-sys-color-secondary-container:        rgb(55, 55, 55);
    --md-sys-color-secondary-fixed:            rgb(152, 161, 216);
    --md-sys-color-secondary-fixed-dim:        rgb(152, 161, 216);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(255, 254, 249);
    --md-sys-color-surface:                    rgb(29, 29, 29);
    --md-sys-color-surface-bright:             rgb(145, 128, 114);
    --md-sys-color-surface-container:          rgb(40, 40, 40);
    --md-sys-color-surface-container-high:     rgb(55, 55, 55);
    --md-sys-color-surface-container-highest:  rgb(55, 55, 55);
    --md-sys-color-surface-container-low:      rgb(40, 40, 40);
    --md-sys-color-surface-container-lowest:   rgb(29, 29, 29);
    --md-sys-color-surface-dim:                rgb(29, 29, 29);
    --md-sys-color-surface-tint:               rgb(131, 158, 201);
    --md-sys-color-surface-variant:            rgb(55, 55, 55);
    --md-sys-color-tertiary:                   rgb(94, 140, 155);
    --md-sys-color-tertiary-container:         rgb(55, 55, 55);
    --md-sys-color-tertiary-fixed:             rgb(94, 140, 155);
    --md-sys-color-tertiary-fixed-dim:         rgb(94, 140, 155);
}
