:root {
    --theme-color: "Monokai";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(39, 40, 34);
    --md-sys-color-error:                      rgb(249, 38, 114);
    --md-sys-color-error-container:            rgb(56, 56, 48);
    --md-sys-color-inverse-on-surface:         rgb(39, 40, 34);
    --md-sys-color-inverse-primary:            rgb(102, 217, 239);
    --md-sys-color-inverse-surface:            rgb(245, 244, 241);
    --md-sys-color-on-background:              rgb(248, 248, 242);
    --md-sys-color-on-error:                   rgb(39, 40, 34);
    --md-sys-color-on-error-container:         rgb(249, 38, 114);
    --md-sys-color-on-primary:                 rgb(39, 40, 34);
    --md-sys-color-on-primary-container:       rgb(102, 217, 239);
    --md-sys-color-on-primary-fixed:           rgb(39, 40, 34);
    --md-sys-color-on-primary-fixed-variant:   rgb(56, 56, 48);
    --md-sys-color-on-secondary:               rgb(39, 40, 34);
    --md-sys-color-on-secondary-container:     rgb(245, 244, 241);
    --md-sys-color-on-secondary-fixed:         rgb(39, 40, 34);
    --md-sys-color-on-secondary-fixed-variant: rgb(56, 56, 48);
    --md-sys-color-on-surface:                 rgb(248, 248, 242);
    --md-sys-color-on-surface-variant:         rgb(165, 159, 133);
    --md-sys-color-on-tertiary:                rgb(39, 40, 34);
    --md-sys-color-on-tertiary-container:      rgb(245, 244, 241);
    --md-sys-color-on-tertiary-fixed:          rgb(39, 40, 34);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(56, 56, 48);
    --md-sys-color-outline:                    rgb(117, 113, 94);
    --md-sys-color-outline-variant:            rgb(73, 72, 62);
    --md-sys-color-primary:                    rgb(102, 217, 239);
    --md-sys-color-primary-container:          rgb(73, 72, 62);
    --md-sys-color-primary-fixed:              rgb(102, 217, 239);
    --md-sys-color-primary-fixed-dim:          rgb(102, 217, 239);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(174, 129, 255);
    --md-sys-color-secondary-container:        rgb(73, 72, 62);
    --md-sys-color-secondary-fixed:            rgb(174, 129, 255);
    --md-sys-color-secondary-fixed-dim:        rgb(174, 129, 255);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(249, 248, 245);
    --md-sys-color-surface:                    rgb(39, 40, 34);
    --md-sys-color-surface-bright:             rgb(117, 113, 94);
    --md-sys-color-surface-container:          rgb(56, 56, 48);
    --md-sys-color-surface-container-high:     rgb(73, 72, 62);
    --md-sys-color-surface-container-highest:  rgb(73, 72, 62);
    --md-sys-color-surface-container-low:      rgb(56, 56, 48);
    --md-sys-color-surface-container-lowest:   rgb(39, 40, 34);
    --md-sys-color-surface-dim:                rgb(39, 40, 34);
    --md-sys-color-surface-tint:               rgb(102, 217, 239);
    --md-sys-color-surface-variant:            rgb(73, 72, 62);
    --md-sys-color-tertiary:                   rgb(161, 239, 228);
    --md-sys-color-tertiary-container:         rgb(73, 72, 62);
    --md-sys-color-tertiary-fixed:             rgb(161, 239, 228);
    --md-sys-color-tertiary-fixed-dim:         rgb(161, 239, 228);
}
