:root {
    --theme-color: "Cyberpunk";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(0, 0, 0);
    --md-sys-color-error:                      rgb(255, 0, 0);
    --md-sys-color-error-container:            rgb(43, 43, 43);
    --md-sys-color-inverse-on-surface:         rgb(0, 0, 0);
    --md-sys-color-inverse-primary:            rgb(76, 131, 255);
    --md-sys-color-inverse-surface:            rgb(248, 248, 248);
    --md-sys-color-on-background:              rgb(220, 220, 204);
    --md-sys-color-on-error:                   rgb(0, 0, 0);
    --md-sys-color-on-error-container:         rgb(255, 0, 0);
    --md-sys-color-on-primary:                 rgb(0, 0, 0);
    --md-sys-color-on-primary-container:       rgb(76, 131, 255);
    --md-sys-color-on-primary-fixed:           rgb(0, 0, 0);
    --md-sys-color-on-primary-fixed-variant:   rgb(43, 43, 43);
    --md-sys-color-on-secondary:               rgb(0, 0, 0);
    --md-sys-color-on-secondary-container:     rgb(248, 248, 248);
    --md-sys-color-on-secondary-fixed:         rgb(0, 0, 0);
    --md-sys-color-on-secondary-fixed-variant: rgb(43, 43, 43);
    --md-sys-color-on-surface:                 rgb(220, 220, 204);
    --md-sys-color-on-surface-variant:         rgb(139, 137, 137);
    --md-sys-color-on-tertiary:                rgb(0, 0, 0);
    --md-sys-color-on-tertiary-container:      rgb(248, 248, 248);
    --md-sys-color-on-tertiary-fixed:          rgb(0, 0, 0);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(43, 43, 43);
    --md-sys-color-outline:                    rgb(79, 79, 79);
    --md-sys-color-outline-variant:            rgb(56, 56, 56);
    --md-sys-color-primary:                    rgb(76, 131, 255);
    --md-sys-color-primary-container:          rgb(56, 56, 56);
    --md-sys-color-primary-fixed:              rgb(76, 131, 255);
    --md-sys-color-primary-fixed-dim:          rgb(76, 131, 255);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(255, 20, 147);
    --md-sys-color-secondary-container:        rgb(56, 56, 56);
    --md-sys-color-secondary-fixed:            rgb(255, 20, 147);
    --md-sys-color-secondary-fixed-dim:        rgb(255, 20, 147);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(255, 255, 255);
    --md-sys-color-surface:                    rgb(0, 0, 0);
    --md-sys-color-surface-bright:             rgb(79, 79, 79);
    --md-sys-color-surface-container:          rgb(43, 43, 43);
    --md-sys-color-surface-container-high:     rgb(56, 56, 56);
    --md-sys-color-surface-container-highest:  rgb(56, 56, 56);
    --md-sys-color-surface-container-low:      rgb(43, 43, 43);
    --md-sys-color-surface-container-lowest:   rgb(0, 0, 0);
    --md-sys-color-surface-dim:                rgb(0, 0, 0);
    --md-sys-color-surface-tint:               rgb(76, 131, 255);
    --md-sys-color-surface-variant:            rgb(56, 56, 56);
    --md-sys-color-tertiary:                   rgb(147, 224, 227);
    --md-sys-color-tertiary-container:         rgb(56, 56, 56);
    --md-sys-color-tertiary-fixed:             rgb(147, 224, 227);
    --md-sys-color-tertiary-fixed-dim:         rgb(147, 224, 227);
}
