:root {
    --theme-color: "Atelier Sulphurpool Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(245, 247, 255);
    --md-sys-color-error:                      rgb(201, 73, 34);
    --md-sys-color-error-container:            rgb(223, 226, 241);
    --md-sys-color-inverse-on-surface:         rgb(245, 247, 255);
    --md-sys-color-inverse-primary:            rgb(61, 143, 209);
    --md-sys-color-inverse-surface:            rgb(41, 50, 86);
    --md-sys-color-on-background:              rgb(94, 102, 135);
    --md-sys-color-on-error:                   rgb(245, 247, 255);
    --md-sys-color-on-error-container:         rgb(201, 73, 34);
    --md-sys-color-on-primary:                 rgb(245, 247, 255);
    --md-sys-color-on-primary-container:       rgb(61, 143, 209);
    --md-sys-color-on-primary-fixed:           rgb(245, 247, 255);
    --md-sys-color-on-primary-fixed-variant:   rgb(223, 226, 241);
    --md-sys-color-on-secondary:               rgb(245, 247, 255);
    --md-sys-color-on-secondary-container:     rgb(41, 50, 86);
    --md-sys-color-on-secondary-fixed:         rgb(245, 247, 255);
    --md-sys-color-on-secondary-fixed-variant: rgb(223, 226, 241);
    --md-sys-color-on-surface:                 rgb(94, 102, 135);
    --md-sys-color-on-surface-variant:         rgb(94, 102, 135);
    --md-sys-color-on-tertiary:                rgb(245, 247, 255);
    --md-sys-color-on-tertiary-container:      rgb(41, 50, 86);
    --md-sys-color-on-tertiary-fixed:          rgb(245, 247, 255);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(223, 226, 241);
    --md-sys-color-outline:                    rgb(107, 115, 148);
    --md-sys-color-outline-variant:            rgb(151, 157, 180);
    --md-sys-color-primary:                    rgb(61, 143, 209);
    --md-sys-color-primary-container:          rgb(151, 157, 180);
    --md-sys-color-primary-fixed:              rgb(61, 143, 209);
    --md-sys-color-primary-fixed-dim:          rgb(61, 143, 209);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(102, 121, 204);
    --md-sys-color-secondary-container:        rgb(151, 157, 180);
    --md-sys-color-secondary-fixed:            rgb(102, 121, 204);
    --md-sys-color-secondary-fixed-dim:        rgb(102, 121, 204);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(32, 39, 70);
    --md-sys-color-surface:                    rgb(245, 247, 255);
    --md-sys-color-surface-bright:             rgb(137, 142, 164);
    --md-sys-color-surface-container:          rgb(223, 226, 241);
    --md-sys-color-surface-container-high:     rgb(151, 157, 180);
    --md-sys-color-surface-container-highest:  rgb(151, 157, 180);
    --md-sys-color-surface-container-low:      rgb(223, 226, 241);
    --md-sys-color-surface-container-lowest:   rgb(245, 247, 255);
    --md-sys-color-surface-dim:                rgb(245, 247, 255);
    --md-sys-color-surface-tint:               rgb(61, 143, 209);
    --md-sys-color-surface-variant:            rgb(151, 157, 180);
    --md-sys-color-tertiary:                   rgb(34, 162, 201);
    --md-sys-color-tertiary-container:         rgb(151, 157, 180);
    --md-sys-color-tertiary-fixed:             rgb(34, 162, 201);
    --md-sys-color-tertiary-fixed-dim:         rgb(34, 162, 201);
}
