:root {
    --theme-color: "Chicago Day";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(232, 240, 234);
    --md-sys-color-error:                      rgb(198, 12, 48);
    --md-sys-color-error-container:            rgb(209, 224, 215);
    --md-sys-color-inverse-on-surface:         rgb(232, 240, 234);
    --md-sys-color-inverse-primary:            rgb(82, 35, 152);
    --md-sys-color-inverse-surface:            rgb(42, 59, 50);
    --md-sys-color-on-background:              rgb(54, 76, 64);
    --md-sys-color-on-error:                   rgb(232, 240, 234);
    --md-sys-color-on-error-container:         rgb(198, 12, 48);
    --md-sys-color-on-primary:                 rgb(232, 240, 234);
    --md-sys-color-on-primary-container:       rgb(82, 35, 152);
    --md-sys-color-on-primary-fixed:           rgb(232, 240, 234);
    --md-sys-color-on-primary-fixed-variant:   rgb(209, 224, 215);
    --md-sys-color-on-secondary:               rgb(232, 240, 234);
    --md-sys-color-on-secondary-container:     rgb(42, 59, 50);
    --md-sys-color-on-secondary-fixed:         rgb(232, 240, 234);
    --md-sys-color-on-secondary-fixed-variant: rgb(209, 224, 215);
    --md-sys-color-on-surface:                 rgb(54, 76, 64);
    --md-sys-color-on-surface-variant:         rgb(54, 76, 64);
    --md-sys-color-on-tertiary:                rgb(232, 240, 234);
    --md-sys-color-on-tertiary-container:      rgb(42, 59, 50);
    --md-sys-color-on-tertiary-fixed:          rgb(232, 240, 234);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(209, 224, 215);
    --md-sys-color-outline:                    rgb(75, 90, 81);
    --md-sys-color-outline-variant:            rgb(185, 208, 195);
    --md-sys-color-primary:                    rgb(82, 35, 152);
    --md-sys-color-primary-container:          rgb(185, 208, 195);
    --md-sys-color-primary-fixed:              rgb(82, 35, 152);
    --md-sys-color-primary-fixed-dim:          rgb(82, 35, 152);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(226, 126, 166);
    --md-sys-color-secondary-container:        rgb(185, 208, 195);
    --md-sys-color-secondary-fixed:            rgb(226, 126, 166);
    --md-sys-color-secondary-fixed-dim:        rgb(226, 126, 166);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(30, 42, 36);
    --md-sys-color-surface:                    rgb(232, 240, 234);
    --md-sys-color-surface-bright:             rgb(138, 154, 145);
    --md-sys-color-surface-container:          rgb(209, 224, 215);
    --md-sys-color-surface-container-high:     rgb(185, 208, 195);
    --md-sys-color-surface-container-highest:  rgb(185, 208, 195);
    --md-sys-color-surface-container-low:      rgb(209, 224, 215);
    --md-sys-color-surface-container-lowest:   rgb(232, 240, 234);
    --md-sys-color-surface-dim:                rgb(232, 240, 234);
    --md-sys-color-surface-tint:               rgb(82, 35, 152);
    --md-sys-color-surface-variant:            rgb(185, 208, 195);
    --md-sys-color-tertiary:                   rgb(0, 161, 222);
    --md-sys-color-tertiary-container:         rgb(185, 208, 195);
    --md-sys-color-tertiary-fixed:             rgb(0, 161, 222);
    --md-sys-color-tertiary-fixed-dim:         rgb(0, 161, 222);
}
