:root {
    --theme-color: "Github";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(255, 255, 255);
    --md-sys-color-error:                      rgb(149, 56, 0);
    --md-sys-color-error-container:            rgb(246, 248, 250);
    --md-sys-color-inverse-on-surface:         rgb(255, 255, 255);
    --md-sys-color-inverse-primary:            rgb(130, 80, 223);
    --md-sys-color-inverse-surface:            rgb(50, 56, 63);
    --md-sys-color-on-background:              rgb(66, 74, 83);
    --md-sys-color-on-error:                   rgb(255, 255, 255);
    --md-sys-color-on-error-container:         rgb(149, 56, 0);
    --md-sys-color-on-primary:                 rgb(255, 255, 255);
    --md-sys-color-on-primary-container:       rgb(130, 80, 223);
    --md-sys-color-on-primary-fixed:           rgb(255, 255, 255);
    --md-sys-color-on-primary-fixed-variant:   rgb(246, 248, 250);
    --md-sys-color-on-secondary:               rgb(255, 255, 255);
    --md-sys-color-on-secondary-container:     rgb(50, 56, 63);
    --md-sys-color-on-secondary-fixed:         rgb(255, 255, 255);
    --md-sys-color-on-secondary-fixed-variant: rgb(246, 248, 250);
    --md-sys-color-on-surface:                 rgb(66, 74, 83);
    --md-sys-color-on-surface-variant:         rgb(66, 74, 83);
    --md-sys-color-on-tertiary:                rgb(255, 255, 255);
    --md-sys-color-on-tertiary-container:      rgb(50, 56, 63);
    --md-sys-color-on-tertiary-fixed:          rgb(255, 255, 255);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(246, 248, 250);
    --md-sys-color-outline:                    rgb(110, 119, 129);
    --md-sys-color-outline-variant:            rgb(175, 184, 193);
    --md-sys-color-primary:                    rgb(130, 80, 223);
    --md-sys-color-primary-container:          rgb(175, 184, 193);
    --md-sys-color-primary-fixed:              rgb(130, 80, 223);
    --md-sys-color-primary-fixed-dim:          rgb(130, 80, 223);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(207, 34, 46);
    --md-sys-color-secondary-container:        rgb(175, 184, 193);
    --md-sys-color-secondary-fixed:            rgb(207, 34, 46);
    --md-sys-color-secondary-fixed-dim:        rgb(207, 34, 46);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(31, 35, 40);
    --md-sys-color-surface:                    rgb(255, 255, 255);
    --md-sys-color-surface-bright:             rgb(140, 149, 159);
    --md-sys-color-surface-container:          rgb(246, 248, 250);
    --md-sys-color-surface-container-high:     rgb(175, 184, 193);
    --md-sys-color-surface-container-highest:  rgb(175, 184, 193);
    --md-sys-color-surface-container-low:      rgb(246, 248, 250);
    --md-sys-color-surface-container-lowest:   rgb(255, 255, 255);
    --md-sys-color-surface-dim:                rgb(255, 255, 255);
    --md-sys-color-surface-tint:               rgb(130, 80, 223);
    --md-sys-color-surface-variant:            rgb(175, 184, 193);
    --md-sys-color-tertiary:                   rgb(17, 99, 41);
    --md-sys-color-tertiary-container:         rgb(175, 184, 193);
    --md-sys-color-tertiary-fixed:             rgb(17, 99, 41);
    --md-sys-color-tertiary-fixed-dim:         rgb(17, 99, 41);
}
