:root {
    --theme-color: "Oxocarbon Dark";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(22, 22, 22);
    --md-sys-color-error:                      rgb(238, 83, 150);
    --md-sys-color-error-container:            rgb(38, 38, 38);
    --md-sys-color-inverse-on-surface:         rgb(22, 22, 22);
    --md-sys-color-inverse-primary:            rgb(51, 177, 255);
    --md-sys-color-inverse-surface:            rgb(255, 255, 255);
    --md-sys-color-on-background:              rgb(242, 244, 248);
    --md-sys-color-on-error:                   rgb(22, 22, 22);
    --md-sys-color-on-error-container:         rgb(238, 83, 150);
    --md-sys-color-on-primary:                 rgb(22, 22, 22);
    --md-sys-color-on-primary-container:       rgb(51, 177, 255);
    --md-sys-color-on-primary-fixed:           rgb(22, 22, 22);
    --md-sys-color-on-primary-fixed-variant:   rgb(38, 38, 38);
    --md-sys-color-on-secondary:               rgb(22, 22, 22);
    --md-sys-color-on-secondary-container:     rgb(255, 255, 255);
    --md-sys-color-on-secondary-fixed:         rgb(22, 22, 22);
    --md-sys-color-on-secondary-fixed-variant: rgb(38, 38, 38);
    --md-sys-color-on-surface:                 rgb(242, 244, 248);
    --md-sys-color-on-surface-variant:         rgb(242, 244, 248);
    --md-sys-color-on-tertiary:                rgb(22, 22, 22);
    --md-sys-color-on-tertiary-container:      rgb(255, 255, 255);
    --md-sys-color-on-tertiary-fixed:          rgb(22, 22, 22);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(38, 38, 38);
    --md-sys-color-outline:                    rgb(221, 225, 230);
    --md-sys-color-outline-variant:            rgb(57, 57, 57);
    --md-sys-color-primary:                    rgb(51, 177, 255);
    --md-sys-color-primary-container:          rgb(57, 57, 57);
    --md-sys-color-primary-fixed:              rgb(51, 177, 255);
    --md-sys-color-primary-fixed-dim:          rgb(51, 177, 255);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(190, 149, 255);
    --md-sys-color-secondary-container:        rgb(57, 57, 57);
    --md-sys-color-secondary-fixed:            rgb(190, 149, 255);
    --md-sys-color-secondary-fixed-dim:        rgb(190, 149, 255);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(8, 189, 186);
    --md-sys-color-surface:                    rgb(22, 22, 22);
    --md-sys-color-surface-bright:             rgb(82, 82, 82);
    --md-sys-color-surface-container:          rgb(38, 38, 38);
    --md-sys-color-surface-container-high:     rgb(57, 57, 57);
    --md-sys-color-surface-container-highest:  rgb(57, 57, 57);
    --md-sys-color-surface-container-low:      rgb(38, 38, 38);
    --md-sys-color-surface-container-lowest:   rgb(22, 22, 22);
    --md-sys-color-surface-dim:                rgb(22, 22, 22);
    --md-sys-color-surface-tint:               rgb(51, 177, 255);
    --md-sys-color-surface-variant:            rgb(57, 57, 57);
    --md-sys-color-tertiary:                   rgb(61, 219, 217);
    --md-sys-color-tertiary-container:         rgb(57, 57, 57);
    --md-sys-color-tertiary-fixed:             rgb(61, 219, 217);
    --md-sys-color-tertiary-fixed-dim:         rgb(61, 219, 217);
}
