:root {
    --theme-color: "DanQing Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(252, 254, 253);
    --md-sys-color-error:                      rgb(249, 144, 111);
    --md-sys-color-error-container:            rgb(236, 246, 242);
    --md-sys-color-inverse-on-surface:         rgb(252, 254, 253);
    --md-sys-color-inverse-primary:            rgb(176, 164, 227);
    --md-sys-color-inverse-surface:            rgb(67, 72, 70);
    --md-sys-color-on-background:              rgb(90, 96, 93);
    --md-sys-color-on-error:                   rgb(252, 254, 253);
    --md-sys-color-on-error-container:         rgb(249, 144, 111);
    --md-sys-color-on-primary:                 rgb(252, 254, 253);
    --md-sys-color-on-primary-container:       rgb(176, 164, 227);
    --md-sys-color-on-primary-fixed:           rgb(252, 254, 253);
    --md-sys-color-on-primary-fixed-variant:   rgb(236, 246, 242);
    --md-sys-color-on-secondary:               rgb(252, 254, 253);
    --md-sys-color-on-secondary-container:     rgb(67, 72, 70);
    --md-sys-color-on-secondary-fixed:         rgb(252, 254, 253);
    --md-sys-color-on-secondary-fixed-variant: rgb(236, 246, 242);
    --md-sys-color-on-surface:                 rgb(90, 96, 93);
    --md-sys-color-on-surface-variant:         rgb(157, 168, 163);
    --md-sys-color-on-tertiary:                rgb(252, 254, 253);
    --md-sys-color-on-tertiary-container:      rgb(67, 72, 70);
    --md-sys-color-on-tertiary-fixed:          rgb(252, 254, 253);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(236, 246, 242);
    --md-sys-color-outline:                    rgb(202, 216, 210);
    --md-sys-color-outline-variant:            rgb(224, 240, 239);
    --md-sys-color-primary:                    rgb(176, 164, 227);
    --md-sys-color-primary-container:          rgb(224, 240, 239);
    --md-sys-color-primary-fixed:              rgb(176, 164, 227);
    --md-sys-color-primary-fixed-dim:          rgb(176, 164, 227);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(204, 164, 227);
    --md-sys-color-secondary-container:        rgb(224, 240, 239);
    --md-sys-color-secondary-fixed:            rgb(204, 164, 227);
    --md-sys-color-secondary-fixed-dim:        rgb(204, 164, 227);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(45, 48, 47);
    --md-sys-color-surface:                    rgb(252, 254, 253);
    --md-sys-color-surface-bright:             rgb(202, 216, 210);
    --md-sys-color-surface-container:          rgb(236, 246, 242);
    --md-sys-color-surface-container-high:     rgb(224, 240, 239);
    --md-sys-color-surface-container-highest:  rgb(224, 240, 239);
    --md-sys-color-surface-container-low:      rgb(236, 246, 242);
    --md-sys-color-surface-container-lowest:   rgb(252, 254, 253);
    --md-sys-color-surface-dim:                rgb(252, 254, 253);
    --md-sys-color-surface-tint:               rgb(176, 164, 227);
    --md-sys-color-surface-variant:            rgb(224, 240, 239);
    --md-sys-color-tertiary:                   rgb(48, 223, 243);
    --md-sys-color-tertiary-container:         rgb(224, 240, 239);
    --md-sys-color-tertiary-fixed:             rgb(48, 223, 243);
    --md-sys-color-tertiary-fixed-dim:         rgb(48, 223, 243);
}
