:root {
    --theme-color: "Atelier Forest";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(27, 25, 24);
    --md-sys-color-error:                      rgb(242, 44, 64);
    --md-sys-color-error-container:            rgb(44, 36, 33);
    --md-sys-color-inverse-on-surface:         rgb(27, 25, 24);
    --md-sys-color-inverse-primary:            rgb(64, 126, 231);
    --md-sys-color-inverse-surface:            rgb(230, 226, 224);
    --md-sys-color-on-background:              rgb(168, 161, 159);
    --md-sys-color-on-error:                   rgb(27, 25, 24);
    --md-sys-color-on-error-container:         rgb(242, 44, 64);
    --md-sys-color-on-primary:                 rgb(27, 25, 24);
    --md-sys-color-on-primary-container:       rgb(64, 126, 231);
    --md-sys-color-on-primary-fixed:           rgb(27, 25, 24);
    --md-sys-color-on-primary-fixed-variant:   rgb(44, 36, 33);
    --md-sys-color-on-secondary:               rgb(27, 25, 24);
    --md-sys-color-on-secondary-container:     rgb(230, 226, 224);
    --md-sys-color-on-secondary-fixed:         rgb(27, 25, 24);
    --md-sys-color-on-secondary-fixed-variant: rgb(44, 36, 33);
    --md-sys-color-on-surface:                 rgb(168, 161, 159);
    --md-sys-color-on-surface-variant:         rgb(168, 161, 159);
    --md-sys-color-on-tertiary:                rgb(27, 25, 24);
    --md-sys-color-on-tertiary-container:      rgb(230, 226, 224);
    --md-sys-color-on-tertiary-fixed:          rgb(27, 25, 24);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(44, 36, 33);
    --md-sys-color-outline:                    rgb(156, 148, 145);
    --md-sys-color-outline-variant:            rgb(104, 97, 94);
    --md-sys-color-primary:                    rgb(64, 126, 231);
    --md-sys-color-primary-container:          rgb(104, 97, 94);
    --md-sys-color-primary-fixed:              rgb(64, 126, 231);
    --md-sys-color-primary-fixed-dim:          rgb(64, 126, 231);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(102, 102, 234);
    --md-sys-color-secondary-container:        rgb(104, 97, 94);
    --md-sys-color-secondary-fixed:            rgb(102, 102, 234);
    --md-sys-color-secondary-fixed-dim:        rgb(102, 102, 234);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(241, 239, 238);
    --md-sys-color-surface:                    rgb(27, 25, 24);
    --md-sys-color-surface-bright:             rgb(118, 110, 107);
    --md-sys-color-surface-container:          rgb(44, 36, 33);
    --md-sys-color-surface-container-high:     rgb(104, 97, 94);
    --md-sys-color-surface-container-highest:  rgb(104, 97, 94);
    --md-sys-color-surface-container-low:      rgb(44, 36, 33);
    --md-sys-color-surface-container-lowest:   rgb(27, 25, 24);
    --md-sys-color-surface-dim:                rgb(27, 25, 24);
    --md-sys-color-surface-tint:               rgb(64, 126, 231);
    --md-sys-color-surface-variant:            rgb(104, 97, 94);
    --md-sys-color-tertiary:                   rgb(61, 151, 184);
    --md-sys-color-tertiary-container:         rgb(104, 97, 94);
    --md-sys-color-tertiary-fixed:             rgb(61, 151, 184);
    --md-sys-color-tertiary-fixed-dim:         rgb(61, 151, 184);
}
