:root {
    --theme-color: "Fruit Soda";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(241, 236, 241);
    --md-sys-color-error:                      rgb(254, 62, 49);
    --md-sys-color-error-container:            rgb(224, 222, 224);
    --md-sys-color-inverse-on-surface:         rgb(241, 236, 241);
    --md-sys-color-inverse-primary:            rgb(41, 49, 223);
    --md-sys-color-inverse-surface:            rgb(71, 69, 69);
    --md-sys-color-on-background:              rgb(81, 81, 81);
    --md-sys-color-on-error:                   rgb(241, 236, 241);
    --md-sys-color-on-error-container:         rgb(254, 62, 49);
    --md-sys-color-on-primary:                 rgb(241, 236, 241);
    --md-sys-color-on-primary-container:       rgb(41, 49, 223);
    --md-sys-color-on-primary-fixed:           rgb(241, 236, 241);
    --md-sys-color-on-primary-fixed-variant:   rgb(224, 222, 224);
    --md-sys-color-on-secondary:               rgb(241, 236, 241);
    --md-sys-color-on-secondary-container:     rgb(71, 69, 69);
    --md-sys-color-on-secondary-fixed:         rgb(241, 236, 241);
    --md-sys-color-on-secondary-fixed-variant: rgb(224, 222, 224);
    --md-sys-color-on-surface:                 rgb(81, 81, 81);
    --md-sys-color-on-surface-variant:         rgb(81, 81, 81);
    --md-sys-color-on-tertiary:                rgb(241, 236, 241);
    --md-sys-color-on-tertiary-container:      rgb(71, 69, 69);
    --md-sys-color-on-tertiary-fixed:          rgb(241, 236, 241);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(224, 222, 224);
    --md-sys-color-outline:                    rgb(151, 149, 152);
    --md-sys-color-outline-variant:            rgb(216, 213, 213);
    --md-sys-color-primary:                    rgb(41, 49, 223);
    --md-sys-color-primary-container:          rgb(216, 213, 213);
    --md-sys-color-primary-fixed:              rgb(41, 49, 223);
    --md-sys-color-primary-fixed-dim:          rgb(41, 49, 223);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(97, 31, 206);
    --md-sys-color-secondary-container:        rgb(216, 213, 213);
    --md-sys-color-secondary-fixed:            rgb(97, 31, 206);
    --md-sys-color-secondary-fixed-dim:        rgb(97, 31, 206);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(45, 44, 44);
    --md-sys-color-surface:                    rgb(241, 236, 241);
    --md-sys-color-surface-bright:             rgb(181, 180, 182);
    --md-sys-color-surface-container:          rgb(224, 222, 224);
    --md-sys-color-surface-container-high:     rgb(216, 213, 213);
    --md-sys-color-surface-container-highest:  rgb(216, 213, 213);
    --md-sys-color-surface-container-low:      rgb(224, 222, 224);
    --md-sys-color-surface-container-lowest:   rgb(241, 236, 241);
    --md-sys-color-surface-dim:                rgb(241, 236, 241);
    --md-sys-color-surface-tint:               rgb(41, 49, 223);
    --md-sys-color-surface-variant:            rgb(216, 213, 213);
    --md-sys-color-tertiary:                   rgb(15, 156, 253);
    --md-sys-color-tertiary-container:         rgb(216, 213, 213);
    --md-sys-color-tertiary-fixed:             rgb(15, 156, 253);
    --md-sys-color-tertiary-fixed-dim:         rgb(15, 156, 253);
}
