:root {
    --theme-color: "Tokyo City Dark";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(23, 29, 35);
    --md-sys-color-error:                      rgb(247, 118, 142);
    --md-sys-color-error-container:            rgb(29, 37, 44);
    --md-sys-color-inverse-on-surface:         rgb(23, 29, 35);
    --md-sys-color-inverse-primary:            rgb(122, 162, 247);
    --md-sys-color-inverse-surface:            rgb(246, 246, 248);
    --md-sys-color-on-background:              rgb(216, 226, 236);
    --md-sys-color-on-error:                   rgb(23, 29, 35);
    --md-sys-color-on-error-container:         rgb(247, 118, 142);
    --md-sys-color-on-primary:                 rgb(23, 29, 35);
    --md-sys-color-on-primary-container:       rgb(122, 162, 247);
    --md-sys-color-on-primary-fixed:           rgb(23, 29, 35);
    --md-sys-color-on-primary-fixed-variant:   rgb(29, 37, 44);
    --md-sys-color-on-secondary:               rgb(23, 29, 35);
    --md-sys-color-on-secondary-container:     rgb(246, 246, 248);
    --md-sys-color-on-secondary-fixed:         rgb(23, 29, 35);
    --md-sys-color-on-secondary-fixed-variant: rgb(29, 37, 44);
    --md-sys-color-on-surface:                 rgb(216, 226, 236);
    --md-sys-color-on-surface-variant:         rgb(183, 197, 211);
    --md-sys-color-on-tertiary:                rgb(23, 29, 35);
    --md-sys-color-on-tertiary-container:      rgb(246, 246, 248);
    --md-sys-color-on-tertiary-fixed:          rgb(23, 29, 35);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(29, 37, 44);
    --md-sys-color-outline:                    rgb(82, 98, 112);
    --md-sys-color-outline-variant:            rgb(40, 50, 58);
    --md-sys-color-primary:                    rgb(122, 162, 247);
    --md-sys-color-primary-container:          rgb(40, 50, 58);
    --md-sys-color-primary-fixed:              rgb(122, 162, 247);
    --md-sys-color-primary-fixed-dim:          rgb(122, 162, 247);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(187, 154, 247);
    --md-sys-color-secondary-container:        rgb(40, 50, 58);
    --md-sys-color-secondary-fixed:            rgb(187, 154, 247);
    --md-sys-color-secondary-fixed-dim:        rgb(187, 154, 247);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(251, 251, 253);
    --md-sys-color-surface:                    rgb(23, 29, 35);
    --md-sys-color-surface-bright:             rgb(82, 98, 112);
    --md-sys-color-surface-container:          rgb(29, 37, 44);
    --md-sys-color-surface-container-high:     rgb(40, 50, 58);
    --md-sys-color-surface-container-highest:  rgb(40, 50, 58);
    --md-sys-color-surface-container-low:      rgb(29, 37, 44);
    --md-sys-color-surface-container-lowest:   rgb(23, 29, 35);
    --md-sys-color-surface-dim:                rgb(23, 29, 35);
    --md-sys-color-surface-tint:               rgb(122, 162, 247);
    --md-sys-color-surface-variant:            rgb(40, 50, 58);
    --md-sys-color-tertiary:                   rgb(137, 221, 255);
    --md-sys-color-tertiary-container:         rgb(40, 50, 58);
    --md-sys-color-tertiary-fixed:             rgb(137, 221, 255);
    --md-sys-color-tertiary-fixed-dim:         rgb(137, 221, 255);
}
