:root {
    --theme-color: "Rebecca";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(41, 42, 68);
    --md-sys-color-error:                      rgb(160, 160, 197);
    --md-sys-color-error-container:            rgb(102, 51, 153);
    --md-sys-color-inverse-on-surface:         rgb(41, 42, 68);
    --md-sys-color-inverse-primary:            rgb(45, 224, 167);
    --md-sys-color-inverse-surface:            rgb(204, 204, 255);
    --md-sys-color-on-background:              rgb(241, 239, 248);
    --md-sys-color-on-error:                   rgb(41, 42, 68);
    --md-sys-color-on-error-container:         rgb(160, 160, 197);
    --md-sys-color-on-primary:                 rgb(41, 42, 68);
    --md-sys-color-on-primary-container:       rgb(45, 224, 167);
    --md-sys-color-on-primary-fixed:           rgb(41, 42, 68);
    --md-sys-color-on-primary-fixed-variant:   rgb(102, 51, 153);
    --md-sys-color-on-secondary:               rgb(41, 42, 68);
    --md-sys-color-on-secondary-container:     rgb(204, 204, 255);
    --md-sys-color-on-secondary-fixed:         rgb(41, 42, 68);
    --md-sys-color-on-secondary-fixed-variant: rgb(102, 51, 153);
    --md-sys-color-on-surface:                 rgb(241, 239, 248);
    --md-sys-color-on-surface-variant:         rgb(160, 160, 197);
    --md-sys-color-on-tertiary:                rgb(41, 42, 68);
    --md-sys-color-on-tertiary-container:      rgb(204, 204, 255);
    --md-sys-color-on-tertiary-fixed:          rgb(41, 42, 68);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(102, 51, 153);
    --md-sys-color-outline:                    rgb(102, 102, 153);
    --md-sys-color-outline-variant:            rgb(56, 58, 98);
    --md-sys-color-primary:                    rgb(45, 224, 167);
    --md-sys-color-primary-container:          rgb(56, 58, 98);
    --md-sys-color-primary-fixed:              rgb(45, 224, 167);
    --md-sys-color-primary-fixed-dim:          rgb(45, 224, 167);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(122, 165, 255);
    --md-sys-color-secondary-container:        rgb(56, 58, 98);
    --md-sys-color-secondary-fixed:            rgb(122, 165, 255);
    --md-sys-color-secondary-fixed-dim:        rgb(122, 165, 255);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(83, 73, 93);
    --md-sys-color-surface:                    rgb(41, 42, 68);
    --md-sys-color-surface-bright:             rgb(102, 102, 153);
    --md-sys-color-surface-container:          rgb(102, 51, 153);
    --md-sys-color-surface-container-high:     rgb(56, 58, 98);
    --md-sys-color-surface-container-highest:  rgb(56, 58, 98);
    --md-sys-color-surface-container-low:      rgb(102, 51, 153);
    --md-sys-color-surface-container-lowest:   rgb(41, 42, 68);
    --md-sys-color-surface-dim:                rgb(41, 42, 68);
    --md-sys-color-surface-tint:               rgb(45, 224, 167);
    --md-sys-color-surface-variant:            rgb(56, 58, 98);
    --md-sys-color-tertiary:                   rgb(142, 174, 224);
    --md-sys-color-tertiary-container:         rgb(56, 58, 98);
    --md-sys-color-tertiary-fixed:             rgb(142, 174, 224);
    --md-sys-color-tertiary-fixed-dim:         rgb(142, 174, 224);
}
