:root {
    --theme-color: "Swamp Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(241, 227, 209);
    --md-sys-color-error:                      rgb(208, 151, 0);
    --md-sys-color-error-container:            rgb(221, 206, 188);
    --md-sys-color-inverse-on-surface:         rgb(241, 227, 209);
    --md-sys-color-inverse-primary:            rgb(191, 121, 121);
    --md-sys-color-inverse-surface:            rgb(120, 102, 83);
    --md-sys-color-on-background:              rgb(100, 81, 62);
    --md-sys-color-on-error:                   rgb(241, 227, 209);
    --md-sys-color-on-error-container:         rgb(208, 151, 0);
    --md-sys-color-on-primary:                 rgb(241, 227, 209);
    --md-sys-color-on-primary-container:       rgb(191, 121, 121);
    --md-sys-color-on-primary-fixed:           rgb(241, 227, 209);
    --md-sys-color-on-primary-fixed-variant:   rgb(221, 206, 188);
    --md-sys-color-on-secondary:               rgb(241, 227, 209);
    --md-sys-color-on-secondary-container:     rgb(120, 102, 83);
    --md-sys-color-on-secondary-fixed:         rgb(241, 227, 209);
    --md-sys-color-on-secondary-fixed-variant: rgb(221, 206, 188);
    --md-sys-color-on-surface:                 rgb(100, 81, 62);
    --md-sys-color-on-surface-variant:         rgb(100, 81, 62);
    --md-sys-color-on-tertiary:                rgb(241, 227, 209);
    --md-sys-color-on-tertiary-container:      rgb(120, 102, 83);
    --md-sys-color-on-tertiary-fixed:          rgb(241, 227, 209);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(221, 206, 188);
    --md-sys-color-outline:                    rgb(160, 144, 125);
    --md-sys-color-outline-variant:            rgb(201, 185, 167);
    --md-sys-color-primary:                    rgb(191, 121, 121);
    --md-sys-color-primary-container:          rgb(201, 185, 167);
    --md-sys-color-primary-fixed:              rgb(191, 121, 121);
    --md-sys-color-primary-fixed-dim:          rgb(191, 121, 121);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(158, 85, 129);
    --md-sys-color-secondary-container:        rgb(201, 185, 167);
    --md-sys-color-secondary-fixed:            rgb(158, 85, 129);
    --md-sys-color-secondary-fixed-dim:        rgb(158, 85, 129);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(140, 123, 104);
    --md-sys-color-surface:                    rgb(241, 227, 209);
    --md-sys-color-surface-bright:             rgb(181, 164, 146);
    --md-sys-color-surface-container:          rgb(221, 206, 188);
    --md-sys-color-surface-container-high:     rgb(201, 185, 167);
    --md-sys-color-surface-container-highest:  rgb(201, 185, 167);
    --md-sys-color-surface-container-low:      rgb(221, 206, 188);
    --md-sys-color-surface-container-lowest:   rgb(241, 227, 209);
    --md-sys-color-surface-dim:                rgb(241, 227, 209);
    --md-sys-color-surface-tint:               rgb(191, 121, 121);
    --md-sys-color-surface-variant:            rgb(201, 185, 167);
    --md-sys-color-tertiary:                   rgb(208, 151, 0);
    --md-sys-color-tertiary-container:         rgb(201, 185, 167);
    --md-sys-color-tertiary-fixed:             rgb(208, 151, 0);
    --md-sys-color-tertiary-fixed-dim:         rgb(208, 151, 0);
}
