:root {
    --theme-color: "Sakura";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(254, 237, 243);
    --md-sys-color-error:                      rgb(223, 45, 82);
    --md-sys-color-error-container:            rgb(248, 226, 231);
    --md-sys-color-inverse-on-surface:         rgb(254, 237, 243);
    --md-sys-color-inverse-primary:            rgb(0, 110, 147);
    --md-sys-color-inverse-surface:            rgb(66, 56, 58);
    --md-sys-color-on-background:              rgb(86, 68, 72);
    --md-sys-color-on-error:                   rgb(254, 237, 243);
    --md-sys-color-on-error-container:         rgb(223, 45, 82);
    --md-sys-color-on-primary:                 rgb(254, 237, 243);
    --md-sys-color-on-primary-container:       rgb(0, 110, 147);
    --md-sys-color-on-primary-fixed:           rgb(254, 237, 243);
    --md-sys-color-on-primary-fixed-variant:   rgb(248, 226, 231);
    --md-sys-color-on-secondary:               rgb(254, 237, 243);
    --md-sys-color-on-secondary-container:     rgb(66, 56, 58);
    --md-sys-color-on-secondary-fixed:         rgb(254, 237, 243);
    --md-sys-color-on-secondary-fixed-variant: rgb(248, 226, 231);
    --md-sys-color-on-surface:                 rgb(86, 68, 72);
    --md-sys-color-on-surface-variant:         rgb(102, 80, 85);
    --md-sys-color-on-tertiary:                rgb(254, 237, 243);
    --md-sys-color-on-tertiary-container:      rgb(66, 56, 58);
    --md-sys-color-on-tertiary-fixed:          rgb(254, 237, 243);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(248, 226, 231);
    --md-sys-color-outline:                    rgb(117, 95, 100);
    --md-sys-color-outline-variant:            rgb(224, 204, 209);
    --md-sys-color-primary:                    rgb(0, 110, 147);
    --md-sys-color-primary-container:          rgb(224, 204, 209);
    --md-sys-color-primary-fixed:              rgb(0, 110, 147);
    --md-sys-color-primary-fixed-dim:          rgb(0, 110, 147);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(94, 33, 128);
    --md-sys-color-secondary-container:        rgb(224, 204, 209);
    --md-sys-color-secondary-fixed:            rgb(94, 33, 128);
    --md-sys-color-secondary-fixed-dim:        rgb(94, 33, 128);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(51, 41, 43);
    --md-sys-color-surface:                    rgb(254, 237, 243);
    --md-sys-color-surface-bright:             rgb(117, 95, 100);
    --md-sys-color-surface-container:          rgb(248, 226, 231);
    --md-sys-color-surface-container-high:     rgb(224, 204, 209);
    --md-sys-color-surface-container-highest:  rgb(224, 204, 209);
    --md-sys-color-surface-container-low:      rgb(248, 226, 231);
    --md-sys-color-surface-container-lowest:   rgb(254, 237, 243);
    --md-sys-color-surface-dim:                rgb(254, 237, 243);
    --md-sys-color-surface-tint:               rgb(0, 110, 147);
    --md-sys-color-surface-variant:            rgb(224, 204, 209);
    --md-sys-color-tertiary:                   rgb(29, 137, 145);
    --md-sys-color-tertiary-container:         rgb(224, 204, 209);
    --md-sys-color-tertiary-fixed:             rgb(29, 137, 145);
    --md-sys-color-tertiary-fixed-dim:         rgb(29, 137, 145);
}
