:root {
    --theme-color: "Valua";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(19, 31, 31);
    --md-sys-color-error:                      rgb(215, 88, 110);
    --md-sys-color-error-container:            rgb(33, 49, 50);
    --md-sys-color-inverse-on-surface:         rgb(19, 31, 31);
    --md-sys-color-inverse-primary:            rgb(78, 210, 210);
    --md-sys-color-inverse-surface:            rgb(165, 203, 185);
    --md-sys-color-on-background:              rgb(152, 193, 163);
    --md-sys-color-on-error:                   rgb(19, 31, 31);
    --md-sys-color-on-error-container:         rgb(215, 88, 110);
    --md-sys-color-on-primary:                 rgb(19, 31, 31);
    --md-sys-color-on-primary-container:       rgb(78, 210, 210);
    --md-sys-color-on-primary-fixed:           rgb(19, 31, 31);
    --md-sys-color-on-primary-fixed-variant:   rgb(33, 49, 50);
    --md-sys-color-on-secondary:               rgb(19, 31, 31);
    --md-sys-color-on-secondary-container:     rgb(165, 203, 185);
    --md-sys-color-on-secondary-fixed:         rgb(19, 31, 31);
    --md-sys-color-on-secondary-fixed-variant: rgb(33, 49, 50);
    --md-sys-color-on-surface:                 rgb(152, 193, 163);
    --md-sys-color-on-surface-variant:         rgb(152, 193, 163);
    --md-sys-color-on-tertiary:                rgb(19, 31, 31);
    --md-sys-color-on-tertiary-container:      rgb(165, 203, 185);
    --md-sys-color-on-tertiary-fixed:          rgb(19, 31, 31);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(33, 49, 50);
    --md-sys-color-outline:                    rgb(109, 152, 119);
    --md-sys-color-outline-variant:            rgb(39, 61, 60);
    --md-sys-color-primary:                    rgb(78, 210, 210);
    --md-sys-color-primary-container:          rgb(39, 61, 60);
    --md-sys-color-primary-fixed:              rgb(78, 210, 210);
    --md-sys-color-primary-fixed-dim:          rgb(78, 210, 210);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(168, 116, 224);
    --md-sys-color-secondary-container:        rgb(39, 61, 60);
    --md-sys-color-secondary-fixed:            rgb(168, 116, 224);
    --md-sys-color-secondary-fixed-dim:        rgb(168, 116, 224);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(170, 203, 203);
    --md-sys-color-surface:                    rgb(19, 31, 31);
    --md-sys-color-surface-bright:             rgb(62, 92, 83);
    --md-sys-color-surface-container:          rgb(33, 49, 50);
    --md-sys-color-surface-container-high:     rgb(39, 61, 60);
    --md-sys-color-surface-container-highest:  rgb(39, 61, 60);
    --md-sys-color-surface-container-low:      rgb(33, 49, 50);
    --md-sys-color-surface-container-lowest:   rgb(19, 31, 31);
    --md-sys-color-surface-dim:                rgb(19, 31, 31);
    --md-sys-color-surface-tint:               rgb(78, 210, 210);
    --md-sys-color-surface-variant:            rgb(39, 61, 60);
    --md-sys-color-tertiary:                   rgb(118, 219, 210);
    --md-sys-color-tertiary-container:         rgb(39, 61, 60);
    --md-sys-color-tertiary-fixed:             rgb(118, 219, 210);
    --md-sys-color-tertiary-fixed-dim:         rgb(118, 219, 210);
}
