:root {
    --theme-color: "Gruvbox dark, medium";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(40, 40, 40);
    --md-sys-color-error:                      rgb(251, 73, 52);
    --md-sys-color-error-container:            rgb(60, 56, 54);
    --md-sys-color-inverse-on-surface:         rgb(40, 40, 40);
    --md-sys-color-inverse-primary:            rgb(131, 165, 152);
    --md-sys-color-inverse-surface:            rgb(235, 219, 178);
    --md-sys-color-on-background:              rgb(213, 196, 161);
    --md-sys-color-on-error:                   rgb(40, 40, 40);
    --md-sys-color-on-error-container:         rgb(251, 73, 52);
    --md-sys-color-on-primary:                 rgb(40, 40, 40);
    --md-sys-color-on-primary-container:       rgb(131, 165, 152);
    --md-sys-color-on-primary-fixed:           rgb(40, 40, 40);
    --md-sys-color-on-primary-fixed-variant:   rgb(60, 56, 54);
    --md-sys-color-on-secondary:               rgb(40, 40, 40);
    --md-sys-color-on-secondary-container:     rgb(235, 219, 178);
    --md-sys-color-on-secondary-fixed:         rgb(40, 40, 40);
    --md-sys-color-on-secondary-fixed-variant: rgb(60, 56, 54);
    --md-sys-color-on-surface:                 rgb(213, 196, 161);
    --md-sys-color-on-surface-variant:         rgb(189, 174, 147);
    --md-sys-color-on-tertiary:                rgb(40, 40, 40);
    --md-sys-color-on-tertiary-container:      rgb(235, 219, 178);
    --md-sys-color-on-tertiary-fixed:          rgb(40, 40, 40);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(60, 56, 54);
    --md-sys-color-outline:                    rgb(102, 92, 84);
    --md-sys-color-outline-variant:            rgb(80, 73, 69);
    --md-sys-color-primary:                    rgb(131, 165, 152);
    --md-sys-color-primary-container:          rgb(80, 73, 69);
    --md-sys-color-primary-fixed:              rgb(131, 165, 152);
    --md-sys-color-primary-fixed-dim:          rgb(131, 165, 152);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(211, 134, 155);
    --md-sys-color-secondary-container:        rgb(80, 73, 69);
    --md-sys-color-secondary-fixed:            rgb(211, 134, 155);
    --md-sys-color-secondary-fixed-dim:        rgb(211, 134, 155);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(251, 241, 199);
    --md-sys-color-surface:                    rgb(40, 40, 40);
    --md-sys-color-surface-bright:             rgb(102, 92, 84);
    --md-sys-color-surface-container:          rgb(60, 56, 54);
    --md-sys-color-surface-container-high:     rgb(80, 73, 69);
    --md-sys-color-surface-container-highest:  rgb(80, 73, 69);
    --md-sys-color-surface-container-low:      rgb(60, 56, 54);
    --md-sys-color-surface-container-lowest:   rgb(40, 40, 40);
    --md-sys-color-surface-dim:                rgb(40, 40, 40);
    --md-sys-color-surface-tint:               rgb(131, 165, 152);
    --md-sys-color-surface-variant:            rgb(80, 73, 69);
    --md-sys-color-tertiary:                   rgb(142, 192, 124);
    --md-sys-color-tertiary-container:         rgb(80, 73, 69);
    --md-sys-color-tertiary-fixed:             rgb(142, 192, 124);
    --md-sys-color-tertiary-fixed-dim:         rgb(142, 192, 124);
}
