:root {
    --theme-color: "Atelier Estuary Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(244, 243, 236);
    --md-sys-color-error:                      rgb(186, 98, 54);
    --md-sys-color-error-container:            rgb(231, 230, 223);
    --md-sys-color-inverse-on-surface:         rgb(244, 243, 236);
    --md-sys-color-inverse-primary:            rgb(54, 161, 102);
    --md-sys-color-inverse-surface:            rgb(48, 47, 39);
    --md-sys-color-on-background:              rgb(95, 94, 78);
    --md-sys-color-on-error:                   rgb(244, 243, 236);
    --md-sys-color-on-error-container:         rgb(186, 98, 54);
    --md-sys-color-on-primary:                 rgb(244, 243, 236);
    --md-sys-color-on-primary-container:       rgb(54, 161, 102);
    --md-sys-color-on-primary-fixed:           rgb(244, 243, 236);
    --md-sys-color-on-primary-fixed-variant:   rgb(231, 230, 223);
    --md-sys-color-on-secondary:               rgb(244, 243, 236);
    --md-sys-color-on-secondary-container:     rgb(48, 47, 39);
    --md-sys-color-on-secondary-fixed:         rgb(244, 243, 236);
    --md-sys-color-on-secondary-fixed-variant: rgb(231, 230, 223);
    --md-sys-color-on-surface:                 rgb(95, 94, 78);
    --md-sys-color-on-surface-variant:         rgb(108, 107, 90);
    --md-sys-color-on-tertiary:                rgb(244, 243, 236);
    --md-sys-color-on-tertiary-container:      rgb(48, 47, 39);
    --md-sys-color-on-tertiary-fixed:          rgb(244, 243, 236);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(231, 230, 223);
    --md-sys-color-outline:                    rgb(135, 133, 115);
    --md-sys-color-outline-variant:            rgb(146, 145, 129);
    --md-sys-color-primary:                    rgb(54, 161, 102);
    --md-sys-color-primary-container:          rgb(146, 145, 129);
    --md-sys-color-primary-fixed:              rgb(54, 161, 102);
    --md-sys-color-primary-fixed-dim:          rgb(54, 161, 102);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(95, 145, 130);
    --md-sys-color-secondary-container:        rgb(146, 145, 129);
    --md-sys-color-secondary-fixed:            rgb(95, 145, 130);
    --md-sys-color-secondary-fixed-dim:        rgb(95, 145, 130);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(34, 34, 27);
    --md-sys-color-surface:                    rgb(244, 243, 236);
    --md-sys-color-surface-bright:             rgb(135, 133, 115);
    --md-sys-color-surface-container:          rgb(231, 230, 223);
    --md-sys-color-surface-container-high:     rgb(146, 145, 129);
    --md-sys-color-surface-container-highest:  rgb(146, 145, 129);
    --md-sys-color-surface-container-low:      rgb(231, 230, 223);
    --md-sys-color-surface-container-lowest:   rgb(244, 243, 236);
    --md-sys-color-surface-dim:                rgb(244, 243, 236);
    --md-sys-color-surface-tint:               rgb(54, 161, 102);
    --md-sys-color-surface-variant:            rgb(146, 145, 129);
    --md-sys-color-tertiary:                   rgb(91, 157, 72);
    --md-sys-color-tertiary-container:         rgb(146, 145, 129);
    --md-sys-color-tertiary-fixed:             rgb(91, 157, 72);
    --md-sys-color-tertiary-fixed-dim:         rgb(91, 157, 72);
}
