:root {
    --theme-color: "Embers Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(219, 214, 209);
    --md-sys-color-error:                      rgb(130, 109, 87);
    --md-sys-color-error-container:            rgb(190, 182, 174);
    --md-sys-color-inverse-on-surface:         rgb(219, 214, 209);
    --md-sys-color-inverse-primary:            rgb(109, 87, 130);
    --md-sys-color-inverse-surface:            rgb(44, 38, 32);
    --md-sys-color-on-background:              rgb(67, 59, 50);
    --md-sys-color-on-error:                   rgb(219, 214, 209);
    --md-sys-color-on-error-container:         rgb(130, 109, 87);
    --md-sys-color-on-primary:                 rgb(219, 214, 209);
    --md-sys-color-on-primary-container:       rgb(109, 87, 130);
    --md-sys-color-on-primary-fixed:           rgb(219, 214, 209);
    --md-sys-color-on-primary-fixed-variant:   rgb(190, 182, 174);
    --md-sys-color-on-secondary:               rgb(219, 214, 209);
    --md-sys-color-on-secondary-container:     rgb(44, 38, 32);
    --md-sys-color-on-secondary-fixed:         rgb(219, 214, 209);
    --md-sys-color-on-secondary-fixed-variant: rgb(190, 182, 174);
    --md-sys-color-on-surface:                 rgb(67, 59, 50);
    --md-sys-color-on-surface-variant:         rgb(90, 80, 71);
    --md-sys-color-on-tertiary:                rgb(219, 214, 209);
    --md-sys-color-on-tertiary-container:      rgb(44, 38, 32);
    --md-sys-color-on-tertiary-fixed:          rgb(219, 214, 209);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(190, 182, 174);
    --md-sys-color-outline:                    rgb(138, 128, 117);
    --md-sys-color-outline-variant:            rgb(163, 154, 144);
    --md-sys-color-primary:                    rgb(109, 87, 130);
    --md-sys-color-primary-container:          rgb(163, 154, 144);
    --md-sys-color-primary-fixed:              rgb(109, 87, 130);
    --md-sys-color-primary-fixed-dim:          rgb(109, 87, 130);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(130, 87, 109);
    --md-sys-color-secondary-container:        rgb(163, 154, 144);
    --md-sys-color-secondary-fixed:            rgb(130, 87, 109);
    --md-sys-color-secondary-fixed-dim:        rgb(130, 87, 109);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(22, 19, 15);
    --md-sys-color-surface:                    rgb(219, 214, 209);
    --md-sys-color-surface-bright:             rgb(138, 128, 117);
    --md-sys-color-surface-container:          rgb(190, 182, 174);
    --md-sys-color-surface-container-high:     rgb(163, 154, 144);
    --md-sys-color-surface-container-highest:  rgb(163, 154, 144);
    --md-sys-color-surface-container-low:      rgb(190, 182, 174);
    --md-sys-color-surface-container-lowest:   rgb(219, 214, 209);
    --md-sys-color-surface-dim:                rgb(219, 214, 209);
    --md-sys-color-surface-tint:               rgb(109, 87, 130);
    --md-sys-color-surface-variant:            rgb(163, 154, 144);
    --md-sys-color-tertiary:                   rgb(87, 109, 130);
    --md-sys-color-tertiary-container:         rgb(163, 154, 144);
    --md-sys-color-tertiary-fixed:             rgb(87, 109, 130);
    --md-sys-color-tertiary-fixed-dim:         rgb(87, 109, 130);
}
