:root {
    --theme-color: "tarot";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(14, 9, 29);
    --md-sys-color-error:                      rgb(197, 50, 83);
    --md-sys-color-error-container:            rgb(42, 21, 60);
    --md-sys-color-inverse-on-surface:         rgb(14, 9, 29);
    --md-sys-color-inverse-primary:            rgb(110, 96, 128);
    --md-sys-color-inverse-surface:            rgb(196, 104, 109);
    --md-sys-color-on-background:              rgb(170, 85, 111);
    --md-sys-color-on-error:                   rgb(14, 9, 29);
    --md-sys-color-on-error-container:         rgb(197, 50, 83);
    --md-sys-color-on-primary:                 rgb(14, 9, 29);
    --md-sys-color-on-primary-container:       rgb(110, 96, 128);
    --md-sys-color-on-primary-fixed:           rgb(14, 9, 29);
    --md-sys-color-on-primary-fixed-variant:   rgb(42, 21, 60);
    --md-sys-color-on-secondary:               rgb(14, 9, 29);
    --md-sys-color-on-secondary-container:     rgb(196, 104, 109);
    --md-sys-color-on-secondary-fixed:         rgb(14, 9, 29);
    --md-sys-color-on-secondary-fixed-variant: rgb(42, 21, 60);
    --md-sys-color-on-surface:                 rgb(170, 85, 111);
    --md-sys-color-on-surface-variant:         rgb(170, 85, 111);
    --md-sys-color-on-tertiary:                rgb(14, 9, 29);
    --md-sys-color-on-tertiary-container:      rgb(196, 104, 109);
    --md-sys-color-on-tertiary-fixed:          rgb(14, 9, 29);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(42, 21, 60);
    --md-sys-color-outline:                    rgb(140, 64, 111);
    --md-sys-color-outline-variant:            rgb(75, 32, 84);
    --md-sys-color-primary:                    rgb(110, 96, 128);
    --md-sys-color-primary-container:          rgb(75, 32, 84);
    --md-sys-color-primary-fixed:              rgb(110, 96, 128);
    --md-sys-color-primary-fixed-dim:          rgb(110, 96, 128);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(164, 87, 130);
    --md-sys-color-secondary-container:        rgb(75, 32, 84);
    --md-sys-color-secondary-fixed:            rgb(164, 87, 130);
    --md-sys-color-secondary-fixed-dim:        rgb(164, 87, 130);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(220, 143, 124);
    --md-sys-color-surface:                    rgb(14, 9, 29);
    --md-sys-color-surface-bright:             rgb(116, 49, 107);
    --md-sys-color-surface-container:          rgb(42, 21, 60);
    --md-sys-color-surface-container-high:     rgb(75, 32, 84);
    --md-sys-color-surface-container-highest:  rgb(75, 32, 84);
    --md-sys-color-surface-container-low:      rgb(42, 21, 60);
    --md-sys-color-surface-container-lowest:   rgb(14, 9, 29);
    --md-sys-color-surface-dim:                rgb(14, 9, 29);
    --md-sys-color-surface-tint:               rgb(110, 96, 128);
    --md-sys-color-surface-variant:            rgb(75, 32, 84);
    --md-sys-color-tertiary:                   rgb(140, 151, 133);
    --md-sys-color-tertiary-container:         rgb(75, 32, 84);
    --md-sys-color-tertiary-fixed:             rgb(140, 151, 133);
    --md-sys-color-tertiary-fixed-dim:         rgb(140, 151, 133);
}
