:root {
    --theme-color: "Solar Flare Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(245, 247, 250);
    --md-sys-color-error:                      rgb(239, 82, 83);
    --md-sys-color-error-container:            rgb(232, 233, 237);
    --md-sys-color-inverse-on-surface:         rgb(245, 247, 250);
    --md-sys-color-inverse-primary:            rgb(51, 181, 225);
    --md-sys-color-inverse-surface:            rgb(34, 46, 56);
    --md-sys-color-on-background:              rgb(88, 104, 117);
    --md-sys-color-on-error:                   rgb(245, 247, 250);
    --md-sys-color-on-error-container:         rgb(239, 82, 83);
    --md-sys-color-on-primary:                 rgb(245, 247, 250);
    --md-sys-color-on-primary-container:       rgb(51, 181, 225);
    --md-sys-color-on-primary-fixed:           rgb(245, 247, 250);
    --md-sys-color-on-primary-fixed-variant:   rgb(232, 233, 237);
    --md-sys-color-on-secondary:               rgb(245, 247, 250);
    --md-sys-color-on-secondary-container:     rgb(34, 46, 56);
    --md-sys-color-on-secondary-fixed:         rgb(245, 247, 250);
    --md-sys-color-on-secondary-fixed-variant: rgb(232, 233, 237);
    --md-sys-color-on-surface:                 rgb(88, 104, 117);
    --md-sys-color-on-surface-variant:         rgb(88, 104, 117);
    --md-sys-color-on-tertiary:                rgb(245, 247, 250);
    --md-sys-color-on-tertiary-container:      rgb(34, 46, 56);
    --md-sys-color-on-tertiary-fixed:          rgb(245, 247, 250);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(232, 233, 237);
    --md-sys-color-outline:                    rgb(102, 117, 129);
    --md-sys-color-outline-variant:            rgb(166, 175, 184);
    --md-sys-color-primary:                    rgb(51, 181, 225);
    --md-sys-color-primary-container:          rgb(166, 175, 184);
    --md-sys-color-primary-fixed:              rgb(51, 181, 225);
    --md-sys-color-primary-fixed-dim:          rgb(51, 181, 225);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(163, 99, 213);
    --md-sys-color-secondary-container:        rgb(166, 175, 184);
    --md-sys-color-secondary-fixed:            rgb(163, 99, 213);
    --md-sys-color-secondary-fixed-dim:        rgb(163, 99, 213);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(24, 38, 47);
    --md-sys-color-surface:                    rgb(245, 247, 250);
    --md-sys-color-surface-bright:             rgb(133, 147, 158);
    --md-sys-color-surface-container:          rgb(232, 233, 237);
    --md-sys-color-surface-container-high:     rgb(166, 175, 184);
    --md-sys-color-surface-container-highest:  rgb(166, 175, 184);
    --md-sys-color-surface-container-low:      rgb(232, 233, 237);
    --md-sys-color-surface-container-lowest:   rgb(245, 247, 250);
    --md-sys-color-surface-dim:                rgb(245, 247, 250);
    --md-sys-color-surface-tint:               rgb(51, 181, 225);
    --md-sys-color-surface-variant:            rgb(166, 175, 184);
    --md-sys-color-tertiary:                   rgb(82, 203, 176);
    --md-sys-color-tertiary-container:         rgb(166, 175, 184);
    --md-sys-color-tertiary-fixed:             rgb(82, 203, 176);
    --md-sys-color-tertiary-fixed-dim:         rgb(82, 203, 176);
}
