:root {
    --theme-color: "Grayscale Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(247, 247, 247);
    --md-sys-color-error:                      rgb(124, 124, 124);
    --md-sys-color-error-container:            rgb(227, 227, 227);
    --md-sys-color-inverse-on-surface:         rgb(247, 247, 247);
    --md-sys-color-inverse-primary:            rgb(104, 104, 104);
    --md-sys-color-inverse-surface:            rgb(37, 37, 37);
    --md-sys-color-on-background:              rgb(70, 70, 70);
    --md-sys-color-on-error:                   rgb(247, 247, 247);
    --md-sys-color-on-error-container:         rgb(124, 124, 124);
    --md-sys-color-on-primary:                 rgb(247, 247, 247);
    --md-sys-color-on-primary-container:       rgb(104, 104, 104);
    --md-sys-color-on-primary-fixed:           rgb(247, 247, 247);
    --md-sys-color-on-primary-fixed-variant:   rgb(227, 227, 227);
    --md-sys-color-on-secondary:               rgb(247, 247, 247);
    --md-sys-color-on-secondary-container:     rgb(37, 37, 37);
    --md-sys-color-on-secondary-fixed:         rgb(247, 247, 247);
    --md-sys-color-on-secondary-fixed-variant: rgb(227, 227, 227);
    --md-sys-color-on-surface:                 rgb(70, 70, 70);
    --md-sys-color-on-surface-variant:         rgb(70, 70, 70);
    --md-sys-color-on-tertiary:                rgb(247, 247, 247);
    --md-sys-color-on-tertiary-container:      rgb(37, 37, 37);
    --md-sys-color-on-tertiary-fixed:          rgb(247, 247, 247);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(227, 227, 227);
    --md-sys-color-outline:                    rgb(82, 82, 82);
    --md-sys-color-outline-variant:            rgb(185, 185, 185);
    --md-sys-color-primary:                    rgb(104, 104, 104);
    --md-sys-color-primary-container:          rgb(185, 185, 185);
    --md-sys-color-primary-fixed:              rgb(104, 104, 104);
    --md-sys-color-primary-fixed-dim:          rgb(104, 104, 104);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(116, 116, 116);
    --md-sys-color-secondary-container:        rgb(185, 185, 185);
    --md-sys-color-secondary-fixed:            rgb(116, 116, 116);
    --md-sys-color-secondary-fixed-dim:        rgb(116, 116, 116);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(16, 16, 16);
    --md-sys-color-surface:                    rgb(247, 247, 247);
    --md-sys-color-surface-bright:             rgb(171, 171, 171);
    --md-sys-color-surface-container:          rgb(227, 227, 227);
    --md-sys-color-surface-container-high:     rgb(185, 185, 185);
    --md-sys-color-surface-container-highest:  rgb(185, 185, 185);
    --md-sys-color-surface-container-low:      rgb(227, 227, 227);
    --md-sys-color-surface-container-lowest:   rgb(247, 247, 247);
    --md-sys-color-surface-dim:                rgb(247, 247, 247);
    --md-sys-color-surface-tint:               rgb(104, 104, 104);
    --md-sys-color-surface-variant:            rgb(185, 185, 185);
    --md-sys-color-tertiary:                   rgb(134, 134, 134);
    --md-sys-color-tertiary-container:         rgb(185, 185, 185);
    --md-sys-color-tertiary-fixed:             rgb(134, 134, 134);
    --md-sys-color-tertiary-fixed-dim:         rgb(134, 134, 134);
}
