:root {
    --theme-color: "Darktooth";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(29, 32, 33);
    --md-sys-color-error:                      rgb(251, 84, 63);
    --md-sys-color-error-container:            rgb(50, 48, 47);
    --md-sys-color-inverse-on-surface:         rgb(29, 32, 33);
    --md-sys-color-inverse-primary:            rgb(13, 102, 120);
    --md-sys-color-inverse-surface:            rgb(213, 196, 161);
    --md-sys-color-on-background:              rgb(168, 153, 132);
    --md-sys-color-on-error:                   rgb(29, 32, 33);
    --md-sys-color-on-error-container:         rgb(251, 84, 63);
    --md-sys-color-on-primary:                 rgb(29, 32, 33);
    --md-sys-color-on-primary-container:       rgb(13, 102, 120);
    --md-sys-color-on-primary-fixed:           rgb(29, 32, 33);
    --md-sys-color-on-primary-fixed-variant:   rgb(50, 48, 47);
    --md-sys-color-on-secondary:               rgb(29, 32, 33);
    --md-sys-color-on-secondary-container:     rgb(213, 196, 161);
    --md-sys-color-on-secondary-fixed:         rgb(29, 32, 33);
    --md-sys-color-on-secondary-fixed-variant: rgb(50, 48, 47);
    --md-sys-color-on-surface:                 rgb(168, 153, 132);
    --md-sys-color-on-surface-variant:         rgb(168, 153, 132);
    --md-sys-color-on-tertiary:                rgb(29, 32, 33);
    --md-sys-color-on-tertiary-container:      rgb(213, 196, 161);
    --md-sys-color-on-tertiary-fixed:          rgb(29, 32, 33);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(50, 48, 47);
    --md-sys-color-outline:                    rgb(146, 131, 116);
    --md-sys-color-outline-variant:            rgb(80, 73, 69);
    --md-sys-color-primary:                    rgb(13, 102, 120);
    --md-sys-color-primary-container:          rgb(80, 73, 69);
    --md-sys-color-primary-fixed:              rgb(13, 102, 120);
    --md-sys-color-primary-fixed-dim:          rgb(13, 102, 120);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(143, 70, 115);
    --md-sys-color-secondary-container:        rgb(80, 73, 69);
    --md-sys-color-secondary-fixed:            rgb(143, 70, 115);
    --md-sys-color-secondary-fixed-dim:        rgb(143, 70, 115);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(253, 244, 193);
    --md-sys-color-surface:                    rgb(29, 32, 33);
    --md-sys-color-surface-bright:             rgb(102, 92, 84);
    --md-sys-color-surface-container:          rgb(50, 48, 47);
    --md-sys-color-surface-container-high:     rgb(80, 73, 69);
    --md-sys-color-surface-container-highest:  rgb(80, 73, 69);
    --md-sys-color-surface-container-low:      rgb(50, 48, 47);
    --md-sys-color-surface-container-lowest:   rgb(29, 32, 33);
    --md-sys-color-surface-dim:                rgb(29, 32, 33);
    --md-sys-color-surface-tint:               rgb(13, 102, 120);
    --md-sys-color-surface-variant:            rgb(80, 73, 69);
    --md-sys-color-tertiary:                   rgb(139, 165, 155);
    --md-sys-color-tertiary-container:         rgb(80, 73, 69);
    --md-sys-color-tertiary-fixed:             rgb(139, 165, 155);
    --md-sys-color-tertiary-fixed-dim:         rgb(139, 165, 155);
}
