:root {
    --theme-color: "Atlas";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(0, 38, 53);
    --md-sys-color-error:                      rgb(255, 90, 103);
    --md-sys-color-error-container:            rgb(0, 56, 77);
    --md-sys-color-inverse-on-surface:         rgb(0, 38, 53);
    --md-sys-color-inverse-primary:            rgb(20, 116, 126);
    --md-sys-color-inverse-surface:            rgb(230, 230, 220);
    --md-sys-color-on-background:              rgb(161, 161, 154);
    --md-sys-color-on-error:                   rgb(0, 38, 53);
    --md-sys-color-on-error-container:         rgb(255, 90, 103);
    --md-sys-color-on-primary:                 rgb(0, 38, 53);
    --md-sys-color-on-primary-container:       rgb(20, 116, 126);
    --md-sys-color-on-primary-fixed:           rgb(0, 38, 53);
    --md-sys-color-on-primary-fixed-variant:   rgb(0, 56, 77);
    --md-sys-color-on-secondary:               rgb(0, 38, 53);
    --md-sys-color-on-secondary-container:     rgb(230, 230, 220);
    --md-sys-color-on-secondary-fixed:         rgb(0, 38, 53);
    --md-sys-color-on-secondary-fixed-variant: rgb(0, 56, 77);
    --md-sys-color-on-surface:                 rgb(161, 161, 154);
    --md-sys-color-on-surface-variant:         rgb(134, 150, 150);
    --md-sys-color-on-tertiary:                rgb(0, 38, 53);
    --md-sys-color-on-tertiary-container:      rgb(230, 230, 220);
    --md-sys-color-on-tertiary-fixed:          rgb(0, 38, 53);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(0, 56, 77);
    --md-sys-color-outline:                    rgb(108, 139, 145);
    --md-sys-color-outline-variant:            rgb(81, 127, 141);
    --md-sys-color-primary:                    rgb(20, 116, 126);
    --md-sys-color-primary-container:          rgb(81, 127, 141);
    --md-sys-color-primary-fixed:              rgb(20, 116, 126);
    --md-sys-color-primary-fixed-dim:          rgb(20, 116, 126);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(154, 112, 164);
    --md-sys-color-secondary-container:        rgb(81, 127, 141);
    --md-sys-color-secondary-fixed:            rgb(154, 112, 164);
    --md-sys-color-secondary-fixed-dim:        rgb(154, 112, 164);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(250, 250, 248);
    --md-sys-color-surface:                    rgb(0, 38, 53);
    --md-sys-color-surface-bright:             rgb(108, 139, 145);
    --md-sys-color-surface-container:          rgb(0, 56, 77);
    --md-sys-color-surface-container-high:     rgb(81, 127, 141);
    --md-sys-color-surface-container-highest:  rgb(81, 127, 141);
    --md-sys-color-surface-container-low:      rgb(0, 56, 77);
    --md-sys-color-surface-container-lowest:   rgb(0, 38, 53);
    --md-sys-color-surface-dim:                rgb(0, 38, 53);
    --md-sys-color-surface-tint:               rgb(20, 116, 126);
    --md-sys-color-surface-variant:            rgb(81, 127, 141);
    --md-sys-color-tertiary:                   rgb(93, 215, 185);
    --md-sys-color-tertiary-container:         rgb(81, 127, 141);
    --md-sys-color-tertiary-fixed:             rgb(93, 215, 185);
    --md-sys-color-tertiary-fixed-dim:         rgb(93, 215, 185);
}
