:root {
    --theme-color: "Digital Rain";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(0, 0, 0);
    --md-sys-color-error:                      rgb(200, 90, 70);
    --md-sys-color-error-container:            rgb(74, 128, 108);
    --md-sys-color-inverse-on-surface:         rgb(0, 0, 0);
    --md-sys-color-inverse-primary:            rgb(84, 130, 175);
    --md-sys-color-inverse-surface:            rgb(196, 206, 196);
    --md-sys-color-on-background:              rgb(0, 255, 0);
    --md-sys-color-on-error:                   rgb(0, 0, 0);
    --md-sys-color-on-error-container:         rgb(200, 90, 70);
    --md-sys-color-on-primary:                 rgb(0, 0, 0);
    --md-sys-color-on-primary-container:       rgb(84, 130, 175);
    --md-sys-color-on-primary-fixed:           rgb(0, 0, 0);
    --md-sys-color-on-primary-fixed-variant:   rgb(74, 128, 108);
    --md-sys-color-on-secondary:               rgb(0, 0, 0);
    --md-sys-color-on-secondary-container:     rgb(196, 206, 196);
    --md-sys-color-on-secondary-fixed:         rgb(0, 0, 0);
    --md-sys-color-on-secondary-fixed-variant: rgb(74, 128, 108);
    --md-sys-color-on-surface:                 rgb(0, 255, 0);
    --md-sys-color-on-surface-variant:         rgb(145, 152, 147);
    --md-sys-color-on-tertiary:                rgb(0, 0, 0);
    --md-sys-color-on-tertiary-container:      rgb(196, 206, 196);
    --md-sys-color-on-tertiary-fixed:          rgb(0, 0, 0);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(74, 128, 108);
    --md-sys-color-outline:                    rgb(124, 141, 124);
    --md-sys-color-outline-variant:            rgb(74, 141, 126);
    --md-sys-color-primary:                    rgb(84, 130, 175);
    --md-sys-color-primary-container:          rgb(74, 141, 126);
    --md-sys-color-primary-fixed:              rgb(84, 130, 175);
    --md-sys-color-primary-fixed-dim:          rgb(84, 130, 175);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(148, 114, 180);
    --md-sys-color-secondary-container:        rgb(74, 141, 126);
    --md-sys-color-secondary-fixed:            rgb(148, 114, 180);
    --md-sys-color-secondary-fixed-dim:        rgb(148, 114, 180);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(216, 226, 220);
    --md-sys-color-surface:                    rgb(0, 0, 0);
    --md-sys-color-surface-bright:             rgb(124, 141, 124);
    --md-sys-color-surface-container:          rgb(74, 128, 108);
    --md-sys-color-surface-container-high:     rgb(74, 141, 126);
    --md-sys-color-surface-container-highest:  rgb(74, 141, 126);
    --md-sys-color-surface-container-low:      rgb(74, 128, 108);
    --md-sys-color-surface-container-lowest:   rgb(0, 0, 0);
    --md-sys-color-surface-dim:                rgb(0, 0, 0);
    --md-sys-color-surface-tint:               rgb(84, 130, 175);
    --md-sys-color-surface-variant:            rgb(74, 141, 126);
    --md-sys-color-tertiary:                   rgb(70, 140, 120);
    --md-sys-color-tertiary-container:         rgb(74, 141, 126);
    --md-sys-color-tertiary-fixed:             rgb(70, 140, 120);
    --md-sys-color-tertiary-fixed-dim:         rgb(70, 140, 120);
}
