:root {
    --theme-color: "Silk Dark";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(14, 60, 70);
    --md-sys-color-error:                      rgb(251, 105, 83);
    --md-sys-color-error-container:            rgb(29, 73, 78);
    --md-sys-color-inverse-on-surface:         rgb(14, 60, 70);
    --md-sys-color-inverse-primary:            rgb(70, 189, 221);
    --md-sys-color-inverse-surface:            rgb(203, 242, 247);
    --md-sys-color-on-background:              rgb(199, 219, 221);
    --md-sys-color-on-error:                   rgb(14, 60, 70);
    --md-sys-color-on-error-container:         rgb(251, 105, 83);
    --md-sys-color-on-primary:                 rgb(14, 60, 70);
    --md-sys-color-on-primary-container:       rgb(70, 189, 221);
    --md-sys-color-on-primary-fixed:           rgb(14, 60, 70);
    --md-sys-color-on-primary-fixed-variant:   rgb(29, 73, 78);
    --md-sys-color-on-secondary:               rgb(14, 60, 70);
    --md-sys-color-on-secondary-container:     rgb(203, 242, 247);
    --md-sys-color-on-secondary-fixed:         rgb(14, 60, 70);
    --md-sys-color-on-secondary-fixed-variant: rgb(29, 73, 78);
    --md-sys-color-on-surface:                 rgb(199, 219, 221);
    --md-sys-color-on-surface-variant:         rgb(199, 219, 221);
    --md-sys-color-on-tertiary:                rgb(14, 60, 70);
    --md-sys-color-on-tertiary-container:      rgb(203, 242, 247);
    --md-sys-color-on-tertiary-fixed:          rgb(14, 60, 70);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(29, 73, 78);
    --md-sys-color-outline:                    rgb(157, 200, 205);
    --md-sys-color-outline-variant:            rgb(42, 80, 84);
    --md-sys-color-primary:                    rgb(70, 189, 221);
    --md-sys-color-primary-container:          rgb(42, 80, 84);
    --md-sys-color-primary-fixed:              rgb(70, 189, 221);
    --md-sys-color-primary-fixed-dim:          rgb(70, 189, 221);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(117, 107, 138);
    --md-sys-color-secondary-container:        rgb(42, 80, 84);
    --md-sys-color-secondary-fixed:            rgb(117, 107, 138);
    --md-sys-color-secondary-fixed-dim:        rgb(117, 107, 138);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(210, 250, 255);
    --md-sys-color-surface:                    rgb(14, 60, 70);
    --md-sys-color-surface-bright:             rgb(88, 112, 115);
    --md-sys-color-surface-container:          rgb(29, 73, 78);
    --md-sys-color-surface-container-high:     rgb(42, 80, 84);
    --md-sys-color-surface-container-highest:  rgb(42, 80, 84);
    --md-sys-color-surface-container-low:      rgb(29, 73, 78);
    --md-sys-color-surface-container-lowest:   rgb(14, 60, 70);
    --md-sys-color-surface-dim:                rgb(14, 60, 70);
    --md-sys-color-surface-tint:               rgb(70, 189, 221);
    --md-sys-color-surface-variant:            rgb(42, 80, 84);
    --md-sys-color-tertiary:                   rgb(63, 178, 185);
    --md-sys-color-tertiary-container:         rgb(42, 80, 84);
    --md-sys-color-tertiary-fixed:             rgb(63, 178, 185);
    --md-sys-color-tertiary-fixed-dim:         rgb(63, 178, 185);
}
