:root {
    --theme-color: "Solarized Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(253, 246, 227);
    --md-sys-color-error:                      rgb(220, 50, 47);
    --md-sys-color-error-container:            rgb(238, 232, 213);
    --md-sys-color-inverse-on-surface:         rgb(253, 246, 227);
    --md-sys-color-inverse-primary:            rgb(38, 139, 210);
    --md-sys-color-inverse-surface:            rgb(7, 54, 66);
    --md-sys-color-on-background:              rgb(88, 110, 117);
    --md-sys-color-on-error:                   rgb(253, 246, 227);
    --md-sys-color-on-error-container:         rgb(220, 50, 47);
    --md-sys-color-on-primary:                 rgb(253, 246, 227);
    --md-sys-color-on-primary-container:       rgb(38, 139, 210);
    --md-sys-color-on-primary-fixed:           rgb(253, 246, 227);
    --md-sys-color-on-primary-fixed-variant:   rgb(238, 232, 213);
    --md-sys-color-on-secondary:               rgb(253, 246, 227);
    --md-sys-color-on-secondary-container:     rgb(7, 54, 66);
    --md-sys-color-on-secondary-fixed:         rgb(253, 246, 227);
    --md-sys-color-on-secondary-fixed-variant: rgb(238, 232, 213);
    --md-sys-color-on-surface:                 rgb(88, 110, 117);
    --md-sys-color-on-surface-variant:         rgb(88, 110, 117);
    --md-sys-color-on-tertiary:                rgb(253, 246, 227);
    --md-sys-color-on-tertiary-container:      rgb(7, 54, 66);
    --md-sys-color-on-tertiary-fixed:          rgb(253, 246, 227);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(238, 232, 213);
    --md-sys-color-outline:                    rgb(101, 123, 131);
    --md-sys-color-outline-variant:            rgb(147, 161, 161);
    --md-sys-color-primary:                    rgb(38, 139, 210);
    --md-sys-color-primary-container:          rgb(147, 161, 161);
    --md-sys-color-primary-fixed:              rgb(38, 139, 210);
    --md-sys-color-primary-fixed-dim:          rgb(38, 139, 210);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(108, 113, 196);
    --md-sys-color-secondary-container:        rgb(147, 161, 161);
    --md-sys-color-secondary-fixed:            rgb(108, 113, 196);
    --md-sys-color-secondary-fixed-dim:        rgb(108, 113, 196);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(0, 43, 54);
    --md-sys-color-surface:                    rgb(253, 246, 227);
    --md-sys-color-surface-bright:             rgb(131, 148, 150);
    --md-sys-color-surface-container:          rgb(238, 232, 213);
    --md-sys-color-surface-container-high:     rgb(147, 161, 161);
    --md-sys-color-surface-container-highest:  rgb(147, 161, 161);
    --md-sys-color-surface-container-low:      rgb(238, 232, 213);
    --md-sys-color-surface-container-lowest:   rgb(253, 246, 227);
    --md-sys-color-surface-dim:                rgb(253, 246, 227);
    --md-sys-color-surface-tint:               rgb(38, 139, 210);
    --md-sys-color-surface-variant:            rgb(147, 161, 161);
    --md-sys-color-tertiary:                   rgb(42, 161, 152);
    --md-sys-color-tertiary-container:         rgb(147, 161, 161);
    --md-sys-color-tertiary-fixed:             rgb(42, 161, 152);
    --md-sys-color-tertiary-fixed-dim:         rgb(42, 161, 152);
}
