:root {
    --theme-color: "Atelier Dune Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(254, 251, 236);
    --md-sys-color-error:                      rgb(215, 55, 55);
    --md-sys-color-error-container:            rgb(232, 228, 207);
    --md-sys-color-inverse-on-surface:         rgb(254, 251, 236);
    --md-sys-color-inverse-primary:            rgb(102, 132, 225);
    --md-sys-color-inverse-surface:            rgb(41, 40, 36);
    --md-sys-color-on-background:              rgb(110, 107, 94);
    --md-sys-color-on-error:                   rgb(254, 251, 236);
    --md-sys-color-on-error-container:         rgb(215, 55, 55);
    --md-sys-color-on-primary:                 rgb(254, 251, 236);
    --md-sys-color-on-primary-container:       rgb(102, 132, 225);
    --md-sys-color-on-primary-fixed:           rgb(254, 251, 236);
    --md-sys-color-on-primary-fixed-variant:   rgb(232, 228, 207);
    --md-sys-color-on-secondary:               rgb(254, 251, 236);
    --md-sys-color-on-secondary-container:     rgb(41, 40, 36);
    --md-sys-color-on-secondary-fixed:         rgb(254, 251, 236);
    --md-sys-color-on-secondary-fixed-variant: rgb(232, 228, 207);
    --md-sys-color-on-surface:                 rgb(110, 107, 94);
    --md-sys-color-on-surface-variant:         rgb(125, 122, 104);
    --md-sys-color-on-tertiary:                rgb(254, 251, 236);
    --md-sys-color-on-tertiary-container:      rgb(41, 40, 36);
    --md-sys-color-on-tertiary-fixed:          rgb(254, 251, 236);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(232, 228, 207);
    --md-sys-color-outline:                    rgb(153, 149, 128);
    --md-sys-color-outline-variant:            rgb(166, 162, 140);
    --md-sys-color-primary:                    rgb(102, 132, 225);
    --md-sys-color-primary-container:          rgb(166, 162, 140);
    --md-sys-color-primary-fixed:              rgb(102, 132, 225);
    --md-sys-color-primary-fixed-dim:          rgb(102, 132, 225);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(184, 84, 212);
    --md-sys-color-secondary-container:        rgb(166, 162, 140);
    --md-sys-color-secondary-fixed:            rgb(184, 84, 212);
    --md-sys-color-secondary-fixed-dim:        rgb(184, 84, 212);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(32, 32, 29);
    --md-sys-color-surface:                    rgb(254, 251, 236);
    --md-sys-color-surface-bright:             rgb(153, 149, 128);
    --md-sys-color-surface-container:          rgb(232, 228, 207);
    --md-sys-color-surface-container-high:     rgb(166, 162, 140);
    --md-sys-color-surface-container-highest:  rgb(166, 162, 140);
    --md-sys-color-surface-container-low:      rgb(232, 228, 207);
    --md-sys-color-surface-container-lowest:   rgb(254, 251, 236);
    --md-sys-color-surface-dim:                rgb(254, 251, 236);
    --md-sys-color-surface-tint:               rgb(102, 132, 225);
    --md-sys-color-surface-variant:            rgb(166, 162, 140);
    --md-sys-color-tertiary:                   rgb(31, 173, 131);
    --md-sys-color-tertiary-container:         rgb(166, 162, 140);
    --md-sys-color-tertiary-fixed:             rgb(31, 173, 131);
    --md-sys-color-tertiary-fixed-dim:         rgb(31, 173, 131);
}
