:root {
    --theme-color: "Pasque";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(39, 28, 58);
    --md-sys-color-error:                      rgb(169, 34, 88);
    --md-sys-color-error-container:            rgb(16, 3, 35);
    --md-sys-color-inverse-on-surface:         rgb(39, 28, 58);
    --md-sys-color-inverse-primary:            rgb(142, 125, 198);
    --md-sys-color-inverse-surface:            rgb(237, 234, 239);
    --md-sys-color-on-background:              rgb(222, 220, 223);
    --md-sys-color-on-error:                   rgb(39, 28, 58);
    --md-sys-color-on-error-container:         rgb(169, 34, 88);
    --md-sys-color-on-primary:                 rgb(39, 28, 58);
    --md-sys-color-on-primary-container:       rgb(142, 125, 198);
    --md-sys-color-on-primary-fixed:           rgb(39, 28, 58);
    --md-sys-color-on-primary-fixed-variant:   rgb(16, 3, 35);
    --md-sys-color-on-secondary:               rgb(39, 28, 58);
    --md-sys-color-on-secondary-container:     rgb(237, 234, 239);
    --md-sys-color-on-secondary-fixed:         rgb(39, 28, 58);
    --md-sys-color-on-secondary-fixed-variant: rgb(16, 3, 35);
    --md-sys-color-on-surface:                 rgb(222, 220, 223);
    --md-sys-color-on-surface-variant:         rgb(222, 220, 223);
    --md-sys-color-on-tertiary:                rgb(39, 28, 58);
    --md-sys-color-on-tertiary-container:      rgb(237, 234, 239);
    --md-sys-color-on-tertiary-fixed:          rgb(39, 28, 58);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(16, 3, 35);
    --md-sys-color-outline:                    rgb(190, 188, 191);
    --md-sys-color-outline-variant:            rgb(62, 45, 92);
    --md-sys-color-primary:                    rgb(142, 125, 198);
    --md-sys-color-primary-container:          rgb(62, 45, 92);
    --md-sys-color-primary-fixed:              rgb(142, 125, 198);
    --md-sys-color-primary-fixed-dim:          rgb(142, 125, 198);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(149, 59, 157);
    --md-sys-color-secondary-container:        rgb(62, 45, 92);
    --md-sys-color-secondary-fixed:            rgb(149, 59, 157);
    --md-sys-color-secondary-fixed-dim:        rgb(149, 59, 157);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(187, 170, 221);
    --md-sys-color-surface:                    rgb(39, 28, 58);
    --md-sys-color-surface-bright:             rgb(93, 87, 102);
    --md-sys-color-surface-container:          rgb(16, 3, 35);
    --md-sys-color-surface-container-high:     rgb(62, 45, 92);
    --md-sys-color-surface-container-highest:  rgb(62, 45, 92);
    --md-sys-color-surface-container-low:      rgb(16, 3, 35);
    --md-sys-color-surface-container-lowest:   rgb(39, 28, 58);
    --md-sys-color-surface-dim:                rgb(39, 28, 58);
    --md-sys-color-surface-tint:               rgb(142, 125, 198);
    --md-sys-color-surface-variant:            rgb(62, 45, 92);
    --md-sys-color-tertiary:                   rgb(114, 99, 170);
    --md-sys-color-tertiary-container:         rgb(62, 45, 92);
    --md-sys-color-tertiary-fixed:             rgb(114, 99, 170);
    --md-sys-color-tertiary-fixed-dim:         rgb(114, 99, 170);
}
