:root {
    --theme-color: "UwUnicorn";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(36, 27, 38);
    --md-sys-color-error:                      rgb(135, 123, 182);
    --md-sys-color-error-container:            rgb(47, 42, 63);
    --md-sys-color-inverse-on-surface:         rgb(36, 27, 38);
    --md-sys-color-inverse-primary:            rgb(106, 158, 181);
    --md-sys-color-inverse-surface:            rgb(217, 194, 198);
    --md-sys-color-on-background:              rgb(238, 213, 217);
    --md-sys-color-on-error:                   rgb(36, 27, 38);
    --md-sys-color-on-error-container:         rgb(135, 123, 182);
    --md-sys-color-on-primary:                 rgb(36, 27, 38);
    --md-sys-color-on-primary-container:       rgb(106, 158, 181);
    --md-sys-color-on-primary-fixed:           rgb(36, 27, 38);
    --md-sys-color-on-primary-fixed-variant:   rgb(47, 42, 63);
    --md-sys-color-on-secondary:               rgb(36, 27, 38);
    --md-sys-color-on-secondary-container:     rgb(217, 194, 198);
    --md-sys-color-on-secondary-fixed:         rgb(36, 27, 38);
    --md-sys-color-on-secondary-fixed-variant: rgb(47, 42, 63);
    --md-sys-color-on-surface:                 rgb(238, 213, 217);
    --md-sys-color-on-surface-variant:         rgb(126, 95, 131);
    --md-sys-color-on-tertiary:                rgb(36, 27, 38);
    --md-sys-color-on-tertiary-container:      rgb(217, 194, 198);
    --md-sys-color-on-tertiary-fixed:          rgb(36, 27, 38);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(47, 42, 63);
    --md-sys-color-outline:                    rgb(108, 60, 178);
    --md-sys-color-outline-variant:            rgb(70, 53, 74);
    --md-sys-color-primary:                    rgb(106, 158, 181);
    --md-sys-color-primary-container:          rgb(70, 53, 74);
    --md-sys-color-primary-fixed:              rgb(106, 158, 181);
    --md-sys-color-primary-fixed-dim:          rgb(106, 158, 181);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(120, 163, 143);
    --md-sys-color-secondary-container:        rgb(70, 53, 74);
    --md-sys-color-secondary-fixed:            rgb(120, 163, 143);
    --md-sys-color-secondary-fixed-dim:        rgb(120, 163, 143);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(228, 204, 208);
    --md-sys-color-surface:                    rgb(36, 27, 38);
    --md-sys-color-surface-bright:             rgb(108, 60, 178);
    --md-sys-color-surface-container:          rgb(47, 42, 63);
    --md-sys-color-surface-container-high:     rgb(70, 53, 74);
    --md-sys-color-surface-container-highest:  rgb(70, 53, 74);
    --md-sys-color-surface-container-low:      rgb(47, 42, 63);
    --md-sys-color-surface-container-lowest:   rgb(36, 27, 38);
    --md-sys-color-surface-dim:                rgb(36, 27, 38);
    --md-sys-color-surface-tint:               rgb(106, 158, 181);
    --md-sys-color-surface-variant:            rgb(70, 53, 74);
    --md-sys-color-tertiary:                   rgb(156, 95, 206);
    --md-sys-color-tertiary-container:         rgb(70, 53, 74);
    --md-sys-color-tertiary-fixed:             rgb(156, 95, 206);
    --md-sys-color-tertiary-fixed-dim:         rgb(156, 95, 206);
}
