:root {
    --theme-color: "Measured Dark";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(0, 33, 31);
    --md-sys-color-error:                      rgb(206, 126, 142);
    --md-sys-color-error-container:            rgb(0, 58, 56);
    --md-sys-color-inverse-on-surface:         rgb(0, 33, 31);
    --md-sys-color-inverse-primary:            rgb(136, 176, 218);
    --md-sys-color-inverse-surface:            rgb(239, 239, 239);
    --md-sys-color-on-background:              rgb(220, 220, 220);
    --md-sys-color-on-error:                   rgb(0, 33, 31);
    --md-sys-color-on-error-container:         rgb(206, 126, 142);
    --md-sys-color-on-primary:                 rgb(0, 33, 31);
    --md-sys-color-on-primary-container:       rgb(136, 176, 218);
    --md-sys-color-on-primary-fixed:           rgb(0, 33, 31);
    --md-sys-color-on-primary-fixed-variant:   rgb(0, 58, 56);
    --md-sys-color-on-secondary:               rgb(0, 33, 31);
    --md-sys-color-on-secondary-container:     rgb(239, 239, 239);
    --md-sys-color-on-secondary-fixed:         rgb(0, 33, 31);
    --md-sys-color-on-secondary-fixed-variant: rgb(0, 58, 56);
    --md-sys-color-on-surface:                 rgb(220, 220, 220);
    --md-sys-color-on-surface-variant:         rgb(195, 195, 195);
    --md-sys-color-on-tertiary:                rgb(0, 33, 31);
    --md-sys-color-on-tertiary-container:      rgb(239, 239, 239);
    --md-sys-color-on-tertiary-fixed:          rgb(0, 33, 31);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(0, 58, 56);
    --md-sys-color-outline:                    rgb(171, 171, 171);
    --md-sys-color-outline-variant:            rgb(0, 84, 83);
    --md-sys-color-primary:                    rgb(136, 176, 218);
    --md-sys-color-primary-container:          rgb(0, 84, 83);
    --md-sys-color-primary-fixed:              rgb(136, 176, 218);
    --md-sys-color-primary-fixed-dim:          rgb(136, 176, 218);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(179, 155, 224);
    --md-sys-color-secondary-container:        rgb(0, 84, 83);
    --md-sys-color-secondary-fixed:            rgb(179, 155, 224);
    --md-sys-color-secondary-fixed-dim:        rgb(179, 155, 224);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(245, 245, 245);
    --md-sys-color-surface:                    rgb(0, 33, 31);
    --md-sys-color-surface-bright:             rgb(171, 171, 171);
    --md-sys-color-surface-container:          rgb(0, 58, 56);
    --md-sys-color-surface-container-high:     rgb(0, 84, 83);
    --md-sys-color-surface-container-highest:  rgb(0, 84, 83);
    --md-sys-color-surface-container-low:      rgb(0, 58, 56);
    --md-sys-color-surface-container-lowest:   rgb(0, 33, 31);
    --md-sys-color-surface-dim:                rgb(0, 33, 31);
    --md-sys-color-surface-tint:               rgb(136, 176, 218);
    --md-sys-color-surface-variant:            rgb(0, 84, 83);
    --md-sys-color-tertiary:                   rgb(98, 192, 190);
    --md-sys-color-tertiary-container:         rgb(0, 84, 83);
    --md-sys-color-tertiary-fixed:             rgb(98, 192, 190);
    --md-sys-color-tertiary-fixed-dim:         rgb(98, 192, 190);
}
