:root {
    --theme-color: "Precious Dark Fifteen";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(35, 38, 43);
    --md-sys-color-error:                      rgb(255, 135, 130);
    --md-sys-color-error-container:            rgb(48, 51, 55);
    --md-sys-color-inverse-on-surface:         rgb(35, 38, 43);
    --md-sys-color-inverse-primary:            rgb(102, 176, 239);
    --md-sys-color-inverse-surface:            rgb(186, 185, 182);
    --md-sys-color-on-background:              rgb(186, 185, 182);
    --md-sys-color-on-error:                   rgb(35, 38, 43);
    --md-sys-color-on-error-container:         rgb(255, 135, 130);
    --md-sys-color-on-primary:                 rgb(35, 38, 43);
    --md-sys-color-on-primary-container:       rgb(102, 176, 239);
    --md-sys-color-on-primary-fixed:           rgb(35, 38, 43);
    --md-sys-color-on-primary-fixed-variant:   rgb(48, 51, 55);
    --md-sys-color-on-secondary:               rgb(35, 38, 43);
    --md-sys-color-on-secondary-container:     rgb(186, 185, 182);
    --md-sys-color-on-secondary-fixed:         rgb(35, 38, 43);
    --md-sys-color-on-secondary-fixed-variant: rgb(48, 51, 55);
    --md-sys-color-on-surface:                 rgb(186, 185, 182);
    --md-sys-color-on-surface-variant:         rgb(171, 170, 168);
    --md-sys-color-on-tertiary:                rgb(35, 38, 43);
    --md-sys-color-on-tertiary-container:      rgb(186, 185, 182);
    --md-sys-color-on-tertiary-fixed:          rgb(35, 38, 43);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(48, 51, 55);
    --md-sys-color-outline:                    rgb(137, 137, 137);
    --md-sys-color-outline-variant:            rgb(62, 64, 68);
    --md-sys-color-primary:                    rgb(102, 176, 239);
    --md-sys-color-primary-container:          rgb(62, 64, 68);
    --md-sys-color-primary-fixed:              rgb(102, 176, 239);
    --md-sys-color-primary-fixed-dim:          rgb(102, 176, 239);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(183, 153, 255);
    --md-sys-color-secondary-container:        rgb(62, 64, 68);
    --md-sys-color-secondary-fixed:            rgb(183, 153, 255);
    --md-sys-color-secondary-fixed-dim:        rgb(183, 153, 255);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(186, 185, 182);
    --md-sys-color-surface:                    rgb(35, 38, 43);
    --md-sys-color-surface-bright:             rgb(137, 137, 137);
    --md-sys-color-surface-container:          rgb(48, 51, 55);
    --md-sys-color-surface-container-high:     rgb(62, 64, 68);
    --md-sys-color-surface-container-highest:  rgb(62, 64, 68);
    --md-sys-color-surface-container-low:      rgb(48, 51, 55);
    --md-sys-color-surface-container-lowest:   rgb(35, 38, 43);
    --md-sys-color-surface-dim:                rgb(35, 38, 43);
    --md-sys-color-surface-tint:               rgb(102, 176, 239);
    --md-sys-color-surface-variant:            rgb(62, 64, 68);
    --md-sys-color-tertiary:                   rgb(66, 189, 167);
    --md-sys-color-tertiary-container:         rgb(62, 64, 68);
    --md-sys-color-tertiary-fixed:             rgb(66, 189, 167);
    --md-sys-color-tertiary-fixed-dim:         rgb(66, 189, 167);
}
