:root {
    --theme-color: "Gruber";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(24, 24, 24);
    --md-sys-color-error:                      rgb(244, 56, 65);
    --md-sys-color-error-container:            rgb(69, 61, 65);
    --md-sys-color-inverse-on-surface:         rgb(24, 24, 24);
    --md-sys-color-inverse-primary:            rgb(150, 166, 200);
    --md-sys-color-inverse-surface:            rgb(245, 245, 245);
    --md-sys-color-on-background:              rgb(244, 244, 255);
    --md-sys-color-on-error:                   rgb(24, 24, 24);
    --md-sys-color-on-error-container:         rgb(244, 56, 65);
    --md-sys-color-on-primary:                 rgb(24, 24, 24);
    --md-sys-color-on-primary-container:       rgb(150, 166, 200);
    --md-sys-color-on-primary-fixed:           rgb(24, 24, 24);
    --md-sys-color-on-primary-fixed-variant:   rgb(69, 61, 65);
    --md-sys-color-on-secondary:               rgb(24, 24, 24);
    --md-sys-color-on-secondary-container:     rgb(245, 245, 245);
    --md-sys-color-on-secondary-fixed:         rgb(24, 24, 24);
    --md-sys-color-on-secondary-fixed-variant: rgb(69, 61, 65);
    --md-sys-color-on-surface:                 rgb(244, 244, 255);
    --md-sys-color-on-surface-variant:         rgb(244, 244, 255);
    --md-sys-color-on-tertiary:                rgb(24, 24, 24);
    --md-sys-color-on-tertiary-container:      rgb(245, 245, 245);
    --md-sys-color-on-tertiary-fixed:          rgb(24, 24, 24);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(69, 61, 65);
    --md-sys-color-outline:                    rgb(228, 228, 239);
    --md-sys-color-outline-variant:            rgb(72, 72, 72);
    --md-sys-color-primary:                    rgb(150, 166, 200);
    --md-sys-color-primary-container:          rgb(72, 72, 72);
    --md-sys-color-primary-fixed:              rgb(150, 166, 200);
    --md-sys-color-primary-fixed-dim:          rgb(150, 166, 200);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(158, 149, 199);
    --md-sys-color-secondary-container:        rgb(72, 72, 72);
    --md-sys-color-secondary-fixed:            rgb(158, 149, 199);
    --md-sys-color-secondary-fixed-dim:        rgb(158, 149, 199);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(228, 228, 239);
    --md-sys-color-surface:                    rgb(24, 24, 24);
    --md-sys-color-surface-bright:             rgb(82, 73, 78);
    --md-sys-color-surface-container:          rgb(69, 61, 65);
    --md-sys-color-surface-container-high:     rgb(72, 72, 72);
    --md-sys-color-surface-container-highest:  rgb(72, 72, 72);
    --md-sys-color-surface-container-low:      rgb(69, 61, 65);
    --md-sys-color-surface-container-lowest:   rgb(24, 24, 24);
    --md-sys-color-surface-dim:                rgb(24, 24, 24);
    --md-sys-color-surface-tint:               rgb(150, 166, 200);
    --md-sys-color-surface-variant:            rgb(72, 72, 72);
    --md-sys-color-tertiary:                   rgb(149, 169, 159);
    --md-sys-color-tertiary-container:         rgb(72, 72, 72);
    --md-sys-color-tertiary-fixed:             rgb(149, 169, 159);
    --md-sys-color-tertiary-fixed-dim:         rgb(149, 169, 159);
}
