:root {
    --theme-color: "Unikitty Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(255, 255, 255);
    --md-sys-color-error:                      rgb(216, 19, 127);
    --md-sys-color-error-container:            rgb(225, 225, 226);
    --md-sys-color-inverse-on-surface:         rgb(255, 255, 255);
    --md-sys-color-inverse-primary:            rgb(119, 93, 255);
    --md-sys-color-inverse-surface:            rgb(79, 75, 81);
    --md-sys-color-on-background:              rgb(108, 105, 110);
    --md-sys-color-on-error:                   rgb(255, 255, 255);
    --md-sys-color-on-error-container:         rgb(216, 19, 127);
    --md-sys-color-on-primary:                 rgb(255, 255, 255);
    --md-sys-color-on-primary-container:       rgb(119, 93, 255);
    --md-sys-color-on-primary-fixed:           rgb(255, 255, 255);
    --md-sys-color-on-primary-fixed-variant:   rgb(225, 225, 226);
    --md-sys-color-on-secondary:               rgb(255, 255, 255);
    --md-sys-color-on-secondary-container:     rgb(79, 75, 81);
    --md-sys-color-on-secondary-fixed:         rgb(255, 255, 255);
    --md-sys-color-on-secondary-fixed-variant: rgb(225, 225, 226);
    --md-sys-color-on-surface:                 rgb(108, 105, 110);
    --md-sys-color-on-surface-variant:         rgb(137, 135, 139);
    --md-sys-color-on-tertiary:                rgb(255, 255, 255);
    --md-sys-color-on-tertiary-container:      rgb(79, 75, 81);
    --md-sys-color-on-tertiary-fixed:          rgb(255, 255, 255);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(225, 225, 226);
    --md-sys-color-outline:                    rgb(167, 165, 168);
    --md-sys-color-outline-variant:            rgb(196, 195, 197);
    --md-sys-color-primary:                    rgb(119, 93, 255);
    --md-sys-color-primary-container:          rgb(196, 195, 197);
    --md-sys-color-primary-fixed:              rgb(119, 93, 255);
    --md-sys-color-primary-fixed-dim:          rgb(119, 93, 255);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(170, 23, 230);
    --md-sys-color-secondary-container:        rgb(196, 195, 197);
    --md-sys-color-secondary-fixed:            rgb(170, 23, 230);
    --md-sys-color-secondary-fixed-dim:        rgb(170, 23, 230);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(50, 45, 52);
    --md-sys-color-surface:                    rgb(255, 255, 255);
    --md-sys-color-surface-bright:             rgb(167, 165, 168);
    --md-sys-color-surface-container:          rgb(225, 225, 226);
    --md-sys-color-surface-container-high:     rgb(196, 195, 197);
    --md-sys-color-surface-container-highest:  rgb(196, 195, 197);
    --md-sys-color-surface-container-low:      rgb(225, 225, 226);
    --md-sys-color-surface-container-lowest:   rgb(255, 255, 255);
    --md-sys-color-surface-dim:                rgb(255, 255, 255);
    --md-sys-color-surface-tint:               rgb(119, 93, 255);
    --md-sys-color-surface-variant:            rgb(196, 195, 197);
    --md-sys-color-tertiary:                   rgb(20, 155, 218);
    --md-sys-color-tertiary-container:         rgb(196, 195, 197);
    --md-sys-color-tertiary-fixed:             rgb(20, 155, 218);
    --md-sys-color-tertiary-fixed-dim:         rgb(20, 155, 218);
}
