:root {
    --theme-color: "Ayu Mirage";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(31, 36, 48);
    --md-sys-color-error:                      rgb(242, 135, 121);
    --md-sys-color-error-container:            rgb(36, 41, 54);
    --md-sys-color-inverse-on-surface:         rgb(31, 36, 48);
    --md-sys-color-inverse-primary:            rgb(115, 208, 255);
    --md-sys-color-inverse-surface:            rgb(217, 215, 206);
    --md-sys-color-on-background:              rgb(204, 202, 194);
    --md-sys-color-on-error:                   rgb(31, 36, 48);
    --md-sys-color-on-error-container:         rgb(242, 135, 121);
    --md-sys-color-on-primary:                 rgb(31, 36, 48);
    --md-sys-color-on-primary-container:       rgb(115, 208, 255);
    --md-sys-color-on-primary-fixed:           rgb(31, 36, 48);
    --md-sys-color-on-primary-fixed-variant:   rgb(36, 41, 54);
    --md-sys-color-on-secondary:               rgb(31, 36, 48);
    --md-sys-color-on-secondary-container:     rgb(217, 215, 206);
    --md-sys-color-on-secondary-fixed:         rgb(31, 36, 48);
    --md-sys-color-on-secondary-fixed-variant: rgb(36, 41, 54);
    --md-sys-color-on-surface:                 rgb(204, 202, 194);
    --md-sys-color-on-surface-variant:         rgb(204, 202, 194);
    --md-sys-color-on-tertiary:                rgb(31, 36, 48);
    --md-sys-color-on-tertiary-container:      rgb(217, 215, 206);
    --md-sys-color-on-tertiary-fixed:          rgb(31, 36, 48);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(36, 41, 54);
    --md-sys-color-outline:                    rgb(112, 122, 140);
    --md-sys-color-outline-variant:            rgb(50, 56, 68);
    --md-sys-color-primary:                    rgb(115, 208, 255);
    --md-sys-color-primary-container:          rgb(50, 56, 68);
    --md-sys-color-primary-fixed:              rgb(115, 208, 255);
    --md-sys-color-primary-fixed-dim:          rgb(115, 208, 255);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(212, 191, 255);
    --md-sys-color-secondary-container:        rgb(50, 56, 68);
    --md-sys-color-secondary-fixed:            rgb(212, 191, 255);
    --md-sys-color-secondary-fixed-dim:        rgb(212, 191, 255);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(243, 244, 245);
    --md-sys-color-surface:                    rgb(31, 36, 48);
    --md-sys-color-surface-bright:             rgb(74, 80, 89);
    --md-sys-color-surface-container:          rgb(36, 41, 54);
    --md-sys-color-surface-container-high:     rgb(50, 56, 68);
    --md-sys-color-surface-container-highest:  rgb(50, 56, 68);
    --md-sys-color-surface-container-low:      rgb(36, 41, 54);
    --md-sys-color-surface-container-lowest:   rgb(31, 36, 48);
    --md-sys-color-surface-dim:                rgb(31, 36, 48);
    --md-sys-color-surface-tint:               rgb(115, 208, 255);
    --md-sys-color-surface-variant:            rgb(50, 56, 68);
    --md-sys-color-tertiary:                   rgb(149, 230, 203);
    --md-sys-color-tertiary-container:         rgb(50, 56, 68);
    --md-sys-color-tertiary-fixed:             rgb(149, 230, 203);
    --md-sys-color-tertiary-fixed-dim:         rgb(149, 230, 203);
}
