:root {
    --theme-color: "Gruvbox dark, pale";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(38, 38, 38);
    --md-sys-color-error:                      rgb(215, 95, 95);
    --md-sys-color-error-container:            rgb(58, 58, 58);
    --md-sys-color-inverse-on-surface:         rgb(38, 38, 38);
    --md-sys-color-inverse-primary:            rgb(131, 173, 173);
    --md-sys-color-inverse-surface:            rgb(213, 196, 161);
    --md-sys-color-on-background:              rgb(218, 185, 151);
    --md-sys-color-on-error:                   rgb(38, 38, 38);
    --md-sys-color-on-error-container:         rgb(215, 95, 95);
    --md-sys-color-on-primary:                 rgb(38, 38, 38);
    --md-sys-color-on-primary-container:       rgb(131, 173, 173);
    --md-sys-color-on-primary-fixed:           rgb(38, 38, 38);
    --md-sys-color-on-primary-fixed-variant:   rgb(58, 58, 58);
    --md-sys-color-on-secondary:               rgb(38, 38, 38);
    --md-sys-color-on-secondary-container:     rgb(213, 196, 161);
    --md-sys-color-on-secondary-fixed:         rgb(38, 38, 38);
    --md-sys-color-on-secondary-fixed-variant: rgb(58, 58, 58);
    --md-sys-color-on-surface:                 rgb(218, 185, 151);
    --md-sys-color-on-surface-variant:         rgb(218, 185, 151);
    --md-sys-color-on-tertiary:                rgb(38, 38, 38);
    --md-sys-color-on-tertiary-container:      rgb(213, 196, 161);
    --md-sys-color-on-tertiary-fixed:          rgb(38, 38, 38);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(58, 58, 58);
    --md-sys-color-outline:                    rgb(148, 148, 148);
    --md-sys-color-outline-variant:            rgb(78, 78, 78);
    --md-sys-color-primary:                    rgb(131, 173, 173);
    --md-sys-color-primary-container:          rgb(78, 78, 78);
    --md-sys-color-primary-fixed:              rgb(131, 173, 173);
    --md-sys-color-primary-fixed-dim:          rgb(131, 173, 173);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(212, 133, 173);
    --md-sys-color-secondary-container:        rgb(78, 78, 78);
    --md-sys-color-secondary-fixed:            rgb(212, 133, 173);
    --md-sys-color-secondary-fixed-dim:        rgb(212, 133, 173);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(235, 219, 178);
    --md-sys-color-surface:                    rgb(38, 38, 38);
    --md-sys-color-surface-bright:             rgb(138, 138, 138);
    --md-sys-color-surface-container:          rgb(58, 58, 58);
    --md-sys-color-surface-container-high:     rgb(78, 78, 78);
    --md-sys-color-surface-container-highest:  rgb(78, 78, 78);
    --md-sys-color-surface-container-low:      rgb(58, 58, 58);
    --md-sys-color-surface-container-lowest:   rgb(38, 38, 38);
    --md-sys-color-surface-dim:                rgb(38, 38, 38);
    --md-sys-color-surface-tint:               rgb(131, 173, 173);
    --md-sys-color-surface-variant:            rgb(78, 78, 78);
    --md-sys-color-tertiary:                   rgb(133, 173, 133);
    --md-sys-color-tertiary-container:         rgb(78, 78, 78);
    --md-sys-color-tertiary-fixed:             rgb(133, 173, 133);
    --md-sys-color-tertiary-fixed-dim:         rgb(133, 173, 133);
}
