:root {
    --theme-color: "PhD";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(6, 18, 41);
    --md-sys-color-error:                      rgb(208, 115, 70);
    --md-sys-color-error-container:            rgb(42, 52, 72);
    --md-sys-color-inverse-on-surface:         rgb(6, 18, 41);
    --md-sys-color-inverse-primary:            rgb(82, 153, 191);
    --md-sys-color-inverse-surface:            rgb(219, 221, 224);
    --md-sys-color-on-background:              rgb(184, 187, 194);
    --md-sys-color-on-error:                   rgb(6, 18, 41);
    --md-sys-color-on-error-container:         rgb(208, 115, 70);
    --md-sys-color-on-primary:                 rgb(6, 18, 41);
    --md-sys-color-on-primary-container:       rgb(82, 153, 191);
    --md-sys-color-on-primary-fixed:           rgb(6, 18, 41);
    --md-sys-color-on-primary-fixed-variant:   rgb(42, 52, 72);
    --md-sys-color-on-secondary:               rgb(6, 18, 41);
    --md-sys-color-on-secondary-container:     rgb(219, 221, 224);
    --md-sys-color-on-secondary-fixed:         rgb(6, 18, 41);
    --md-sys-color-on-secondary-fixed-variant: rgb(42, 52, 72);
    --md-sys-color-on-surface:                 rgb(184, 187, 194);
    --md-sys-color-on-surface-variant:         rgb(154, 153, 163);
    --md-sys-color-on-tertiary:                rgb(6, 18, 41);
    --md-sys-color-on-tertiary-container:      rgb(219, 221, 224);
    --md-sys-color-on-tertiary-fixed:          rgb(6, 18, 41);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(42, 52, 72);
    --md-sys-color-outline:                    rgb(113, 120, 133);
    --md-sys-color-outline-variant:            rgb(77, 86, 102);
    --md-sys-color-primary:                    rgb(82, 153, 191);
    --md-sys-color-primary-container:          rgb(77, 86, 102);
    --md-sys-color-primary-fixed:              rgb(82, 153, 191);
    --md-sys-color-primary-fixed-dim:          rgb(82, 153, 191);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(153, 137, 204);
    --md-sys-color-secondary-container:        rgb(77, 86, 102);
    --md-sys-color-secondary-fixed:            rgb(153, 137, 204);
    --md-sys-color-secondary-fixed-dim:        rgb(153, 137, 204);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(255, 255, 255);
    --md-sys-color-surface:                    rgb(6, 18, 41);
    --md-sys-color-surface-bright:             rgb(113, 120, 133);
    --md-sys-color-surface-container:          rgb(42, 52, 72);
    --md-sys-color-surface-container-high:     rgb(77, 86, 102);
    --md-sys-color-surface-container-highest:  rgb(77, 86, 102);
    --md-sys-color-surface-container-low:      rgb(42, 52, 72);
    --md-sys-color-surface-container-lowest:   rgb(6, 18, 41);
    --md-sys-color-surface-dim:                rgb(6, 18, 41);
    --md-sys-color-surface-tint:               rgb(82, 153, 191);
    --md-sys-color-surface-variant:            rgb(77, 86, 102);
    --md-sys-color-tertiary:                   rgb(114, 185, 191);
    --md-sys-color-tertiary-container:         rgb(77, 86, 102);
    --md-sys-color-tertiary-fixed:             rgb(114, 185, 191);
    --md-sys-color-tertiary-fixed-dim:         rgb(114, 185, 191);
}
