:root {
    --theme-color: "Brewer";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(12, 13, 14);
    --md-sys-color-error:                      rgb(227, 26, 28);
    --md-sys-color-error-container:            rgb(46, 47, 48);
    --md-sys-color-inverse-on-surface:         rgb(12, 13, 14);
    --md-sys-color-inverse-primary:            rgb(49, 130, 189);
    --md-sys-color-inverse-surface:            rgb(218, 219, 220);
    --md-sys-color-on-background:              rgb(183, 184, 185);
    --md-sys-color-on-error:                   rgb(12, 13, 14);
    --md-sys-color-on-error-container:         rgb(227, 26, 28);
    --md-sys-color-on-primary:                 rgb(12, 13, 14);
    --md-sys-color-on-primary-container:       rgb(49, 130, 189);
    --md-sys-color-on-primary-fixed:           rgb(12, 13, 14);
    --md-sys-color-on-primary-fixed-variant:   rgb(46, 47, 48);
    --md-sys-color-on-secondary:               rgb(12, 13, 14);
    --md-sys-color-on-secondary-container:     rgb(218, 219, 220);
    --md-sys-color-on-secondary-fixed:         rgb(12, 13, 14);
    --md-sys-color-on-secondary-fixed-variant: rgb(46, 47, 48);
    --md-sys-color-on-surface:                 rgb(183, 184, 185);
    --md-sys-color-on-surface-variant:         rgb(149, 150, 151);
    --md-sys-color-on-tertiary:                rgb(12, 13, 14);
    --md-sys-color-on-tertiary-container:      rgb(218, 219, 220);
    --md-sys-color-on-tertiary-fixed:          rgb(12, 13, 14);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(46, 47, 48);
    --md-sys-color-outline:                    rgb(115, 116, 117);
    --md-sys-color-outline-variant:            rgb(81, 82, 83);
    --md-sys-color-primary:                    rgb(49, 130, 189);
    --md-sys-color-primary-container:          rgb(81, 82, 83);
    --md-sys-color-primary-fixed:              rgb(49, 130, 189);
    --md-sys-color-primary-fixed-dim:          rgb(49, 130, 189);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(117, 107, 177);
    --md-sys-color-secondary-container:        rgb(81, 82, 83);
    --md-sys-color-secondary-fixed:            rgb(117, 107, 177);
    --md-sys-color-secondary-fixed-dim:        rgb(117, 107, 177);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(252, 253, 254);
    --md-sys-color-surface:                    rgb(12, 13, 14);
    --md-sys-color-surface-bright:             rgb(115, 116, 117);
    --md-sys-color-surface-container:          rgb(46, 47, 48);
    --md-sys-color-surface-container-high:     rgb(81, 82, 83);
    --md-sys-color-surface-container-highest:  rgb(81, 82, 83);
    --md-sys-color-surface-container-low:      rgb(46, 47, 48);
    --md-sys-color-surface-container-lowest:   rgb(12, 13, 14);
    --md-sys-color-surface-dim:                rgb(12, 13, 14);
    --md-sys-color-surface-tint:               rgb(49, 130, 189);
    --md-sys-color-surface-variant:            rgb(81, 82, 83);
    --md-sys-color-tertiary:                   rgb(128, 177, 211);
    --md-sys-color-tertiary-container:         rgb(81, 82, 83);
    --md-sys-color-tertiary-fixed:             rgb(128, 177, 211);
    --md-sys-color-tertiary-fixed-dim:         rgb(128, 177, 211);
}
