:root {
    --theme-color: "Purpledream";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(16, 5, 16);
    --md-sys-color-error:                      rgb(255, 29, 13);
    --md-sys-color-error-container:            rgb(48, 32, 48);
    --md-sys-color-inverse-on-surface:         rgb(16, 5, 16);
    --md-sys-color-inverse-primary:            rgb(0, 160, 240);
    --md-sys-color-inverse-surface:            rgb(238, 224, 238);
    --md-sys-color-on-background:              rgb(221, 208, 221);
    --md-sys-color-on-error:                   rgb(16, 5, 16);
    --md-sys-color-on-error-container:         rgb(255, 29, 13);
    --md-sys-color-on-primary:                 rgb(16, 5, 16);
    --md-sys-color-on-primary-container:       rgb(0, 160, 240);
    --md-sys-color-on-primary-fixed:           rgb(16, 5, 16);
    --md-sys-color-on-primary-fixed-variant:   rgb(48, 32, 48);
    --md-sys-color-on-secondary:               rgb(16, 5, 16);
    --md-sys-color-on-secondary-container:     rgb(238, 224, 238);
    --md-sys-color-on-secondary-fixed:         rgb(16, 5, 16);
    --md-sys-color-on-secondary-fixed-variant: rgb(48, 32, 48);
    --md-sys-color-on-surface:                 rgb(221, 208, 221);
    --md-sys-color-on-surface-variant:         rgb(221, 208, 221);
    --md-sys-color-on-tertiary:                rgb(16, 5, 16);
    --md-sys-color-on-tertiary-container:      rgb(238, 224, 238);
    --md-sys-color-on-tertiary-fixed:          rgb(16, 5, 16);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(48, 32, 48);
    --md-sys-color-outline:                    rgb(187, 176, 187);
    --md-sys-color-outline-variant:            rgb(64, 48, 64);
    --md-sys-color-primary:                    rgb(0, 160, 240);
    --md-sys-color-primary-container:          rgb(64, 48, 64);
    --md-sys-color-primary-fixed:              rgb(0, 160, 240);
    --md-sys-color-primary-fixed-dim:          rgb(0, 160, 240);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(176, 0, 208);
    --md-sys-color-secondary-container:        rgb(64, 48, 64);
    --md-sys-color-secondary-fixed:            rgb(176, 0, 208);
    --md-sys-color-secondary-fixed-dim:        rgb(176, 0, 208);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(255, 240, 255);
    --md-sys-color-surface:                    rgb(16, 5, 16);
    --md-sys-color-surface-bright:             rgb(96, 80, 96);
    --md-sys-color-surface-container:          rgb(48, 32, 48);
    --md-sys-color-surface-container-high:     rgb(64, 48, 64);
    --md-sys-color-surface-container-highest:  rgb(64, 48, 64);
    --md-sys-color-surface-container-low:      rgb(48, 32, 48);
    --md-sys-color-surface-container-lowest:   rgb(16, 5, 16);
    --md-sys-color-surface-dim:                rgb(16, 5, 16);
    --md-sys-color-surface-tint:               rgb(0, 160, 240);
    --md-sys-color-surface-variant:            rgb(64, 48, 64);
    --md-sys-color-tertiary:                   rgb(0, 117, 176);
    --md-sys-color-tertiary-container:         rgb(64, 48, 64);
    --md-sys-color-tertiary-fixed:             rgb(0, 117, 176);
    --md-sys-color-tertiary-fixed-dim:         rgb(0, 117, 176);
}
