:root {
    --theme-color: "Flexoki Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(255, 252, 240);
    --md-sys-color-error:                      rgb(175, 48, 41);
    --md-sys-color-error-container:            rgb(242, 240, 229);
    --md-sys-color-inverse-on-surface:         rgb(255, 252, 240);
    --md-sys-color-inverse-primary:            rgb(32, 94, 166);
    --md-sys-color-inverse-surface:            rgb(40, 39, 38);
    --md-sys-color-on-background:              rgb(64, 62, 60);
    --md-sys-color-on-error:                   rgb(255, 252, 240);
    --md-sys-color-on-error-container:         rgb(175, 48, 41);
    --md-sys-color-on-primary:                 rgb(255, 252, 240);
    --md-sys-color-on-primary-container:       rgb(32, 94, 166);
    --md-sys-color-on-primary-fixed:           rgb(255, 252, 240);
    --md-sys-color-on-primary-fixed-variant:   rgb(242, 240, 229);
    --md-sys-color-on-secondary:               rgb(255, 252, 240);
    --md-sys-color-on-secondary-container:     rgb(40, 39, 38);
    --md-sys-color-on-secondary-fixed:         rgb(255, 252, 240);
    --md-sys-color-on-secondary-fixed-variant: rgb(242, 240, 229);
    --md-sys-color-on-surface:                 rgb(64, 62, 60);
    --md-sys-color-on-surface-variant:         rgb(64, 62, 60);
    --md-sys-color-on-tertiary:                rgb(255, 252, 240);
    --md-sys-color-on-tertiary-container:      rgb(40, 39, 38);
    --md-sys-color-on-tertiary-fixed:          rgb(255, 252, 240);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(242, 240, 229);
    --md-sys-color-outline:                    rgb(159, 157, 150);
    --md-sys-color-outline-variant:            rgb(230, 228, 217);
    --md-sys-color-primary:                    rgb(32, 94, 166);
    --md-sys-color-primary-container:          rgb(230, 228, 217);
    --md-sys-color-primary-fixed:              rgb(32, 94, 166);
    --md-sys-color-primary-fixed-dim:          rgb(32, 94, 166);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(94, 64, 157);
    --md-sys-color-secondary-container:        rgb(230, 228, 217);
    --md-sys-color-secondary-fixed:            rgb(94, 64, 157);
    --md-sys-color-secondary-fixed-dim:        rgb(94, 64, 157);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(16, 15, 15);
    --md-sys-color-surface:                    rgb(255, 252, 240);
    --md-sys-color-surface-bright:             rgb(206, 205, 195);
    --md-sys-color-surface-container:          rgb(242, 240, 229);
    --md-sys-color-surface-container-high:     rgb(230, 228, 217);
    --md-sys-color-surface-container-highest:  rgb(230, 228, 217);
    --md-sys-color-surface-container-low:      rgb(242, 240, 229);
    --md-sys-color-surface-container-lowest:   rgb(255, 252, 240);
    --md-sys-color-surface-dim:                rgb(255, 252, 240);
    --md-sys-color-surface-tint:               rgb(32, 94, 166);
    --md-sys-color-surface-variant:            rgb(230, 228, 217);
    --md-sys-color-tertiary:                   rgb(36, 131, 123);
    --md-sys-color-tertiary-container:         rgb(230, 228, 217);
    --md-sys-color-tertiary-fixed:             rgb(36, 131, 123);
    --md-sys-color-tertiary-fixed-dim:         rgb(36, 131, 123);
}
