:root {
    --theme-color: "Terracotta";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(239, 234, 232);
    --md-sys-color-error:                      rgb(167, 80, 69);
    --md-sys-color-error-container:            rgb(223, 214, 209);
    --md-sys-color-inverse-on-surface:         rgb(239, 234, 232);
    --md-sys-color-inverse-primary:            rgb(98, 85, 116);
    --md-sys-color-inverse-surface:            rgb(53, 42, 37);
    --md-sys-color-on-background:              rgb(71, 55, 49);
    --md-sys-color-on-error:                   rgb(239, 234, 232);
    --md-sys-color-on-error-container:         rgb(167, 80, 69);
    --md-sys-color-on-primary:                 rgb(239, 234, 232);
    --md-sys-color-on-primary-container:       rgb(98, 85, 116);
    --md-sys-color-on-primary-fixed:           rgb(239, 234, 232);
    --md-sys-color-on-primary-fixed-variant:   rgb(223, 214, 209);
    --md-sys-color-on-secondary:               rgb(239, 234, 232);
    --md-sys-color-on-secondary-container:     rgb(53, 42, 37);
    --md-sys-color-on-secondary-fixed:         rgb(239, 234, 232);
    --md-sys-color-on-secondary-fixed-variant: rgb(223, 214, 209);
    --md-sys-color-on-surface:                 rgb(71, 55, 49);
    --md-sys-color-on-surface-variant:         rgb(89, 69, 61);
    --md-sys-color-on-tertiary:                rgb(239, 234, 232);
    --md-sys-color-on-tertiary-container:      rgb(53, 42, 37);
    --md-sys-color-on-tertiary-fixed:          rgb(239, 234, 232);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(223, 214, 209);
    --md-sys-color-outline:                    rgb(192, 172, 164);
    --md-sys-color-outline-variant:            rgb(208, 193, 187);
    --md-sys-color-primary:                    rgb(98, 85, 116);
    --md-sys-color-primary-container:          rgb(208, 193, 187);
    --md-sys-color-primary-fixed:              rgb(98, 85, 116);
    --md-sys-color-primary-fixed-dim:          rgb(98, 85, 116);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(141, 89, 104);
    --md-sys-color-secondary-container:        rgb(208, 193, 187);
    --md-sys-color-secondary-fixed:            rgb(141, 89, 104);
    --md-sys-color-secondary-fixed-dim:        rgb(141, 89, 104);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(36, 28, 25);
    --md-sys-color-surface:                    rgb(239, 234, 232);
    --md-sys-color-surface-bright:             rgb(192, 172, 164);
    --md-sys-color-surface-container:          rgb(223, 214, 209);
    --md-sys-color-surface-container-high:     rgb(208, 193, 187);
    --md-sys-color-surface-container-highest:  rgb(208, 193, 187);
    --md-sys-color-surface-container-low:      rgb(223, 214, 209);
    --md-sys-color-surface-container-lowest:   rgb(239, 234, 232);
    --md-sys-color-surface-dim:                rgb(239, 234, 232);
    --md-sys-color-surface-tint:               rgb(98, 85, 116);
    --md-sys-color-surface-variant:            rgb(208, 193, 187);
    --md-sys-color-tertiary:                   rgb(132, 127, 158);
    --md-sys-color-tertiary-container:         rgb(208, 193, 187);
    --md-sys-color-tertiary-fixed:             rgb(132, 127, 158);
    --md-sys-color-tertiary-fixed-dim:         rgb(132, 127, 158);
}
