:root {
    --theme-color: "Spaceduck";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(22, 23, 45);
    --md-sys-color-error:                      rgb(227, 52, 0);
    --md-sys-color-error-container:            rgb(27, 28, 54);
    --md-sys-color-inverse-on-surface:         rgb(22, 23, 45);
    --md-sys-color-inverse-primary:            rgb(122, 92, 204);
    --md-sys-color-inverse-surface:            rgb(193, 195, 204);
    --md-sys-color-on-background:              rgb(236, 240, 193);
    --md-sys-color-on-error:                   rgb(22, 23, 45);
    --md-sys-color-on-error-container:         rgb(227, 52, 0);
    --md-sys-color-on-primary:                 rgb(22, 23, 45);
    --md-sys-color-on-primary-container:       rgb(122, 92, 204);
    --md-sys-color-on-primary-fixed:           rgb(22, 23, 45);
    --md-sys-color-on-primary-fixed-variant:   rgb(27, 28, 54);
    --md-sys-color-on-secondary:               rgb(22, 23, 45);
    --md-sys-color-on-secondary-container:     rgb(193, 195, 204);
    --md-sys-color-on-secondary-fixed:         rgb(22, 23, 45);
    --md-sys-color-on-secondary-fixed-variant: rgb(27, 28, 54);
    --md-sys-color-on-surface:                 rgb(236, 240, 193);
    --md-sys-color-on-surface-variant:         rgb(236, 240, 193);
    --md-sys-color-on-tertiary:                rgb(22, 23, 45);
    --md-sys-color-on-tertiary-container:      rgb(193, 195, 204);
    --md-sys-color-on-tertiary-fixed:          rgb(22, 23, 45);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(27, 28, 54);
    --md-sys-color-outline:                    rgb(129, 133, 150);
    --md-sys-color-outline-variant:            rgb(48, 54, 95);
    --md-sys-color-primary:                    rgb(122, 92, 204);
    --md-sys-color-primary-container:          rgb(48, 54, 95);
    --md-sys-color-primary-fixed:              rgb(122, 92, 204);
    --md-sys-color-primary-fixed-dim:          rgb(122, 92, 204);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(179, 161, 230);
    --md-sys-color-secondary-container:        rgb(48, 54, 95);
    --md-sys-color-secondary-fixed:            rgb(179, 161, 230);
    --md-sys-color-secondary-fixed-dim:        rgb(179, 161, 230);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(255, 255, 255);
    --md-sys-color-surface:                    rgb(22, 23, 45);
    --md-sys-color-surface-bright:             rgb(104, 111, 154);
    --md-sys-color-surface-container:          rgb(27, 28, 54);
    --md-sys-color-surface-container-high:     rgb(48, 54, 95);
    --md-sys-color-surface-container-highest:  rgb(48, 54, 95);
    --md-sys-color-surface-container-low:      rgb(27, 28, 54);
    --md-sys-color-surface-container-lowest:   rgb(22, 23, 45);
    --md-sys-color-surface-dim:                rgb(22, 23, 45);
    --md-sys-color-surface-tint:               rgb(122, 92, 204);
    --md-sys-color-surface-variant:            rgb(48, 54, 95);
    --md-sys-color-tertiary:                   rgb(0, 163, 204);
    --md-sys-color-tertiary-container:         rgb(48, 54, 95);
    --md-sys-color-tertiary-fixed:             rgb(0, 163, 204);
    --md-sys-color-tertiary-fixed-dim:         rgb(0, 163, 204);
}
