:root {
    --theme-color: "Yesterday Night";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(52, 61, 70);
    --md-sys-color-error:                      rgb(204, 102, 102);
    --md-sys-color-error-container:            rgb(79, 91, 102);
    --md-sys-color-inverse-on-surface:         rgb(52, 61, 70);
    --md-sys-color-inverse-primary:            rgb(129, 162, 190);
    --md-sys-color-inverse-surface:            rgb(239, 241, 245);
    --md-sys-color-on-background:              rgb(223, 225, 232);
    --md-sys-color-on-error:                   rgb(52, 61, 70);
    --md-sys-color-on-error-container:         rgb(204, 102, 102);
    --md-sys-color-on-primary:                 rgb(52, 61, 70);
    --md-sys-color-on-primary-container:       rgb(129, 162, 190);
    --md-sys-color-on-primary-fixed:           rgb(52, 61, 70);
    --md-sys-color-on-primary-fixed-variant:   rgb(79, 91, 102);
    --md-sys-color-on-secondary:               rgb(52, 61, 70);
    --md-sys-color-on-secondary-container:     rgb(239, 241, 245);
    --md-sys-color-on-secondary-fixed:         rgb(52, 61, 70);
    --md-sys-color-on-secondary-fixed-variant: rgb(79, 91, 102);
    --md-sys-color-on-surface:                 rgb(223, 225, 232);
    --md-sys-color-on-surface-variant:         rgb(192, 197, 206);
    --md-sys-color-on-tertiary:                rgb(52, 61, 70);
    --md-sys-color-on-tertiary-container:      rgb(239, 241, 245);
    --md-sys-color-on-tertiary-fixed:          rgb(52, 61, 70);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(79, 91, 102);
    --md-sys-color-outline:                    rgb(167, 173, 186);
    --md-sys-color-outline-variant:            rgb(101, 115, 126);
    --md-sys-color-primary:                    rgb(129, 162, 190);
    --md-sys-color-primary-container:          rgb(101, 115, 126);
    --md-sys-color-primary-fixed:              rgb(129, 162, 190);
    --md-sys-color-primary-fixed-dim:          rgb(129, 162, 190);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(178, 148, 187);
    --md-sys-color-secondary-container:        rgb(101, 115, 126);
    --md-sys-color-secondary-fixed:            rgb(178, 148, 187);
    --md-sys-color-secondary-fixed-dim:        rgb(178, 148, 187);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(255, 255, 255);
    --md-sys-color-surface:                    rgb(52, 61, 70);
    --md-sys-color-surface-bright:             rgb(167, 173, 186);
    --md-sys-color-surface-container:          rgb(79, 91, 102);
    --md-sys-color-surface-container-high:     rgb(101, 115, 126);
    --md-sys-color-surface-container-highest:  rgb(101, 115, 126);
    --md-sys-color-surface-container-low:      rgb(79, 91, 102);
    --md-sys-color-surface-container-lowest:   rgb(52, 61, 70);
    --md-sys-color-surface-dim:                rgb(52, 61, 70);
    --md-sys-color-surface-tint:               rgb(129, 162, 190);
    --md-sys-color-surface-variant:            rgb(101, 115, 126);
    --md-sys-color-tertiary:                   rgb(138, 190, 183);
    --md-sys-color-tertiary-container:         rgb(101, 115, 126);
    --md-sys-color-tertiary-fixed:             rgb(138, 190, 183);
    --md-sys-color-tertiary-fixed-dim:         rgb(138, 190, 183);
}
