:root {
    --theme-color: "One Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(250, 250, 250);
    --md-sys-color-error:                      rgb(202, 18, 67);
    --md-sys-color-error-container:            rgb(240, 240, 241);
    --md-sys-color-inverse-on-surface:         rgb(250, 250, 250);
    --md-sys-color-inverse-primary:            rgb(64, 120, 242);
    --md-sys-color-inverse-surface:            rgb(32, 34, 39);
    --md-sys-color-on-background:              rgb(56, 58, 66);
    --md-sys-color-on-error:                   rgb(250, 250, 250);
    --md-sys-color-on-error-container:         rgb(202, 18, 67);
    --md-sys-color-on-primary:                 rgb(250, 250, 250);
    --md-sys-color-on-primary-container:       rgb(64, 120, 242);
    --md-sys-color-on-primary-fixed:           rgb(250, 250, 250);
    --md-sys-color-on-primary-fixed-variant:   rgb(240, 240, 241);
    --md-sys-color-on-secondary:               rgb(250, 250, 250);
    --md-sys-color-on-secondary-container:     rgb(32, 34, 39);
    --md-sys-color-on-secondary-fixed:         rgb(250, 250, 250);
    --md-sys-color-on-secondary-fixed-variant: rgb(240, 240, 241);
    --md-sys-color-on-surface:                 rgb(56, 58, 66);
    --md-sys-color-on-surface-variant:         rgb(56, 58, 66);
    --md-sys-color-on-tertiary:                rgb(250, 250, 250);
    --md-sys-color-on-tertiary-container:      rgb(32, 34, 39);
    --md-sys-color-on-tertiary-fixed:          rgb(250, 250, 250);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(240, 240, 241);
    --md-sys-color-outline:                    rgb(105, 108, 119);
    --md-sys-color-outline-variant:            rgb(229, 229, 230);
    --md-sys-color-primary:                    rgb(64, 120, 242);
    --md-sys-color-primary-container:          rgb(229, 229, 230);
    --md-sys-color-primary-fixed:              rgb(64, 120, 242);
    --md-sys-color-primary-fixed-dim:          rgb(64, 120, 242);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(166, 38, 164);
    --md-sys-color-secondary-container:        rgb(229, 229, 230);
    --md-sys-color-secondary-fixed:            rgb(166, 38, 164);
    --md-sys-color-secondary-fixed-dim:        rgb(166, 38, 164);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(9, 10, 11);
    --md-sys-color-surface:                    rgb(250, 250, 250);
    --md-sys-color-surface-bright:             rgb(160, 161, 167);
    --md-sys-color-surface-container:          rgb(240, 240, 241);
    --md-sys-color-surface-container-high:     rgb(229, 229, 230);
    --md-sys-color-surface-container-highest:  rgb(229, 229, 230);
    --md-sys-color-surface-container-low:      rgb(240, 240, 241);
    --md-sys-color-surface-container-lowest:   rgb(250, 250, 250);
    --md-sys-color-surface-dim:                rgb(250, 250, 250);
    --md-sys-color-surface-tint:               rgb(64, 120, 242);
    --md-sys-color-surface-variant:            rgb(229, 229, 230);
    --md-sys-color-tertiary:                   rgb(1, 132, 188);
    --md-sys-color-tertiary-container:         rgb(229, 229, 230);
    --md-sys-color-tertiary-fixed:             rgb(1, 132, 188);
    --md-sys-color-tertiary-fixed-dim:         rgb(1, 132, 188);
}
