:root {
    --theme-color: "Windows 10";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(12, 12, 12);
    --md-sys-color-error:                      rgb(231, 72, 86);
    --md-sys-color-error-container:            rgb(47, 47, 47);
    --md-sys-color-inverse-on-surface:         rgb(12, 12, 12);
    --md-sys-color-inverse-primary:            rgb(59, 120, 255);
    --md-sys-color-inverse-surface:            rgb(223, 223, 223);
    --md-sys-color-on-background:              rgb(204, 204, 204);
    --md-sys-color-on-error:                   rgb(12, 12, 12);
    --md-sys-color-on-error-container:         rgb(231, 72, 86);
    --md-sys-color-on-primary:                 rgb(12, 12, 12);
    --md-sys-color-on-primary-container:       rgb(59, 120, 255);
    --md-sys-color-on-primary-fixed:           rgb(12, 12, 12);
    --md-sys-color-on-primary-fixed-variant:   rgb(47, 47, 47);
    --md-sys-color-on-secondary:               rgb(12, 12, 12);
    --md-sys-color-on-secondary-container:     rgb(223, 223, 223);
    --md-sys-color-on-secondary-fixed:         rgb(12, 12, 12);
    --md-sys-color-on-secondary-fixed-variant: rgb(47, 47, 47);
    --md-sys-color-on-surface:                 rgb(204, 204, 204);
    --md-sys-color-on-surface-variant:         rgb(185, 185, 185);
    --md-sys-color-on-tertiary:                rgb(12, 12, 12);
    --md-sys-color-on-tertiary-container:      rgb(223, 223, 223);
    --md-sys-color-on-tertiary-fixed:          rgb(12, 12, 12);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(47, 47, 47);
    --md-sys-color-outline:                    rgb(118, 118, 118);
    --md-sys-color-outline-variant:            rgb(83, 83, 83);
    --md-sys-color-primary:                    rgb(59, 120, 255);
    --md-sys-color-primary-container:          rgb(83, 83, 83);
    --md-sys-color-primary-fixed:              rgb(59, 120, 255);
    --md-sys-color-primary-fixed-dim:          rgb(59, 120, 255);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(180, 0, 158);
    --md-sys-color-secondary-container:        rgb(83, 83, 83);
    --md-sys-color-secondary-fixed:            rgb(180, 0, 158);
    --md-sys-color-secondary-fixed-dim:        rgb(180, 0, 158);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(242, 242, 242);
    --md-sys-color-surface:                    rgb(12, 12, 12);
    --md-sys-color-surface-bright:             rgb(118, 118, 118);
    --md-sys-color-surface-container:          rgb(47, 47, 47);
    --md-sys-color-surface-container-high:     rgb(83, 83, 83);
    --md-sys-color-surface-container-highest:  rgb(83, 83, 83);
    --md-sys-color-surface-container-low:      rgb(47, 47, 47);
    --md-sys-color-surface-container-lowest:   rgb(12, 12, 12);
    --md-sys-color-surface-dim:                rgb(12, 12, 12);
    --md-sys-color-surface-tint:               rgb(59, 120, 255);
    --md-sys-color-surface-variant:            rgb(83, 83, 83);
    --md-sys-color-tertiary:                   rgb(97, 214, 214);
    --md-sys-color-tertiary-container:         rgb(83, 83, 83);
    --md-sys-color-tertiary-fixed:             rgb(97, 214, 214);
    --md-sys-color-tertiary-fixed-dim:         rgb(97, 214, 214);
}
