:root {
    --theme-color: "Paraiso";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(47, 30, 46);
    --md-sys-color-error:                      rgb(239, 97, 85);
    --md-sys-color-error-container:            rgb(65, 50, 63);
    --md-sys-color-inverse-on-surface:         rgb(47, 30, 46);
    --md-sys-color-inverse-primary:            rgb(6, 182, 239);
    --md-sys-color-inverse-surface:            rgb(185, 182, 176);
    --md-sys-color-on-background:              rgb(163, 158, 155);
    --md-sys-color-on-error:                   rgb(47, 30, 46);
    --md-sys-color-on-error-container:         rgb(239, 97, 85);
    --md-sys-color-on-primary:                 rgb(47, 30, 46);
    --md-sys-color-on-primary-container:       rgb(6, 182, 239);
    --md-sys-color-on-primary-fixed:           rgb(47, 30, 46);
    --md-sys-color-on-primary-fixed-variant:   rgb(65, 50, 63);
    --md-sys-color-on-secondary:               rgb(47, 30, 46);
    --md-sys-color-on-secondary-container:     rgb(185, 182, 176);
    --md-sys-color-on-secondary-fixed:         rgb(47, 30, 46);
    --md-sys-color-on-secondary-fixed-variant: rgb(65, 50, 63);
    --md-sys-color-on-surface:                 rgb(163, 158, 155);
    --md-sys-color-on-surface-variant:         rgb(141, 134, 135);
    --md-sys-color-on-tertiary:                rgb(47, 30, 46);
    --md-sys-color-on-tertiary-container:      rgb(185, 182, 176);
    --md-sys-color-on-tertiary-fixed:          rgb(47, 30, 46);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(65, 50, 63);
    --md-sys-color-outline:                    rgb(119, 110, 113);
    --md-sys-color-outline-variant:            rgb(79, 66, 76);
    --md-sys-color-primary:                    rgb(6, 182, 239);
    --md-sys-color-primary-container:          rgb(79, 66, 76);
    --md-sys-color-primary-fixed:              rgb(6, 182, 239);
    --md-sys-color-primary-fixed-dim:          rgb(6, 182, 239);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(129, 91, 164);
    --md-sys-color-secondary-container:        rgb(79, 66, 76);
    --md-sys-color-secondary-fixed:            rgb(129, 91, 164);
    --md-sys-color-secondary-fixed-dim:        rgb(129, 91, 164);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(231, 233, 219);
    --md-sys-color-surface:                    rgb(47, 30, 46);
    --md-sys-color-surface-bright:             rgb(119, 110, 113);
    --md-sys-color-surface-container:          rgb(65, 50, 63);
    --md-sys-color-surface-container-high:     rgb(79, 66, 76);
    --md-sys-color-surface-container-highest:  rgb(79, 66, 76);
    --md-sys-color-surface-container-low:      rgb(65, 50, 63);
    --md-sys-color-surface-container-lowest:   rgb(47, 30, 46);
    --md-sys-color-surface-dim:                rgb(47, 30, 46);
    --md-sys-color-surface-tint:               rgb(6, 182, 239);
    --md-sys-color-surface-variant:            rgb(79, 66, 76);
    --md-sys-color-tertiary:                   rgb(91, 196, 191);
    --md-sys-color-tertiary-container:         rgb(79, 66, 76);
    --md-sys-color-tertiary-fixed:             rgb(91, 196, 191);
    --md-sys-color-tertiary-fixed-dim:         rgb(91, 196, 191);
}
