:root {
    --theme-color: "Flexoki Dark";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(16, 15, 15);
    --md-sys-color-error:                      rgb(209, 77, 65);
    --md-sys-color-error-container:            rgb(28, 27, 26);
    --md-sys-color-inverse-on-surface:         rgb(16, 15, 15);
    --md-sys-color-inverse-primary:            rgb(67, 133, 190);
    --md-sys-color-inverse-surface:            rgb(230, 228, 217);
    --md-sys-color-on-background:              rgb(206, 205, 195);
    --md-sys-color-on-error:                   rgb(16, 15, 15);
    --md-sys-color-on-error-container:         rgb(209, 77, 65);
    --md-sys-color-on-primary:                 rgb(16, 15, 15);
    --md-sys-color-on-primary-container:       rgb(67, 133, 190);
    --md-sys-color-on-primary-fixed:           rgb(16, 15, 15);
    --md-sys-color-on-primary-fixed-variant:   rgb(28, 27, 26);
    --md-sys-color-on-secondary:               rgb(16, 15, 15);
    --md-sys-color-on-secondary-container:     rgb(230, 228, 217);
    --md-sys-color-on-secondary-fixed:         rgb(16, 15, 15);
    --md-sys-color-on-secondary-fixed-variant: rgb(28, 27, 26);
    --md-sys-color-on-surface:                 rgb(206, 205, 195);
    --md-sys-color-on-surface-variant:         rgb(135, 133, 128);
    --md-sys-color-on-tertiary:                rgb(16, 15, 15);
    --md-sys-color-on-tertiary-container:      rgb(230, 228, 217);
    --md-sys-color-on-tertiary-fixed:          rgb(16, 15, 15);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(28, 27, 26);
    --md-sys-color-outline:                    rgb(87, 86, 83);
    --md-sys-color-outline-variant:            rgb(40, 39, 38);
    --md-sys-color-primary:                    rgb(67, 133, 190);
    --md-sys-color-primary-container:          rgb(40, 39, 38);
    --md-sys-color-primary-fixed:              rgb(67, 133, 190);
    --md-sys-color-primary-fixed-dim:          rgb(67, 133, 190);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(139, 126, 200);
    --md-sys-color-secondary-container:        rgb(40, 39, 38);
    --md-sys-color-secondary-fixed:            rgb(139, 126, 200);
    --md-sys-color-secondary-fixed-dim:        rgb(139, 126, 200);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(255, 252, 240);
    --md-sys-color-surface:                    rgb(16, 15, 15);
    --md-sys-color-surface-bright:             rgb(87, 86, 83);
    --md-sys-color-surface-container:          rgb(28, 27, 26);
    --md-sys-color-surface-container-high:     rgb(40, 39, 38);
    --md-sys-color-surface-container-highest:  rgb(40, 39, 38);
    --md-sys-color-surface-container-low:      rgb(28, 27, 26);
    --md-sys-color-surface-container-lowest:   rgb(16, 15, 15);
    --md-sys-color-surface-dim:                rgb(16, 15, 15);
    --md-sys-color-surface-tint:               rgb(67, 133, 190);
    --md-sys-color-surface-variant:            rgb(40, 39, 38);
    --md-sys-color-tertiary:                   rgb(58, 169, 159);
    --md-sys-color-tertiary-container:         rgb(40, 39, 38);
    --md-sys-color-tertiary-fixed:             rgb(58, 169, 159);
    --md-sys-color-tertiary-fixed-dim:         rgb(58, 169, 159);
}
