:root {
    --theme-color: "Shades of Purple";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(30, 30, 63);
    --md-sys-color-error:                      rgb(217, 4, 41);
    --md-sys-color-error-container:            rgb(67, 212, 38);
    --md-sys-color-inverse-on-surface:         rgb(30, 30, 63);
    --md-sys-color-inverse-primary:            rgb(105, 67, 255);
    --md-sys-color-inverse-surface:            rgb(255, 119, 255);
    --md-sys-color-on-background:              rgb(199, 199, 199);
    --md-sys-color-on-error:                   rgb(30, 30, 63);
    --md-sys-color-on-error-container:         rgb(217, 4, 41);
    --md-sys-color-on-primary:                 rgb(30, 30, 63);
    --md-sys-color-on-primary-container:       rgb(105, 67, 255);
    --md-sys-color-on-primary-fixed:           rgb(30, 30, 63);
    --md-sys-color-on-primary-fixed-variant:   rgb(67, 212, 38);
    --md-sys-color-on-secondary:               rgb(30, 30, 63);
    --md-sys-color-on-secondary-container:     rgb(255, 119, 255);
    --md-sys-color-on-secondary-fixed:         rgb(30, 30, 63);
    --md-sys-color-on-secondary-fixed-variant: rgb(67, 212, 38);
    --md-sys-color-on-surface:                 rgb(199, 199, 199);
    --md-sys-color-on-surface-variant:         rgb(199, 199, 199);
    --md-sys-color-on-tertiary:                rgb(30, 30, 63);
    --md-sys-color-on-tertiary-container:      rgb(255, 119, 255);
    --md-sys-color-on-tertiary-fixed:          rgb(30, 30, 63);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(67, 212, 38);
    --md-sys-color-outline:                    rgb(104, 113, 255);
    --md-sys-color-outline-variant:            rgb(241, 208, 0);
    --md-sys-color-primary:                    rgb(105, 67, 255);
    --md-sys-color-primary-container:          rgb(241, 208, 0);
    --md-sys-color-primary-fixed:              rgb(105, 67, 255);
    --md-sys-color-primary-fixed-dim:          rgb(105, 67, 255);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(255, 44, 112);
    --md-sys-color-secondary-container:        rgb(241, 208, 0);
    --md-sys-color-secondary-fixed:            rgb(255, 44, 112);
    --md-sys-color-secondary-fixed-dim:        rgb(255, 44, 112);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(255, 255, 255);
    --md-sys-color-surface:                    rgb(30, 30, 63);
    --md-sys-color-surface-bright:             rgb(128, 128, 128);
    --md-sys-color-surface-container:          rgb(67, 212, 38);
    --md-sys-color-surface-container-high:     rgb(241, 208, 0);
    --md-sys-color-surface-container-highest:  rgb(241, 208, 0);
    --md-sys-color-surface-container-low:      rgb(67, 212, 38);
    --md-sys-color-surface-container-lowest:   rgb(30, 30, 63);
    --md-sys-color-surface-dim:                rgb(30, 30, 63);
    --md-sys-color-surface-tint:               rgb(105, 67, 255);
    --md-sys-color-surface-variant:            rgb(241, 208, 0);
    --md-sys-color-tertiary:                   rgb(0, 197, 199);
    --md-sys-color-tertiary-container:         rgb(241, 208, 0);
    --md-sys-color-tertiary-fixed:             rgb(0, 197, 199);
    --md-sys-color-tertiary-fixed-dim:         rgb(0, 197, 199);
}
