:root {
    --theme-color: "standardized-light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(255, 255, 255);
    --md-sys-color-error:                      rgb(208, 62, 62);
    --md-sys-color-error-container:            rgb(238, 238, 238);
    --md-sys-color-inverse-on-surface:         rgb(255, 255, 255);
    --md-sys-color-inverse-primary:            rgb(49, 115, 197);
    --md-sys-color-inverse-surface:            rgb(51, 51, 51);
    --md-sys-color-on-background:              rgb(68, 68, 68);
    --md-sys-color-on-error:                   rgb(255, 255, 255);
    --md-sys-color-on-error-container:         rgb(208, 62, 62);
    --md-sys-color-on-primary:                 rgb(255, 255, 255);
    --md-sys-color-on-primary-container:       rgb(49, 115, 197);
    --md-sys-color-on-primary-fixed:           rgb(255, 255, 255);
    --md-sys-color-on-primary-fixed-variant:   rgb(238, 238, 238);
    --md-sys-color-on-secondary:               rgb(255, 255, 255);
    --md-sys-color-on-secondary-container:     rgb(51, 51, 51);
    --md-sys-color-on-secondary-fixed:         rgb(255, 255, 255);
    --md-sys-color-on-secondary-fixed-variant: rgb(238, 238, 238);
    --md-sys-color-on-surface:                 rgb(68, 68, 68);
    --md-sys-color-on-surface-variant:         rgb(118, 118, 118);
    --md-sys-color-on-tertiary:                rgb(255, 255, 255);
    --md-sys-color-on-tertiary-container:      rgb(51, 51, 51);
    --md-sys-color-on-tertiary-fixed:          rgb(255, 255, 255);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(238, 238, 238);
    --md-sys-color-outline:                    rgb(118, 118, 118);
    --md-sys-color-outline-variant:            rgb(204, 204, 204);
    --md-sys-color-primary:                    rgb(49, 115, 197);
    --md-sys-color-primary-container:          rgb(204, 204, 204);
    --md-sys-color-primary-fixed:              rgb(49, 115, 197);
    --md-sys-color-primary-fixed-dim:          rgb(49, 115, 197);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(158, 87, 194);
    --md-sys-color-secondary-container:        rgb(204, 204, 204);
    --md-sys-color-secondary-fixed:            rgb(158, 87, 194);
    --md-sys-color-secondary-fixed-dim:        rgb(158, 87, 194);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(34, 34, 34);
    --md-sys-color-surface:                    rgb(255, 255, 255);
    --md-sys-color-surface-bright:             rgb(118, 118, 118);
    --md-sys-color-surface-container:          rgb(238, 238, 238);
    --md-sys-color-surface-container-high:     rgb(204, 204, 204);
    --md-sys-color-surface-container-highest:  rgb(204, 204, 204);
    --md-sys-color-surface-container-low:      rgb(238, 238, 238);
    --md-sys-color-surface-container-lowest:   rgb(255, 255, 255);
    --md-sys-color-surface-dim:                rgb(255, 255, 255);
    --md-sys-color-surface-tint:               rgb(49, 115, 197);
    --md-sys-color-surface-variant:            rgb(204, 204, 204);
    --md-sys-color-tertiary:                   rgb(0, 153, 143);
    --md-sys-color-tertiary-container:         rgb(204, 204, 204);
    --md-sys-color-tertiary-fixed:             rgb(0, 153, 143);
    --md-sys-color-tertiary-fixed-dim:         rgb(0, 153, 143);
}
