:root {
    --theme-color: "Ayu Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(248, 249, 250);
    --md-sys-color-error:                      rgb(240, 113, 113);
    --md-sys-color-error-container:            rgb(237, 239, 241);
    --md-sys-color-inverse-on-surface:         rgb(248, 249, 250);
    --md-sys-color-inverse-primary:            rgb(57, 158, 230);
    --md-sys-color-inverse-surface:            rgb(78, 82, 87);
    --md-sys-color-on-background:              rgb(92, 97, 102);
    --md-sys-color-on-error:                   rgb(248, 249, 250);
    --md-sys-color-on-error-container:         rgb(240, 113, 113);
    --md-sys-color-on-primary:                 rgb(248, 249, 250);
    --md-sys-color-on-primary-container:       rgb(57, 158, 230);
    --md-sys-color-on-primary-fixed:           rgb(248, 249, 250);
    --md-sys-color-on-primary-fixed-variant:   rgb(237, 239, 241);
    --md-sys-color-on-secondary:               rgb(248, 249, 250);
    --md-sys-color-on-secondary-container:     rgb(78, 82, 87);
    --md-sys-color-on-secondary-fixed:         rgb(248, 249, 250);
    --md-sys-color-on-secondary-fixed-variant: rgb(237, 239, 241);
    --md-sys-color-on-surface:                 rgb(92, 97, 102);
    --md-sys-color-on-surface-variant:         rgb(92, 97, 102);
    --md-sys-color-on-tertiary:                rgb(248, 249, 250);
    --md-sys-color-on-tertiary-container:      rgb(78, 82, 87);
    --md-sys-color-on-tertiary-fixed:          rgb(248, 249, 250);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(237, 239, 241);
    --md-sys-color-outline:                    rgb(138, 145, 153);
    --md-sys-color-outline-variant:            rgb(210, 212, 216);
    --md-sys-color-primary:                    rgb(57, 158, 230);
    --md-sys-color-primary-container:          rgb(210, 212, 216);
    --md-sys-color-primary-fixed:              rgb(57, 158, 230);
    --md-sys-color-primary-fixed-dim:          rgb(57, 158, 230);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(163, 122, 204);
    --md-sys-color-secondary-container:        rgb(210, 212, 216);
    --md-sys-color-secondary-fixed:            rgb(163, 122, 204);
    --md-sys-color-secondary-fixed-dim:        rgb(163, 122, 204);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(64, 68, 71);
    --md-sys-color-surface:                    rgb(248, 249, 250);
    --md-sys-color-surface-bright:             rgb(160, 166, 172);
    --md-sys-color-surface-container:          rgb(237, 239, 241);
    --md-sys-color-surface-container-high:     rgb(210, 212, 216);
    --md-sys-color-surface-container-highest:  rgb(210, 212, 216);
    --md-sys-color-surface-container-low:      rgb(237, 239, 241);
    --md-sys-color-surface-container-lowest:   rgb(248, 249, 250);
    --md-sys-color-surface-dim:                rgb(248, 249, 250);
    --md-sys-color-surface-tint:               rgb(57, 158, 230);
    --md-sys-color-surface-variant:            rgb(210, 212, 216);
    --md-sys-color-tertiary:                   rgb(76, 191, 153);
    --md-sys-color-tertiary-container:         rgb(210, 212, 216);
    --md-sys-color-tertiary-fixed:             rgb(76, 191, 153);
    --md-sys-color-tertiary-fixed-dim:         rgb(76, 191, 153);
}
