:root {
    --theme-color: "Linux VT";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(0, 0, 0);
    --md-sys-color-error:                      rgb(170, 0, 0);
    --md-sys-color-error-container:            rgb(51, 51, 51);
    --md-sys-color-inverse-on-surface:         rgb(0, 0, 0);
    --md-sys-color-inverse-primary:            rgb(85, 85, 255);
    --md-sys-color-inverse-surface:            rgb(204, 204, 204);
    --md-sys-color-on-background:              rgb(170, 170, 170);
    --md-sys-color-on-error:                   rgb(0, 0, 0);
    --md-sys-color-on-error-container:         rgb(170, 0, 0);
    --md-sys-color-on-primary:                 rgb(0, 0, 0);
    --md-sys-color-on-primary-container:       rgb(85, 85, 255);
    --md-sys-color-on-primary-fixed:           rgb(0, 0, 0);
    --md-sys-color-on-primary-fixed-variant:   rgb(51, 51, 51);
    --md-sys-color-on-secondary:               rgb(0, 0, 0);
    --md-sys-color-on-secondary-container:     rgb(204, 204, 204);
    --md-sys-color-on-secondary-fixed:         rgb(0, 0, 0);
    --md-sys-color-on-secondary-fixed-variant: rgb(51, 51, 51);
    --md-sys-color-on-surface:                 rgb(170, 170, 170);
    --md-sys-color-on-surface-variant:         rgb(136, 136, 136);
    --md-sys-color-on-tertiary:                rgb(0, 0, 0);
    --md-sys-color-on-tertiary-container:      rgb(204, 204, 204);
    --md-sys-color-on-tertiary-fixed:          rgb(0, 0, 0);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(51, 51, 51);
    --md-sys-color-outline:                    rgb(85, 85, 85);
    --md-sys-color-outline-variant:            rgb(68, 68, 68);
    --md-sys-color-primary:                    rgb(85, 85, 255);
    --md-sys-color-primary-container:          rgb(68, 68, 68);
    --md-sys-color-primary-fixed:              rgb(85, 85, 255);
    --md-sys-color-primary-fixed-dim:          rgb(85, 85, 255);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(255, 85, 255);
    --md-sys-color-secondary-container:        rgb(68, 68, 68);
    --md-sys-color-secondary-fixed:            rgb(255, 85, 255);
    --md-sys-color-secondary-fixed-dim:        rgb(255, 85, 255);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(255, 255, 255);
    --md-sys-color-surface:                    rgb(0, 0, 0);
    --md-sys-color-surface-bright:             rgb(85, 85, 85);
    --md-sys-color-surface-container:          rgb(51, 51, 51);
    --md-sys-color-surface-container-high:     rgb(68, 68, 68);
    --md-sys-color-surface-container-highest:  rgb(68, 68, 68);
    --md-sys-color-surface-container-low:      rgb(51, 51, 51);
    --md-sys-color-surface-container-lowest:   rgb(0, 0, 0);
    --md-sys-color-surface-dim:                rgb(0, 0, 0);
    --md-sys-color-surface-tint:               rgb(85, 85, 255);
    --md-sys-color-surface-variant:            rgb(68, 68, 68);
    --md-sys-color-tertiary:                   rgb(0, 170, 170);
    --md-sys-color-tertiary-container:         rgb(68, 68, 68);
    --md-sys-color-tertiary-fixed:             rgb(0, 170, 170);
    --md-sys-color-tertiary-fixed-dim:         rgb(0, 170, 170);
}
