:root {
    --theme-color: "Equilibrium Gray Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(241, 241, 241);
    --md-sys-color-error:                      rgb(208, 32, 35);
    --md-sys-color-error-container:            rgb(226, 226, 226);
    --md-sys-color-inverse-on-surface:         rgb(241, 241, 241);
    --md-sys-color-inverse-primary:            rgb(0, 115, 181);
    --md-sys-color-inverse-surface:            rgb(48, 48, 48);
    --md-sys-color-on-background:              rgb(71, 71, 71);
    --md-sys-color-on-error:                   rgb(241, 241, 241);
    --md-sys-color-on-error-container:         rgb(208, 32, 35);
    --md-sys-color-on-primary:                 rgb(241, 241, 241);
    --md-sys-color-on-primary-container:       rgb(0, 115, 181);
    --md-sys-color-on-primary-fixed:           rgb(241, 241, 241);
    --md-sys-color-on-primary-fixed-variant:   rgb(226, 226, 226);
    --md-sys-color-on-secondary:               rgb(241, 241, 241);
    --md-sys-color-on-secondary-container:     rgb(48, 48, 48);
    --md-sys-color-on-secondary-fixed:         rgb(241, 241, 241);
    --md-sys-color-on-secondary-fixed-variant: rgb(226, 226, 226);
    --md-sys-color-on-surface:                 rgb(71, 71, 71);
    --md-sys-color-on-surface-variant:         rgb(71, 71, 71);
    --md-sys-color-on-tertiary:                rgb(241, 241, 241);
    --md-sys-color-on-tertiary-container:      rgb(48, 48, 48);
    --md-sys-color-on-tertiary-fixed:          rgb(241, 241, 241);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(226, 226, 226);
    --md-sys-color-outline:                    rgb(94, 94, 94);
    --md-sys-color-outline-variant:            rgb(212, 212, 212);
    --md-sys-color-primary:                    rgb(0, 115, 181);
    --md-sys-color-primary-container:          rgb(212, 212, 212);
    --md-sys-color-primary-fixed:              rgb(0, 115, 181);
    --md-sys-color-primary-fixed-dim:          rgb(0, 115, 181);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(78, 102, 182);
    --md-sys-color-secondary-container:        rgb(212, 212, 212);
    --md-sys-color-secondary-fixed:            rgb(78, 102, 182);
    --md-sys-color-secondary-fixed-dim:        rgb(78, 102, 182);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(27, 27, 27);
    --md-sys-color-surface:                    rgb(241, 241, 241);
    --md-sys-color-surface-bright:             rgb(119, 119, 119);
    --md-sys-color-surface-container:          rgb(226, 226, 226);
    --md-sys-color-surface-container-high:     rgb(212, 212, 212);
    --md-sys-color-surface-container-highest:  rgb(212, 212, 212);
    --md-sys-color-surface-container-low:      rgb(226, 226, 226);
    --md-sys-color-surface-container-lowest:   rgb(241, 241, 241);
    --md-sys-color-surface-dim:                rgb(241, 241, 241);
    --md-sys-color-surface-tint:               rgb(0, 115, 181);
    --md-sys-color-surface-variant:            rgb(212, 212, 212);
    --md-sys-color-tertiary:                   rgb(0, 122, 114);
    --md-sys-color-tertiary-container:         rgb(212, 212, 212);
    --md-sys-color-tertiary-fixed:             rgb(0, 122, 114);
    --md-sys-color-tertiary-fixed-dim:         rgb(0, 122, 114);
}
