:root {
    --theme-color: "Sparky";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(7, 43, 49);
    --md-sys-color-error:                      rgb(255, 88, 93);
    --md-sys-color-error-container:            rgb(0, 49, 60);
    --md-sys-color-inverse-on-surface:         rgb(7, 43, 49);
    --md-sys-color-inverse-primary:            rgb(70, 152, 203);
    --md-sys-color-inverse-surface:            rgb(245, 245, 241);
    --md-sys-color-on-background:              rgb(244, 245, 240);
    --md-sys-color-on-error:                   rgb(7, 43, 49);
    --md-sys-color-on-error-container:         rgb(255, 88, 93);
    --md-sys-color-on-primary:                 rgb(7, 43, 49);
    --md-sys-color-on-primary-container:       rgb(70, 152, 203);
    --md-sys-color-on-primary-fixed:           rgb(7, 43, 49);
    --md-sys-color-on-primary-fixed-variant:   rgb(0, 49, 60);
    --md-sys-color-on-secondary:               rgb(7, 43, 49);
    --md-sys-color-on-secondary-container:     rgb(245, 245, 241);
    --md-sys-color-on-secondary-fixed:         rgb(7, 43, 49);
    --md-sys-color-on-secondary-fixed-variant: rgb(0, 49, 60);
    --md-sys-color-on-surface:                 rgb(244, 245, 240);
    --md-sys-color-on-surface-variant:         rgb(244, 245, 240);
    --md-sys-color-on-tertiary:                rgb(7, 43, 49);
    --md-sys-color-on-tertiary-container:      rgb(245, 245, 241);
    --md-sys-color-on-tertiary-fixed:          rgb(7, 43, 49);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(0, 49, 60);
    --md-sys-color-outline:                    rgb(0, 119, 139);
    --md-sys-color-outline-variant:            rgb(0, 60, 70);
    --md-sys-color-primary:                    rgb(70, 152, 203);
    --md-sys-color-primary-container:          rgb(0, 60, 70);
    --md-sys-color-primary-fixed:              rgb(70, 152, 203);
    --md-sys-color-primary-fixed-dim:          rgb(70, 152, 203);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(213, 158, 215);
    --md-sys-color-secondary-container:        rgb(0, 60, 70);
    --md-sys-color-secondary-fixed:            rgb(213, 158, 215);
    --md-sys-color-secondary-fixed-dim:        rgb(213, 158, 215);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(255, 255, 255);
    --md-sys-color-surface:                    rgb(7, 43, 49);
    --md-sys-color-surface-bright:             rgb(0, 59, 73);
    --md-sys-color-surface-container:          rgb(0, 49, 60);
    --md-sys-color-surface-container-high:     rgb(0, 60, 70);
    --md-sys-color-surface-container-highest:  rgb(0, 60, 70);
    --md-sys-color-surface-container-low:      rgb(0, 49, 60);
    --md-sys-color-surface-container-lowest:   rgb(7, 43, 49);
    --md-sys-color-surface-dim:                rgb(7, 43, 49);
    --md-sys-color-surface-tint:               rgb(70, 152, 203);
    --md-sys-color-surface-variant:            rgb(0, 60, 70);
    --md-sys-color-tertiary:                   rgb(45, 204, 211);
    --md-sys-color-tertiary-container:         rgb(0, 60, 70);
    --md-sys-color-tertiary-fixed:             rgb(45, 204, 211);
    --md-sys-color-tertiary-fixed-dim:         rgb(45, 204, 211);
}
