:root {
    --theme-color: "Circus";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(25, 25, 25);
    --md-sys-color-error:                      rgb(220, 101, 125);
    --md-sys-color-error-container:            rgb(32, 32, 32);
    --md-sys-color-inverse-on-surface:         rgb(25, 25, 25);
    --md-sys-color-inverse-primary:            rgb(99, 158, 228);
    --md-sys-color-inverse-surface:            rgb(128, 128, 128);
    --md-sys-color-on-background:              rgb(167, 167, 167);
    --md-sys-color-on-error:                   rgb(25, 25, 25);
    --md-sys-color-on-error-container:         rgb(220, 101, 125);
    --md-sys-color-on-primary:                 rgb(25, 25, 25);
    --md-sys-color-on-primary-container:       rgb(99, 158, 228);
    --md-sys-color-on-primary-fixed:           rgb(25, 25, 25);
    --md-sys-color-on-primary-fixed-variant:   rgb(32, 32, 32);
    --md-sys-color-on-secondary:               rgb(25, 25, 25);
    --md-sys-color-on-secondary-container:     rgb(128, 128, 128);
    --md-sys-color-on-secondary-fixed:         rgb(25, 25, 25);
    --md-sys-color-on-secondary-fixed-variant: rgb(32, 32, 32);
    --md-sys-color-on-surface:                 rgb(167, 167, 167);
    --md-sys-color-on-surface-variant:         rgb(80, 80, 80);
    --md-sys-color-on-tertiary:                rgb(25, 25, 25);
    --md-sys-color-on-tertiary-container:      rgb(128, 128, 128);
    --md-sys-color-on-tertiary-fixed:          rgb(25, 25, 25);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(32, 32, 32);
    --md-sys-color-outline:                    rgb(95, 90, 96);
    --md-sys-color-outline-variant:            rgb(48, 48, 48);
    --md-sys-color-primary:                    rgb(99, 158, 228);
    --md-sys-color-primary-container:          rgb(48, 48, 48);
    --md-sys-color-primary-fixed:              rgb(99, 158, 228);
    --md-sys-color-primary-fixed-dim:          rgb(99, 158, 228);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(184, 136, 226);
    --md-sys-color-secondary-container:        rgb(48, 48, 48);
    --md-sys-color-secondary-fixed:            rgb(184, 136, 226);
    --md-sys-color-secondary-fixed-dim:        rgb(184, 136, 226);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(255, 255, 255);
    --md-sys-color-surface:                    rgb(25, 25, 25);
    --md-sys-color-surface-bright:             rgb(95, 90, 96);
    --md-sys-color-surface-container:          rgb(32, 32, 32);
    --md-sys-color-surface-container-high:     rgb(48, 48, 48);
    --md-sys-color-surface-container-highest:  rgb(48, 48, 48);
    --md-sys-color-surface-container-low:      rgb(32, 32, 32);
    --md-sys-color-surface-container-lowest:   rgb(25, 25, 25);
    --md-sys-color-surface-dim:                rgb(25, 25, 25);
    --md-sys-color-surface-tint:               rgb(99, 158, 228);
    --md-sys-color-surface-variant:            rgb(48, 48, 48);
    --md-sys-color-tertiary:                   rgb(75, 177, 167);
    --md-sys-color-tertiary-container:         rgb(48, 48, 48);
    --md-sys-color-tertiary-fixed:             rgb(75, 177, 167);
    --md-sys-color-tertiary-fixed-dim:         rgb(75, 177, 167);
}
