:root {
    --theme-color: "Tokyo Night Dark";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(26, 27, 38);
    --md-sys-color-error:                      rgb(192, 202, 245);
    --md-sys-color-error-container:            rgb(22, 22, 30);
    --md-sys-color-inverse-on-surface:         rgb(26, 27, 38);
    --md-sys-color-inverse-primary:            rgb(42, 195, 222);
    --md-sys-color-inverse-surface:            rgb(203, 204, 209);
    --md-sys-color-on-background:              rgb(169, 177, 214);
    --md-sys-color-on-error:                   rgb(26, 27, 38);
    --md-sys-color-on-error-container:         rgb(192, 202, 245);
    --md-sys-color-on-primary:                 rgb(26, 27, 38);
    --md-sys-color-on-primary-container:       rgb(42, 195, 222);
    --md-sys-color-on-primary-fixed:           rgb(26, 27, 38);
    --md-sys-color-on-primary-fixed-variant:   rgb(22, 22, 30);
    --md-sys-color-on-secondary:               rgb(26, 27, 38);
    --md-sys-color-on-secondary-container:     rgb(203, 204, 209);
    --md-sys-color-on-secondary-fixed:         rgb(26, 27, 38);
    --md-sys-color-on-secondary-fixed-variant: rgb(22, 22, 30);
    --md-sys-color-on-surface:                 rgb(169, 177, 214);
    --md-sys-color-on-surface-variant:         rgb(120, 124, 153);
    --md-sys-color-on-tertiary:                rgb(26, 27, 38);
    --md-sys-color-on-tertiary-container:      rgb(203, 204, 209);
    --md-sys-color-on-tertiary-fixed:          rgb(26, 27, 38);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(22, 22, 30);
    --md-sys-color-outline:                    rgb(68, 75, 106);
    --md-sys-color-outline-variant:            rgb(47, 53, 73);
    --md-sys-color-primary:                    rgb(42, 195, 222);
    --md-sys-color-primary-container:          rgb(47, 53, 73);
    --md-sys-color-primary-fixed:              rgb(42, 195, 222);
    --md-sys-color-primary-fixed-dim:          rgb(42, 195, 222);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(187, 154, 247);
    --md-sys-color-secondary-container:        rgb(47, 53, 73);
    --md-sys-color-secondary-fixed:            rgb(187, 154, 247);
    --md-sys-color-secondary-fixed-dim:        rgb(187, 154, 247);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(213, 214, 219);
    --md-sys-color-surface:                    rgb(26, 27, 38);
    --md-sys-color-surface-bright:             rgb(68, 75, 106);
    --md-sys-color-surface-container:          rgb(22, 22, 30);
    --md-sys-color-surface-container-high:     rgb(47, 53, 73);
    --md-sys-color-surface-container-highest:  rgb(47, 53, 73);
    --md-sys-color-surface-container-low:      rgb(22, 22, 30);
    --md-sys-color-surface-container-lowest:   rgb(26, 27, 38);
    --md-sys-color-surface-dim:                rgb(26, 27, 38);
    --md-sys-color-surface-tint:               rgb(42, 195, 222);
    --md-sys-color-surface-variant:            rgb(47, 53, 73);
    --md-sys-color-tertiary:                   rgb(180, 249, 248);
    --md-sys-color-tertiary-container:         rgb(47, 53, 73);
    --md-sys-color-tertiary-fixed:             rgb(180, 249, 248);
    --md-sys-color-tertiary-fixed-dim:         rgb(180, 249, 248);
}
