:root {
    --theme-color: "Github Dark Dimmed";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(34, 39, 46);
    --md-sys-color-error:                      rgb(246, 157, 80);
    --md-sys-color-error-container:            rgb(45, 51, 59);
    --md-sys-color-inverse-on-surface:         rgb(34, 39, 46);
    --md-sys-color-inverse-primary:            rgb(220, 189, 251);
    --md-sys-color-inverse-surface:            rgb(205, 217, 229);
    --md-sys-color-on-background:              rgb(173, 186, 199);
    --md-sys-color-on-error:                   rgb(34, 39, 46);
    --md-sys-color-on-error-container:         rgb(246, 157, 80);
    --md-sys-color-on-primary:                 rgb(34, 39, 46);
    --md-sys-color-on-primary-container:       rgb(220, 189, 251);
    --md-sys-color-on-primary-fixed:           rgb(34, 39, 46);
    --md-sys-color-on-primary-fixed-variant:   rgb(45, 51, 59);
    --md-sys-color-on-secondary:               rgb(34, 39, 46);
    --md-sys-color-on-secondary-container:     rgb(205, 217, 229);
    --md-sys-color-on-secondary-fixed:         rgb(34, 39, 46);
    --md-sys-color-on-secondary-fixed-variant: rgb(45, 51, 59);
    --md-sys-color-on-surface:                 rgb(173, 186, 199);
    --md-sys-color-on-surface-variant:         rgb(173, 186, 199);
    --md-sys-color-on-tertiary:                rgb(34, 39, 46);
    --md-sys-color-on-tertiary-container:      rgb(205, 217, 229);
    --md-sys-color-on-tertiary-fixed:          rgb(34, 39, 46);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(45, 51, 59);
    --md-sys-color-outline:                    rgb(118, 131, 144);
    --md-sys-color-outline-variant:            rgb(84, 93, 104);
    --md-sys-color-primary:                    rgb(220, 189, 251);
    --md-sys-color-primary-container:          rgb(84, 93, 104);
    --md-sys-color-primary-fixed:              rgb(220, 189, 251);
    --md-sys-color-primary-fixed-dim:          rgb(220, 189, 251);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(244, 112, 103);
    --md-sys-color-secondary-container:        rgb(84, 93, 104);
    --md-sys-color-secondary-fixed:            rgb(244, 112, 103);
    --md-sys-color-secondary-fixed-dim:        rgb(244, 112, 103);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(255, 255, 255);
    --md-sys-color-surface:                    rgb(34, 39, 46);
    --md-sys-color-surface-bright:             rgb(99, 110, 123);
    --md-sys-color-surface-container:          rgb(45, 51, 59);
    --md-sys-color-surface-container-high:     rgb(84, 93, 104);
    --md-sys-color-surface-container-highest:  rgb(84, 93, 104);
    --md-sys-color-surface-container-low:      rgb(45, 51, 59);
    --md-sys-color-surface-container-lowest:   rgb(34, 39, 46);
    --md-sys-color-surface-dim:                rgb(34, 39, 46);
    --md-sys-color-surface-tint:               rgb(220, 189, 251);
    --md-sys-color-surface-variant:            rgb(84, 93, 104);
    --md-sys-color-tertiary:                   rgb(141, 219, 140);
    --md-sys-color-tertiary-container:         rgb(84, 93, 104);
    --md-sys-color-tertiary-fixed:             rgb(141, 219, 140);
    --md-sys-color-tertiary-fixed-dim:         rgb(141, 219, 140);
}
