:root {
    --theme-color: "Apathy";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(3, 26, 22);
    --md-sys-color-error:                      rgb(62, 150, 136);
    --md-sys-color-error-container:            rgb(11, 52, 45);
    --md-sys-color-inverse-on-surface:         rgb(3, 26, 22);
    --md-sys-color-inverse-primary:            rgb(150, 136, 62);
    --md-sys-color-inverse-surface:            rgb(167, 206, 200);
    --md-sys-color-on-background:              rgb(129, 181, 172);
    --md-sys-color-on-error:                   rgb(3, 26, 22);
    --md-sys-color-on-error-container:         rgb(62, 150, 136);
    --md-sys-color-on-primary:                 rgb(3, 26, 22);
    --md-sys-color-on-primary-container:       rgb(150, 136, 62);
    --md-sys-color-on-primary-fixed:           rgb(3, 26, 22);
    --md-sys-color-on-primary-fixed-variant:   rgb(11, 52, 45);
    --md-sys-color-on-secondary:               rgb(3, 26, 22);
    --md-sys-color-on-secondary-container:     rgb(167, 206, 200);
    --md-sys-color-on-secondary-fixed:         rgb(3, 26, 22);
    --md-sys-color-on-secondary-fixed-variant: rgb(11, 52, 45);
    --md-sys-color-on-surface:                 rgb(129, 181, 172);
    --md-sys-color-on-surface-variant:         rgb(95, 156, 146);
    --md-sys-color-on-tertiary:                rgb(3, 26, 22);
    --md-sys-color-on-tertiary-container:      rgb(167, 206, 200);
    --md-sys-color-on-tertiary-fixed:          rgb(3, 26, 22);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(11, 52, 45);
    --md-sys-color-outline:                    rgb(43, 104, 94);
    --md-sys-color-outline-variant:            rgb(24, 78, 69);
    --md-sys-color-primary:                    rgb(150, 136, 62);
    --md-sys-color-primary-container:          rgb(24, 78, 69);
    --md-sys-color-primary-fixed:              rgb(150, 136, 62);
    --md-sys-color-primary-fixed-dim:          rgb(150, 136, 62);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(76, 150, 62);
    --md-sys-color-secondary-container:        rgb(24, 78, 69);
    --md-sys-color-secondary-fixed:            rgb(76, 150, 62);
    --md-sys-color-secondary-fixed-dim:        rgb(76, 150, 62);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(210, 231, 228);
    --md-sys-color-surface:                    rgb(3, 26, 22);
    --md-sys-color-surface-bright:             rgb(43, 104, 94);
    --md-sys-color-surface-container:          rgb(11, 52, 45);
    --md-sys-color-surface-container-high:     rgb(24, 78, 69);
    --md-sys-color-surface-container-highest:  rgb(24, 78, 69);
    --md-sys-color-surface-container-low:      rgb(11, 52, 45);
    --md-sys-color-surface-container-lowest:   rgb(3, 26, 22);
    --md-sys-color-surface-dim:                rgb(3, 26, 22);
    --md-sys-color-surface-tint:               rgb(150, 136, 62);
    --md-sys-color-surface-variant:            rgb(24, 78, 69);
    --md-sys-color-tertiary:                   rgb(150, 62, 76);
    --md-sys-color-tertiary-container:         rgb(24, 78, 69);
    --md-sys-color-tertiary-fixed:             rgb(150, 62, 76);
    --md-sys-color-tertiary-fixed-dim:         rgb(150, 62, 76);
}
