:root {
    --theme-color: "lime";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(26, 26, 47);
    --md-sys-color-error:                      rgb(255, 102, 42);
    --md-sys-color-error-container:            rgb(32, 32, 48);
    --md-sys-color-inverse-on-surface:         rgb(26, 26, 47);
    --md-sys-color-inverse-primary:            rgb(43, 146, 111);
    --md-sys-color-inverse-surface:            rgb(255, 242, 209);
    --md-sys-color-on-background:              rgb(129, 129, 117);
    --md-sys-color-on-error:                   rgb(26, 26, 47);
    --md-sys-color-on-error-container:         rgb(255, 102, 42);
    --md-sys-color-on-primary:                 rgb(26, 26, 47);
    --md-sys-color-on-primary-container:       rgb(43, 146, 111);
    --md-sys-color-on-primary-fixed:           rgb(26, 26, 47);
    --md-sys-color-on-primary-fixed-variant:   rgb(32, 32, 48);
    --md-sys-color-on-secondary:               rgb(26, 26, 47);
    --md-sys-color-on-secondary-container:     rgb(255, 242, 209);
    --md-sys-color-on-secondary-fixed:         rgb(26, 26, 47);
    --md-sys-color-on-secondary-fixed-variant: rgb(32, 32, 48);
    --md-sys-color-on-surface:                 rgb(129, 129, 117);
    --md-sys-color-on-surface-variant:         rgb(129, 129, 117);
    --md-sys-color-on-tertiary:                rgb(26, 26, 47);
    --md-sys-color-on-tertiary-container:      rgb(255, 242, 209);
    --md-sys-color-on-tertiary-fixed:          rgb(26, 26, 47);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(32, 32, 48);
    --md-sys-color-outline:                    rgb(81, 81, 85);
    --md-sys-color-outline-variant:            rgb(42, 42, 63);
    --md-sys-color-primary:                    rgb(43, 146, 111);
    --md-sys-color-primary-container:          rgb(42, 42, 63);
    --md-sys-color-primary-fixed:              rgb(43, 146, 111);
    --md-sys-color-primary-fixed-dim:          rgb(43, 146, 111);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(27, 130, 95);
    --md-sys-color-secondary-container:        rgb(42, 42, 63);
    --md-sys-color-secondary-fixed:            rgb(27, 130, 95);
    --md-sys-color-secondary-fixed-dim:        rgb(27, 130, 95);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(255, 248, 225);
    --md-sys-color-surface:                    rgb(26, 26, 47);
    --md-sys-color-surface-bright:             rgb(49, 49, 64);
    --md-sys-color-surface-container:          rgb(32, 32, 48);
    --md-sys-color-surface-container-high:     rgb(42, 42, 63);
    --md-sys-color-surface-container-highest:  rgb(42, 42, 63);
    --md-sys-color-surface-container-low:      rgb(32, 32, 48);
    --md-sys-color-surface-container-lowest:   rgb(26, 26, 47);
    --md-sys-color-surface-dim:                rgb(26, 26, 47);
    --md-sys-color-surface-tint:               rgb(43, 146, 111);
    --md-sys-color-surface-variant:            rgb(42, 42, 63);
    --md-sys-color-tertiary:                   rgb(76, 173, 131);
    --md-sys-color-tertiary-container:         rgb(42, 42, 63);
    --md-sys-color-tertiary-fixed:             rgb(76, 173, 131);
    --md-sys-color-tertiary-fixed-dim:         rgb(76, 173, 131);
}
