:root {
    --theme-color: "vulcan";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(4, 21, 35);
    --md-sys-color-error:                      rgb(129, 133, 145);
    --md-sys-color-error-container:            rgb(18, 35, 57);
    --md-sys-color-inverse-on-surface:         rgb(4, 21, 35);
    --md-sys-color-inverse-primary:            rgb(151, 125, 124);
    --md-sys-color-inverse-surface:            rgb(51, 50, 56);
    --md-sys-color-on-background:              rgb(91, 119, 140);
    --md-sys-color-on-error:                   rgb(4, 21, 35);
    --md-sys-color-on-error-container:         rgb(129, 133, 145);
    --md-sys-color-on-primary:                 rgb(4, 21, 35);
    --md-sys-color-on-primary-container:       rgb(151, 125, 124);
    --md-sys-color-on-primary-fixed:           rgb(4, 21, 35);
    --md-sys-color-on-primary-fixed-variant:   rgb(18, 35, 57);
    --md-sys-color-on-secondary:               rgb(4, 21, 35);
    --md-sys-color-on-secondary-container:     rgb(51, 50, 56);
    --md-sys-color-on-secondary-fixed:         rgb(4, 21, 35);
    --md-sys-color-on-secondary-fixed-variant: rgb(18, 35, 57);
    --md-sys-color-on-surface:                 rgb(91, 119, 140);
    --md-sys-color-on-surface-variant:         rgb(91, 119, 140);
    --md-sys-color-on-tertiary:                rgb(4, 21, 35);
    --md-sys-color-on-tertiary-container:      rgb(51, 50, 56);
    --md-sys-color-on-tertiary-fixed:          rgb(4, 21, 35);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(18, 35, 57);
    --md-sys-color-outline:                    rgb(107, 105, 119);
    --md-sys-color-outline-variant:            rgb(0, 53, 82);
    --md-sys-color-primary:                    rgb(151, 125, 124);
    --md-sys-color-primary-container:          rgb(0, 53, 82);
    --md-sys-color-primary-fixed:              rgb(151, 125, 124);
    --md-sys-color-primary-fixed-dim:          rgb(151, 125, 124);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(145, 152, 163);
    --md-sys-color-secondary-container:        rgb(0, 53, 82);
    --md-sys-color-secondary-fixed:            rgb(145, 152, 163);
    --md-sys-color-secondary-fixed-dim:        rgb(145, 152, 163);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(33, 77, 104);
    --md-sys-color-surface:                    rgb(4, 21, 35);
    --md-sys-color-surface-bright:             rgb(122, 87, 89);
    --md-sys-color-surface-container:          rgb(18, 35, 57);
    --md-sys-color-surface-container-high:     rgb(0, 53, 82);
    --md-sys-color-surface-container-highest:  rgb(0, 53, 82);
    --md-sys-color-surface-container-low:      rgb(18, 35, 57);
    --md-sys-color-surface-container-lowest:   rgb(4, 21, 35);
    --md-sys-color-surface-dim:                rgb(4, 21, 35);
    --md-sys-color-surface-tint:               rgb(151, 125, 124);
    --md-sys-color-surface-variant:            rgb(0, 53, 82);
    --md-sys-color-tertiary:                   rgb(151, 125, 124);
    --md-sys-color-tertiary-container:         rgb(0, 53, 82);
    --md-sys-color-tertiary-fixed:             rgb(151, 125, 124);
    --md-sys-color-tertiary-fixed-dim:         rgb(151, 125, 124);
}
