:root {
    --theme-color: "Brogrammer";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(31, 31, 31);
    --md-sys-color-error:                      rgb(214, 219, 229);
    --md-sys-color-error-container:            rgb(248, 17, 24);
    --md-sys-color-inverse-on-surface:         rgb(31, 31, 31);
    --md-sys-color-inverse-primary:            rgb(83, 80, 185);
    --md-sys-color-inverse-surface:            rgb(16, 129, 214);
    --md-sys-color-on-background:              rgb(78, 90, 183);
    --md-sys-color-on-error:                   rgb(31, 31, 31);
    --md-sys-color-on-error-container:         rgb(214, 219, 229);
    --md-sys-color-on-primary:                 rgb(31, 31, 31);
    --md-sys-color-on-primary-container:       rgb(83, 80, 185);
    --md-sys-color-on-primary-fixed:           rgb(31, 31, 31);
    --md-sys-color-on-primary-fixed-variant:   rgb(248, 17, 24);
    --md-sys-color-on-secondary:               rgb(31, 31, 31);
    --md-sys-color-on-secondary-container:     rgb(16, 129, 214);
    --md-sys-color-on-secondary-fixed:         rgb(31, 31, 31);
    --md-sys-color-on-secondary-fixed-variant: rgb(248, 17, 24);
    --md-sys-color-on-surface:                 rgb(78, 90, 183);
    --md-sys-color-on-surface-variant:         rgb(78, 90, 183);
    --md-sys-color-on-tertiary:                rgb(31, 31, 31);
    --md-sys-color-on-tertiary-container:      rgb(16, 129, 214);
    --md-sys-color-on-tertiary-fixed:          rgb(31, 31, 31);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(248, 17, 24);
    --md-sys-color-outline:                    rgb(42, 132, 210);
    --md-sys-color-outline-variant:            rgb(45, 197, 94);
    --md-sys-color-primary:                    rgb(83, 80, 185);
    --md-sys-color-primary-container:          rgb(45, 197, 94);
    --md-sys-color-primary-fixed:              rgb(83, 80, 185);
    --md-sys-color-primary-fixed-dim:          rgb(83, 80, 185);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(15, 125, 219);
    --md-sys-color-secondary-container:        rgb(45, 197, 94);
    --md-sys-color-secondary-fixed:            rgb(15, 125, 219);
    --md-sys-color-secondary-fixed-dim:        rgb(15, 125, 219);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(214, 219, 229);
    --md-sys-color-surface:                    rgb(31, 31, 31);
    --md-sys-color-surface-bright:             rgb(236, 186, 15);
    --md-sys-color-surface-container:          rgb(248, 17, 24);
    --md-sys-color-surface-container-high:     rgb(45, 197, 94);
    --md-sys-color-surface-container-highest:  rgb(45, 197, 94);
    --md-sys-color-surface-container-low:      rgb(248, 17, 24);
    --md-sys-color-surface-container-lowest:   rgb(31, 31, 31);
    --md-sys-color-surface-dim:                rgb(31, 31, 31);
    --md-sys-color-surface-tint:               rgb(83, 80, 185);
    --md-sys-color-surface-variant:            rgb(45, 197, 94);
    --md-sys-color-tertiary:                   rgb(16, 129, 214);
    --md-sys-color-tertiary-container:         rgb(45, 197, 94);
    --md-sys-color-tertiary-fixed:             rgb(16, 129, 214);
    --md-sys-color-tertiary-fixed-dim:         rgb(16, 129, 214);
}
