:root {
    --theme-color: "selenized-dark";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(16, 60, 72);
    --md-sys-color-error:                      rgb(250, 87, 80);
    --md-sys-color-error-container:            rgb(24, 73, 86);
    --md-sys-color-inverse-on-surface:         rgb(16, 60, 72);
    --md-sys-color-inverse-primary:            rgb(70, 149, 247);
    --md-sys-color-inverse-surface:            rgb(202, 216, 217);
    --md-sys-color-on-background:              rgb(173, 188, 188);
    --md-sys-color-on-error:                   rgb(16, 60, 72);
    --md-sys-color-on-error-container:         rgb(250, 87, 80);
    --md-sys-color-on-primary:                 rgb(16, 60, 72);
    --md-sys-color-on-primary-container:       rgb(70, 149, 247);
    --md-sys-color-on-primary-fixed:           rgb(16, 60, 72);
    --md-sys-color-on-primary-fixed-variant:   rgb(24, 73, 86);
    --md-sys-color-on-secondary:               rgb(16, 60, 72);
    --md-sys-color-on-secondary-container:     rgb(202, 216, 217);
    --md-sys-color-on-secondary-fixed:         rgb(16, 60, 72);
    --md-sys-color-on-secondary-fixed-variant: rgb(24, 73, 86);
    --md-sys-color-on-surface:                 rgb(173, 188, 188);
    --md-sys-color-on-surface-variant:         rgb(114, 137, 143);
    --md-sys-color-on-tertiary:                rgb(16, 60, 72);
    --md-sys-color-on-tertiary-container:      rgb(202, 216, 217);
    --md-sys-color-on-tertiary-fixed:          rgb(16, 60, 72);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(24, 73, 86);
    --md-sys-color-outline:                    rgb(114, 137, 143);
    --md-sys-color-outline-variant:            rgb(45, 91, 105);
    --md-sys-color-primary:                    rgb(70, 149, 247);
    --md-sys-color-primary-container:          rgb(45, 91, 105);
    --md-sys-color-primary-fixed:              rgb(70, 149, 247);
    --md-sys-color-primary-fixed-dim:          rgb(70, 149, 247);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(175, 136, 235);
    --md-sys-color-secondary-container:        rgb(45, 91, 105);
    --md-sys-color-secondary-fixed:            rgb(175, 136, 235);
    --md-sys-color-secondary-fixed-dim:        rgb(175, 136, 235);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(202, 216, 217);
    --md-sys-color-surface:                    rgb(16, 60, 72);
    --md-sys-color-surface-bright:             rgb(114, 137, 143);
    --md-sys-color-surface-container:          rgb(24, 73, 86);
    --md-sys-color-surface-container-high:     rgb(45, 91, 105);
    --md-sys-color-surface-container-highest:  rgb(45, 91, 105);
    --md-sys-color-surface-container-low:      rgb(24, 73, 86);
    --md-sys-color-surface-container-lowest:   rgb(16, 60, 72);
    --md-sys-color-surface-dim:                rgb(16, 60, 72);
    --md-sys-color-surface-tint:               rgb(70, 149, 247);
    --md-sys-color-surface-variant:            rgb(45, 91, 105);
    --md-sys-color-tertiary:                   rgb(65, 199, 185);
    --md-sys-color-tertiary-container:         rgb(45, 91, 105);
    --md-sys-color-tertiary-fixed:             rgb(65, 199, 185);
    --md-sys-color-tertiary-fixed-dim:         rgb(65, 199, 185);
}
