:root {
    --theme-color: "emil";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(239, 239, 239);
    --md-sys-color-error:                      rgb(244, 57, 121);
    --md-sys-color-error-container:            rgb(190, 190, 210);
    --md-sys-color-inverse-on-surface:         rgb(239, 239, 239);
    --md-sys-color-inverse-primary:            rgb(71, 19, 151);
    --md-sys-color-inverse-surface:            rgb(34, 34, 58);
    --md-sys-color-on-background:              rgb(49, 49, 69);
    --md-sys-color-on-error:                   rgb(239, 239, 239);
    --md-sys-color-on-error-container:         rgb(244, 57, 121);
    --md-sys-color-on-primary:                 rgb(239, 239, 239);
    --md-sys-color-on-primary-container:       rgb(71, 19, 151);
    --md-sys-color-on-primary-fixed:           rgb(239, 239, 239);
    --md-sys-color-on-primary-fixed-variant:   rgb(190, 190, 210);
    --md-sys-color-on-secondary:               rgb(239, 239, 239);
    --md-sys-color-on-secondary-container:     rgb(34, 34, 58);
    --md-sys-color-on-secondary-fixed:         rgb(239, 239, 239);
    --md-sys-color-on-secondary-fixed-variant: rgb(190, 190, 210);
    --md-sys-color-on-surface:                 rgb(49, 49, 69);
    --md-sys-color-on-surface-variant:         rgb(80, 80, 99);
    --md-sys-color-on-tertiary:                rgb(239, 239, 239);
    --md-sys-color-on-tertiary-container:      rgb(34, 34, 58);
    --md-sys-color-on-tertiary-fixed:          rgb(239, 239, 239);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(190, 190, 210);
    --md-sys-color-outline:                    rgb(124, 124, 152);
    --md-sys-color-outline-variant:            rgb(158, 158, 175);
    --md-sys-color-primary:                    rgb(71, 19, 151);
    --md-sys-color-primary-container:          rgb(158, 158, 175);
    --md-sys-color-primary-fixed:              rgb(71, 19, 151);
    --md-sys-color-primary-fixed-dim:          rgb(71, 19, 151);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(105, 22, 182);
    --md-sys-color-secondary-container:        rgb(158, 158, 175);
    --md-sys-color-secondary-fixed:            rgb(105, 22, 182);
    --md-sys-color-secondary-fixed-dim:        rgb(105, 22, 182);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(26, 26, 47);
    --md-sys-color-surface:                    rgb(239, 239, 239);
    --md-sys-color-surface-bright:             rgb(124, 124, 152);
    --md-sys-color-surface-container:          rgb(190, 190, 210);
    --md-sys-color-surface-container-high:     rgb(158, 158, 175);
    --md-sys-color-surface-container-highest:  rgb(158, 158, 175);
    --md-sys-color-surface-container-low:      rgb(190, 190, 210);
    --md-sys-color-surface-container-lowest:   rgb(239, 239, 239);
    --md-sys-color-surface-dim:                rgb(239, 239, 239);
    --md-sys-color-surface-tint:               rgb(71, 19, 151);
    --md-sys-color-surface-variant:            rgb(158, 158, 175);
    --md-sys-color-tertiary:                   rgb(33, 85, 214);
    --md-sys-color-tertiary-container:         rgb(158, 158, 175);
    --md-sys-color-tertiary-fixed:             rgb(33, 85, 214);
    --md-sys-color-tertiary-fixed-dim:         rgb(33, 85, 214);
}
