:root {
    --theme-color: "ShadeSmear Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(219, 219, 219);
    --md-sys-color-error:                      rgb(204, 84, 80);
    --md-sys-color-error-container:            rgb(228, 228, 228);
    --md-sys-color-inverse-on-surface:         rgb(219, 219, 219);
    --md-sys-color-inverse-primary:            rgb(55, 99, 136);
    --md-sys-color-inverse-surface:            rgb(28, 28, 28);
    --md-sys-color-on-background:              rgb(35, 35, 35);
    --md-sys-color-on-error:                   rgb(219, 219, 219);
    --md-sys-color-on-error-container:         rgb(204, 84, 80);
    --md-sys-color-on-primary:                 rgb(219, 219, 219);
    --md-sys-color-on-primary-container:       rgb(55, 99, 136);
    --md-sys-color-on-primary-fixed:           rgb(219, 219, 219);
    --md-sys-color-on-primary-fixed-variant:   rgb(228, 228, 228);
    --md-sys-color-on-secondary:               rgb(219, 219, 219);
    --md-sys-color-on-secondary-container:     rgb(28, 28, 28);
    --md-sys-color-on-secondary-fixed:         rgb(219, 219, 219);
    --md-sys-color-on-secondary-fixed-variant: rgb(228, 228, 228);
    --md-sys-color-on-surface:                 rgb(35, 35, 35);
    --md-sys-color-on-surface-variant:         rgb(35, 35, 35);
    --md-sys-color-on-tertiary:                rgb(219, 219, 219);
    --md-sys-color-on-tertiary-container:      rgb(28, 28, 28);
    --md-sys-color-on-tertiary-fixed:          rgb(219, 219, 219);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(228, 228, 228);
    --md-sys-color-outline:                    rgb(28, 28, 28);
    --md-sys-color-outline-variant:            rgb(192, 192, 192);
    --md-sys-color-primary:                    rgb(55, 99, 136);
    --md-sys-color-primary-container:          rgb(192, 192, 192);
    --md-sys-color-primary-fixed:              rgb(55, 99, 136);
    --md-sys-color-primary-fixed-dim:          rgb(55, 99, 136);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(215, 171, 84);
    --md-sys-color-secondary-container:        rgb(192, 192, 192);
    --md-sys-color-secondary-fixed:            rgb(215, 171, 84);
    --md-sys-color-secondary-fixed-dim:        rgb(215, 171, 84);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(228, 228, 228);
    --md-sys-color-surface:                    rgb(219, 219, 219);
    --md-sys-color-surface-bright:             rgb(78, 78, 78);
    --md-sys-color-surface-container:          rgb(228, 228, 228);
    --md-sys-color-surface-container-high:     rgb(192, 192, 192);
    --md-sys-color-surface-container-highest:  rgb(192, 192, 192);
    --md-sys-color-surface-container-low:      rgb(228, 228, 228);
    --md-sys-color-surface-container-lowest:   rgb(219, 219, 219);
    --md-sys-color-surface-dim:                rgb(219, 219, 219);
    --md-sys-color-surface-tint:               rgb(55, 99, 136);
    --md-sys-color-surface-variant:            rgb(192, 192, 192);
    --md-sys-color-tertiary:                   rgb(197, 125, 66);
    --md-sys-color-tertiary-container:         rgb(192, 192, 192);
    --md-sys-color-tertiary-fixed:             rgb(197, 125, 66);
    --md-sys-color-tertiary-fixed-dim:         rgb(197, 125, 66);
}
