:root {
    --theme-color: "Atelier Lakeside Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(235, 248, 255);
    --md-sys-color-error:                      rgb(210, 45, 114);
    --md-sys-color-error-container:            rgb(193, 228, 246);
    --md-sys-color-inverse-on-surface:         rgb(235, 248, 255);
    --md-sys-color-inverse-primary:            rgb(37, 127, 173);
    --md-sys-color-inverse-surface:            rgb(31, 41, 46);
    --md-sys-color-on-background:              rgb(81, 109, 123);
    --md-sys-color-on-error:                   rgb(235, 248, 255);
    --md-sys-color-on-error-container:         rgb(210, 45, 114);
    --md-sys-color-on-primary:                 rgb(235, 248, 255);
    --md-sys-color-on-primary-container:       rgb(37, 127, 173);
    --md-sys-color-on-primary-fixed:           rgb(235, 248, 255);
    --md-sys-color-on-primary-fixed-variant:   rgb(193, 228, 246);
    --md-sys-color-on-secondary:               rgb(235, 248, 255);
    --md-sys-color-on-secondary-container:     rgb(31, 41, 46);
    --md-sys-color-on-secondary-fixed:         rgb(235, 248, 255);
    --md-sys-color-on-secondary-fixed-variant: rgb(193, 228, 246);
    --md-sys-color-on-surface:                 rgb(81, 109, 123);
    --md-sys-color-on-surface-variant:         rgb(90, 123, 140);
    --md-sys-color-on-tertiary:                rgb(235, 248, 255);
    --md-sys-color-on-tertiary-container:      rgb(31, 41, 46);
    --md-sys-color-on-tertiary-fixed:          rgb(235, 248, 255);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(193, 228, 246);
    --md-sys-color-outline:                    rgb(113, 149, 168);
    --md-sys-color-outline-variant:            rgb(126, 162, 180);
    --md-sys-color-primary:                    rgb(37, 127, 173);
    --md-sys-color-primary-container:          rgb(126, 162, 180);
    --md-sys-color-primary-fixed:              rgb(37, 127, 173);
    --md-sys-color-primary-fixed-dim:          rgb(37, 127, 173);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(107, 107, 184);
    --md-sys-color-secondary-container:        rgb(126, 162, 180);
    --md-sys-color-secondary-fixed:            rgb(107, 107, 184);
    --md-sys-color-secondary-fixed-dim:        rgb(107, 107, 184);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(22, 27, 29);
    --md-sys-color-surface:                    rgb(235, 248, 255);
    --md-sys-color-surface-bright:             rgb(113, 149, 168);
    --md-sys-color-surface-container:          rgb(193, 228, 246);
    --md-sys-color-surface-container-high:     rgb(126, 162, 180);
    --md-sys-color-surface-container-highest:  rgb(126, 162, 180);
    --md-sys-color-surface-container-low:      rgb(193, 228, 246);
    --md-sys-color-surface-container-lowest:   rgb(235, 248, 255);
    --md-sys-color-surface-dim:                rgb(235, 248, 255);
    --md-sys-color-surface-tint:               rgb(37, 127, 173);
    --md-sys-color-surface-variant:            rgb(126, 162, 180);
    --md-sys-color-tertiary:                   rgb(45, 143, 111);
    --md-sys-color-tertiary-container:         rgb(126, 162, 180);
    --md-sys-color-tertiary-fixed:             rgb(45, 143, 111);
    --md-sys-color-tertiary-fixed-dim:         rgb(45, 143, 111);
}
