:root {
    --theme-color: "Gruvbox Material Light, Hard";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(249, 245, 215);
    --md-sys-color-error:                      rgb(193, 74, 74);
    --md-sys-color-error-container:            rgb(251, 241, 199);
    --md-sys-color-inverse-on-surface:         rgb(249, 245, 215);
    --md-sys-color-inverse-primary:            rgb(69, 112, 122);
    --md-sys-color-inverse-surface:            rgb(60, 56, 54);
    --md-sys-color-on-background:              rgb(101, 71, 53);
    --md-sys-color-on-error:                   rgb(249, 245, 215);
    --md-sys-color-on-error-container:         rgb(193, 74, 74);
    --md-sys-color-on-primary:                 rgb(249, 245, 215);
    --md-sys-color-on-primary-container:       rgb(69, 112, 122);
    --md-sys-color-on-primary-fixed:           rgb(249, 245, 215);
    --md-sys-color-on-primary-fixed-variant:   rgb(251, 241, 199);
    --md-sys-color-on-secondary:               rgb(249, 245, 215);
    --md-sys-color-on-secondary-container:     rgb(60, 56, 54);
    --md-sys-color-on-secondary-fixed:         rgb(249, 245, 215);
    --md-sys-color-on-secondary-fixed-variant: rgb(251, 241, 199);
    --md-sys-color-on-surface:                 rgb(101, 71, 53);
    --md-sys-color-on-surface-variant:         rgb(101, 71, 53);
    --md-sys-color-on-tertiary:                rgb(249, 245, 215);
    --md-sys-color-on-tertiary-container:      rgb(60, 56, 54);
    --md-sys-color-on-tertiary-fixed:          rgb(249, 245, 215);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(251, 241, 199);
    --md-sys-color-outline:                    rgb(201, 185, 154);
    --md-sys-color-outline-variant:            rgb(224, 207, 169);
    --md-sys-color-primary:                    rgb(69, 112, 122);
    --md-sys-color-primary-container:          rgb(224, 207, 169);
    --md-sys-color-primary-fixed:              rgb(69, 112, 122);
    --md-sys-color-primary-fixed-dim:          rgb(69, 112, 122);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(148, 94, 128);
    --md-sys-color-secondary-container:        rgb(224, 207, 169);
    --md-sys-color-secondary-fixed:            rgb(148, 94, 128);
    --md-sys-color-secondary-fixed-dim:        rgb(148, 94, 128);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(40, 40, 40);
    --md-sys-color-surface:                    rgb(249, 245, 215);
    --md-sys-color-surface-bright:             rgb(168, 153, 132);
    --md-sys-color-surface-container:          rgb(251, 241, 199);
    --md-sys-color-surface-container-high:     rgb(224, 207, 169);
    --md-sys-color-surface-container-highest:  rgb(224, 207, 169);
    --md-sys-color-surface-container-low:      rgb(251, 241, 199);
    --md-sys-color-surface-container-lowest:   rgb(249, 245, 215);
    --md-sys-color-surface-dim:                rgb(249, 245, 215);
    --md-sys-color-surface-tint:               rgb(69, 112, 122);
    --md-sys-color-surface-variant:            rgb(224, 207, 169);
    --md-sys-color-tertiary:                   rgb(76, 122, 93);
    --md-sys-color-tertiary-container:         rgb(224, 207, 169);
    --md-sys-color-tertiary-fixed:             rgb(76, 122, 93);
    --md-sys-color-tertiary-fixed-dim:         rgb(76, 122, 93);
}
