:root {
    --theme-color: "OneDark";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(40, 44, 52);
    --md-sys-color-error:                      rgb(224, 108, 117);
    --md-sys-color-error-container:            rgb(53, 59, 69);
    --md-sys-color-inverse-on-surface:         rgb(40, 44, 52);
    --md-sys-color-inverse-primary:            rgb(97, 175, 239);
    --md-sys-color-inverse-surface:            rgb(182, 189, 202);
    --md-sys-color-on-background:              rgb(171, 178, 191);
    --md-sys-color-on-error:                   rgb(40, 44, 52);
    --md-sys-color-on-error-container:         rgb(224, 108, 117);
    --md-sys-color-on-primary:                 rgb(40, 44, 52);
    --md-sys-color-on-primary-container:       rgb(97, 175, 239);
    --md-sys-color-on-primary-fixed:           rgb(40, 44, 52);
    --md-sys-color-on-primary-fixed-variant:   rgb(53, 59, 69);
    --md-sys-color-on-secondary:               rgb(40, 44, 52);
    --md-sys-color-on-secondary-container:     rgb(182, 189, 202);
    --md-sys-color-on-secondary-fixed:         rgb(40, 44, 52);
    --md-sys-color-on-secondary-fixed-variant: rgb(53, 59, 69);
    --md-sys-color-on-surface:                 rgb(171, 178, 191);
    --md-sys-color-on-surface-variant:         rgb(86, 92, 100);
    --md-sys-color-on-tertiary:                rgb(40, 44, 52);
    --md-sys-color-on-tertiary-container:      rgb(182, 189, 202);
    --md-sys-color-on-tertiary-fixed:          rgb(40, 44, 52);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(53, 59, 69);
    --md-sys-color-outline:                    rgb(84, 88, 98);
    --md-sys-color-outline-variant:            rgb(62, 68, 81);
    --md-sys-color-primary:                    rgb(97, 175, 239);
    --md-sys-color-primary-container:          rgb(62, 68, 81);
    --md-sys-color-primary-fixed:              rgb(97, 175, 239);
    --md-sys-color-primary-fixed-dim:          rgb(97, 175, 239);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(198, 120, 221);
    --md-sys-color-secondary-container:        rgb(62, 68, 81);
    --md-sys-color-secondary-fixed:            rgb(198, 120, 221);
    --md-sys-color-secondary-fixed-dim:        rgb(198, 120, 221);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(200, 204, 212);
    --md-sys-color-surface:                    rgb(40, 44, 52);
    --md-sys-color-surface-bright:             rgb(84, 88, 98);
    --md-sys-color-surface-container:          rgb(53, 59, 69);
    --md-sys-color-surface-container-high:     rgb(62, 68, 81);
    --md-sys-color-surface-container-highest:  rgb(62, 68, 81);
    --md-sys-color-surface-container-low:      rgb(53, 59, 69);
    --md-sys-color-surface-container-lowest:   rgb(40, 44, 52);
    --md-sys-color-surface-dim:                rgb(40, 44, 52);
    --md-sys-color-surface-tint:               rgb(97, 175, 239);
    --md-sys-color-surface-variant:            rgb(62, 68, 81);
    --md-sys-color-tertiary:                   rgb(86, 182, 194);
    --md-sys-color-tertiary-container:         rgb(62, 68, 81);
    --md-sys-color-tertiary-fixed:             rgb(86, 182, 194);
    --md-sys-color-tertiary-fixed-dim:         rgb(86, 182, 194);
}
