:root {
    --theme-color: "Cacao";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(22, 15, 12);
    --md-sys-color-error:                      rgb(224, 112, 92);
    --md-sys-color-error-container:            rgb(36, 25, 19);
    --md-sys-color-inverse-on-surface:         rgb(22, 15, 12);
    --md-sys-color-inverse-primary:            rgb(168, 154, 208);
    --md-sys-color-inverse-surface:            rgb(238, 222, 205);
    --md-sys-color-on-background:              rgb(232, 214, 196);
    --md-sys-color-on-error:                   rgb(22, 15, 12);
    --md-sys-color-on-error-container:         rgb(224, 112, 92);
    --md-sys-color-on-primary:                 rgb(22, 15, 12);
    --md-sys-color-on-primary-container:       rgb(168, 154, 208);
    --md-sys-color-on-primary-fixed:           rgb(22, 15, 12);
    --md-sys-color-on-primary-fixed-variant:   rgb(36, 25, 19);
    --md-sys-color-on-secondary:               rgb(22, 15, 12);
    --md-sys-color-on-secondary-container:     rgb(238, 222, 205);
    --md-sys-color-on-secondary-fixed:         rgb(22, 15, 12);
    --md-sys-color-on-secondary-fixed-variant: rgb(36, 25, 19);
    --md-sys-color-on-surface:                 rgb(232, 214, 196);
    --md-sys-color-on-surface-variant:         rgb(232, 214, 196);
    --md-sys-color-on-tertiary:                rgb(22, 15, 12);
    --md-sys-color-on-tertiary-container:      rgb(238, 222, 205);
    --md-sys-color-on-tertiary-fixed:          rgb(22, 15, 12);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(36, 25, 19);
    --md-sys-color-outline:                    rgb(175, 155, 139);
    --md-sys-color-outline-variant:            rgb(58, 40, 30);
    --md-sys-color-primary:                    rgb(168, 154, 208);
    --md-sys-color-primary-container:          rgb(58, 40, 30);
    --md-sys-color-primary-fixed:              rgb(168, 154, 208);
    --md-sys-color-primary-fixed-dim:          rgb(168, 154, 208);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(206, 138, 176);
    --md-sys-color-secondary-container:        rgb(58, 40, 30);
    --md-sys-color-secondary-fixed:            rgb(206, 138, 176);
    --md-sys-color-secondary-fixed-dim:        rgb(206, 138, 176);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(244, 230, 214);
    --md-sys-color-surface:                    rgb(22, 15, 12);
    --md-sys-color-surface-bright:             rgb(118, 96, 82);
    --md-sys-color-surface-container:          rgb(36, 25, 19);
    --md-sys-color-surface-container-high:     rgb(58, 40, 30);
    --md-sys-color-surface-container-highest:  rgb(58, 40, 30);
    --md-sys-color-surface-container-low:      rgb(36, 25, 19);
    --md-sys-color-surface-container-lowest:   rgb(22, 15, 12);
    --md-sys-color-surface-dim:                rgb(22, 15, 12);
    --md-sys-color-surface-tint:               rgb(168, 154, 208);
    --md-sys-color-surface-variant:            rgb(58, 40, 30);
    --md-sys-color-tertiary:                   rgb(116, 200, 176);
    --md-sys-color-tertiary-container:         rgb(58, 40, 30);
    --md-sys-color-tertiary-fixed:             rgb(116, 200, 176);
    --md-sys-color-tertiary-fixed-dim:         rgb(116, 200, 176);
}
