:root {
    --theme-color: "Twilight";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(30, 30, 30);
    --md-sys-color-error:                      rgb(207, 106, 76);
    --md-sys-color-error-container:            rgb(50, 53, 55);
    --md-sys-color-inverse-on-surface:         rgb(30, 30, 30);
    --md-sys-color-inverse-primary:            rgb(117, 135, 166);
    --md-sys-color-inverse-surface:            rgb(195, 195, 195);
    --md-sys-color-on-background:              rgb(167, 167, 167);
    --md-sys-color-on-error:                   rgb(30, 30, 30);
    --md-sys-color-on-error-container:         rgb(207, 106, 76);
    --md-sys-color-on-primary:                 rgb(30, 30, 30);
    --md-sys-color-on-primary-container:       rgb(117, 135, 166);
    --md-sys-color-on-primary-fixed:           rgb(30, 30, 30);
    --md-sys-color-on-primary-fixed-variant:   rgb(50, 53, 55);
    --md-sys-color-on-secondary:               rgb(30, 30, 30);
    --md-sys-color-on-secondary-container:     rgb(195, 195, 195);
    --md-sys-color-on-secondary-fixed:         rgb(30, 30, 30);
    --md-sys-color-on-secondary-fixed-variant: rgb(50, 53, 55);
    --md-sys-color-on-surface:                 rgb(167, 167, 167);
    --md-sys-color-on-surface-variant:         rgb(167, 167, 167);
    --md-sys-color-on-tertiary:                rgb(30, 30, 30);
    --md-sys-color-on-tertiary-container:      rgb(195, 195, 195);
    --md-sys-color-on-tertiary-fixed:          rgb(30, 30, 30);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(50, 53, 55);
    --md-sys-color-outline:                    rgb(131, 129, 132);
    --md-sys-color-outline-variant:            rgb(70, 75, 80);
    --md-sys-color-primary:                    rgb(117, 135, 166);
    --md-sys-color-primary-container:          rgb(70, 75, 80);
    --md-sys-color-primary-fixed:              rgb(117, 135, 166);
    --md-sys-color-primary-fixed-dim:          rgb(117, 135, 166);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(155, 133, 157);
    --md-sys-color-secondary-container:        rgb(70, 75, 80);
    --md-sys-color-secondary-fixed:            rgb(155, 133, 157);
    --md-sys-color-secondary-fixed-dim:        rgb(155, 133, 157);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(255, 255, 255);
    --md-sys-color-surface:                    rgb(30, 30, 30);
    --md-sys-color-surface-bright:             rgb(95, 90, 96);
    --md-sys-color-surface-container:          rgb(50, 53, 55);
    --md-sys-color-surface-container-high:     rgb(70, 75, 80);
    --md-sys-color-surface-container-highest:  rgb(70, 75, 80);
    --md-sys-color-surface-container-low:      rgb(50, 53, 55);
    --md-sys-color-surface-container-lowest:   rgb(30, 30, 30);
    --md-sys-color-surface-dim:                rgb(30, 30, 30);
    --md-sys-color-surface-tint:               rgb(117, 135, 166);
    --md-sys-color-surface-variant:            rgb(70, 75, 80);
    --md-sys-color-tertiary:                   rgb(175, 196, 219);
    --md-sys-color-tertiary-container:         rgb(70, 75, 80);
    --md-sys-color-tertiary-fixed:             rgb(175, 196, 219);
    --md-sys-color-tertiary-fixed-dim:         rgb(175, 196, 219);
}
