:root {
    --theme-color: "Swamp Dark";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(36, 32, 21);
    --md-sys-color-error:                      rgb(219, 147, 13);
    --md-sys-color-error-container:            rgb(58, 49, 36);
    --md-sys-color-inverse-on-surface:         rgb(36, 32, 21);
    --md-sys-color-inverse-primary:            rgb(193, 102, 107);
    --md-sys-color-inverse-surface:            rgb(235, 224, 187);
    --md-sys-color-on-background:              rgb(210, 195, 164);
    --md-sys-color-on-error:                   rgb(36, 32, 21);
    --md-sys-color-on-error-container:         rgb(219, 147, 13);
    --md-sys-color-on-primary:                 rgb(36, 32, 21);
    --md-sys-color-on-primary-container:       rgb(193, 102, 107);
    --md-sys-color-on-primary-fixed:           rgb(36, 32, 21);
    --md-sys-color-on-primary-fixed-variant:   rgb(58, 49, 36);
    --md-sys-color-on-secondary:               rgb(36, 32, 21);
    --md-sys-color-on-secondary-container:     rgb(235, 224, 187);
    --md-sys-color-on-secondary-fixed:         rgb(36, 32, 21);
    --md-sys-color-on-secondary-fixed-variant: rgb(58, 49, 36);
    --md-sys-color-on-surface:                 rgb(210, 195, 164);
    --md-sys-color-on-surface-variant:         rgb(184, 165, 140);
    --md-sys-color-on-tertiary:                rgb(36, 32, 21);
    --md-sys-color-on-tertiary-container:      rgb(235, 224, 187);
    --md-sys-color-on-tertiary-fixed:          rgb(36, 32, 21);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(58, 49, 36);
    --md-sys-color-outline:                    rgb(95, 78, 65);
    --md-sys-color-outline-variant:            rgb(77, 63, 50);
    --md-sys-color-primary:                    rgb(193, 102, 107);
    --md-sys-color-primary-container:          rgb(77, 63, 50);
    --md-sys-color-primary-fixed:              rgb(193, 102, 107);
    --md-sys-color-primary-fixed-dim:          rgb(193, 102, 107);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(145, 80, 108);
    --md-sys-color-secondary-container:        rgb(77, 63, 50);
    --md-sys-color-secondary-fixed:            rgb(145, 80, 108);
    --md-sys-color-secondary-fixed-dim:        rgb(145, 80, 108);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(241, 233, 208);
    --md-sys-color-surface:                    rgb(36, 32, 21);
    --md-sys-color-surface-bright:             rgb(95, 78, 65);
    --md-sys-color-surface-container:          rgb(58, 49, 36);
    --md-sys-color-surface-container-high:     rgb(77, 63, 50);
    --md-sys-color-surface-container-highest:  rgb(77, 63, 50);
    --md-sys-color-surface-container-low:      rgb(58, 49, 36);
    --md-sys-color-surface-container-lowest:   rgb(36, 32, 21);
    --md-sys-color-surface-dim:                rgb(36, 32, 21);
    --md-sys-color-surface-tint:               rgb(193, 102, 107);
    --md-sys-color-surface-variant:            rgb(77, 63, 50);
    --md-sys-color-tertiary:                   rgb(219, 147, 13);
    --md-sys-color-tertiary-container:         rgb(77, 63, 50);
    --md-sys-color-tertiary-fixed:             rgb(219, 147, 13);
    --md-sys-color-tertiary-fixed-dim:         rgb(219, 147, 13);
}
