:root {
    --theme-color: "dirtysea";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(224, 224, 224);
    --md-sys-color-error:                      rgb(132, 0, 0);
    --md-sys-color-error-container:            rgb(208, 218, 208);
    --md-sys-color-inverse-on-surface:         rgb(224, 224, 224);
    --md-sys-color-inverse-primary:            rgb(0, 115, 0);
    --md-sys-color-inverse-surface:            rgb(248, 248, 248);
    --md-sys-color-on-background:              rgb(0, 0, 0);
    --md-sys-color-on-error:                   rgb(224, 224, 224);
    --md-sys-color-on-error-container:         rgb(132, 0, 0);
    --md-sys-color-on-primary:                 rgb(224, 224, 224);
    --md-sys-color-on-primary-container:       rgb(0, 115, 0);
    --md-sys-color-on-primary-fixed:           rgb(224, 224, 224);
    --md-sys-color-on-primary-fixed-variant:   rgb(208, 218, 208);
    --md-sys-color-on-secondary:               rgb(224, 224, 224);
    --md-sys-color-on-secondary-container:     rgb(248, 248, 248);
    --md-sys-color-on-secondary-fixed:         rgb(224, 224, 224);
    --md-sys-color-on-secondary-fixed-variant: rgb(208, 218, 208);
    --md-sys-color-on-surface:                 rgb(0, 0, 0);
    --md-sys-color-on-surface-variant:         rgb(32, 32, 32);
    --md-sys-color-on-tertiary:                rgb(224, 224, 224);
    --md-sys-color-on-tertiary-container:      rgb(248, 248, 248);
    --md-sys-color-on-tertiary-fixed:          rgb(224, 224, 224);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(208, 218, 208);
    --md-sys-color-outline:                    rgb(112, 112, 112);
    --md-sys-color-outline-variant:            rgb(208, 208, 208);
    --md-sys-color-primary:                    rgb(0, 115, 0);
    --md-sys-color-primary-container:          rgb(208, 208, 208);
    --md-sys-color-primary-fixed:              rgb(0, 115, 0);
    --md-sys-color-primary-fixed-dim:          rgb(0, 115, 0);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(0, 0, 144);
    --md-sys-color-secondary-container:        rgb(208, 208, 208);
    --md-sys-color-secondary-fixed:            rgb(0, 0, 144);
    --md-sys-color-secondary-fixed-dim:        rgb(0, 0, 144);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(196, 217, 196);
    --md-sys-color-surface:                    rgb(224, 224, 224);
    --md-sys-color-surface-bright:             rgb(112, 112, 112);
    --md-sys-color-surface-container:          rgb(208, 218, 208);
    --md-sys-color-surface-container-high:     rgb(208, 208, 208);
    --md-sys-color-surface-container-highest:  rgb(208, 208, 208);
    --md-sys-color-surface-container-low:      rgb(208, 218, 208);
    --md-sys-color-surface-container-lowest:   rgb(224, 224, 224);
    --md-sys-color-surface-dim:                rgb(224, 224, 224);
    --md-sys-color-surface-tint:               rgb(0, 115, 0);
    --md-sys-color-surface-variant:            rgb(208, 208, 208);
    --md-sys-color-tertiary:                   rgb(117, 91, 0);
    --md-sys-color-tertiary-container:         rgb(208, 208, 208);
    --md-sys-color-tertiary-fixed:             rgb(117, 91, 0);
    --md-sys-color-tertiary-fixed-dim:         rgb(117, 91, 0);
}
