:root {
    --theme-color: "Tokyo Night Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(213, 214, 219);
    --md-sys-color-error:                      rgb(52, 59, 88);
    --md-sys-color-error-container:            rgb(203, 204, 209);
    --md-sys-color-inverse-on-surface:         rgb(213, 214, 219);
    --md-sys-color-inverse-primary:            rgb(52, 84, 138);
    --md-sys-color-inverse-surface:            rgb(26, 27, 38);
    --md-sys-color-on-background:              rgb(52, 59, 89);
    --md-sys-color-on-error:                   rgb(213, 214, 219);
    --md-sys-color-on-error-container:         rgb(52, 59, 88);
    --md-sys-color-on-primary:                 rgb(213, 214, 219);
    --md-sys-color-on-primary-container:       rgb(52, 84, 138);
    --md-sys-color-on-primary-fixed:           rgb(213, 214, 219);
    --md-sys-color-on-primary-fixed-variant:   rgb(203, 204, 209);
    --md-sys-color-on-secondary:               rgb(213, 214, 219);
    --md-sys-color-on-secondary-container:     rgb(26, 27, 38);
    --md-sys-color-on-secondary-fixed:         rgb(213, 214, 219);
    --md-sys-color-on-secondary-fixed-variant: rgb(203, 204, 209);
    --md-sys-color-on-surface:                 rgb(52, 59, 89);
    --md-sys-color-on-surface-variant:         rgb(52, 59, 89);
    --md-sys-color-on-tertiary:                rgb(213, 214, 219);
    --md-sys-color-on-tertiary-container:      rgb(26, 27, 38);
    --md-sys-color-on-tertiary-fixed:          rgb(213, 214, 219);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(203, 204, 209);
    --md-sys-color-outline:                    rgb(76, 80, 94);
    --md-sys-color-outline-variant:            rgb(223, 224, 229);
    --md-sys-color-primary:                    rgb(52, 84, 138);
    --md-sys-color-primary-container:          rgb(223, 224, 229);
    --md-sys-color-primary-fixed:              rgb(52, 84, 138);
    --md-sys-color-primary-fixed-dim:          rgb(52, 84, 138);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(90, 74, 120);
    --md-sys-color-secondary-container:        rgb(223, 224, 229);
    --md-sys-color-secondary-fixed:            rgb(90, 74, 120);
    --md-sys-color-secondary-fixed-dim:        rgb(90, 74, 120);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(26, 27, 38);
    --md-sys-color-surface:                    rgb(213, 214, 219);
    --md-sys-color-surface-bright:             rgb(150, 153, 163);
    --md-sys-color-surface-container:          rgb(203, 204, 209);
    --md-sys-color-surface-container-high:     rgb(223, 224, 229);
    --md-sys-color-surface-container-highest:  rgb(223, 224, 229);
    --md-sys-color-surface-container-low:      rgb(203, 204, 209);
    --md-sys-color-surface-container-lowest:   rgb(213, 214, 219);
    --md-sys-color-surface-dim:                rgb(213, 214, 219);
    --md-sys-color-surface-tint:               rgb(52, 84, 138);
    --md-sys-color-surface-variant:            rgb(223, 224, 229);
    --md-sys-color-tertiary:                   rgb(62, 105, 104);
    --md-sys-color-tertiary-container:         rgb(223, 224, 229);
    --md-sys-color-tertiary-fixed:             rgb(62, 105, 104);
    --md-sys-color-tertiary-fixed-dim:         rgb(62, 105, 104);
}
