:root {
    --theme-color: "XCode Dusk";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(40, 43, 53);
    --md-sys-color-error:                      rgb(178, 24, 137);
    --md-sys-color-error-container:            rgb(61, 64, 72);
    --md-sys-color-inverse-on-surface:         rgb(40, 43, 53);
    --md-sys-color-inverse-primary:            rgb(121, 14, 173);
    --md-sys-color-inverse-surface:            rgb(169, 170, 174);
    --md-sys-color-on-background:              rgb(147, 149, 153);
    --md-sys-color-on-error:                   rgb(40, 43, 53);
    --md-sys-color-on-error-container:         rgb(178, 24, 137);
    --md-sys-color-on-primary:                 rgb(40, 43, 53);
    --md-sys-color-on-primary-container:       rgb(121, 14, 173);
    --md-sys-color-on-primary-fixed:           rgb(40, 43, 53);
    --md-sys-color-on-primary-fixed-variant:   rgb(61, 64, 72);
    --md-sys-color-on-secondary:               rgb(40, 43, 53);
    --md-sys-color-on-secondary-container:     rgb(169, 170, 174);
    --md-sys-color-on-secondary-fixed:         rgb(40, 43, 53);
    --md-sys-color-on-secondary-fixed-variant: rgb(61, 64, 72);
    --md-sys-color-on-surface:                 rgb(147, 149, 153);
    --md-sys-color-on-surface-variant:         rgb(126, 128, 134);
    --md-sys-color-on-tertiary:                rgb(40, 43, 53);
    --md-sys-color-on-tertiary-container:      rgb(169, 170, 174);
    --md-sys-color-on-tertiary-fixed:          rgb(40, 43, 53);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(61, 64, 72);
    --md-sys-color-outline:                    rgb(104, 106, 113);
    --md-sys-color-outline-variant:            rgb(83, 85, 93);
    --md-sys-color-primary:                    rgb(121, 14, 173);
    --md-sys-color-primary-container:          rgb(83, 85, 93);
    --md-sys-color-primary-fixed:              rgb(121, 14, 173);
    --md-sys-color-primary-fixed-dim:          rgb(121, 14, 173);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(178, 24, 137);
    --md-sys-color-secondary-container:        rgb(83, 85, 93);
    --md-sys-color-secondary-fixed:            rgb(178, 24, 137);
    --md-sys-color-secondary-fixed-dim:        rgb(178, 24, 137);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(190, 191, 194);
    --md-sys-color-surface:                    rgb(40, 43, 53);
    --md-sys-color-surface-bright:             rgb(104, 106, 113);
    --md-sys-color-surface-container:          rgb(61, 64, 72);
    --md-sys-color-surface-container-high:     rgb(83, 85, 93);
    --md-sys-color-surface-container-highest:  rgb(83, 85, 93);
    --md-sys-color-surface-container-low:      rgb(61, 64, 72);
    --md-sys-color-surface-container-lowest:   rgb(40, 43, 53);
    --md-sys-color-surface-dim:                rgb(40, 43, 53);
    --md-sys-color-surface-tint:               rgb(121, 14, 173);
    --md-sys-color-surface-variant:            rgb(83, 85, 93);
    --md-sys-color-tertiary:                   rgb(0, 160, 190);
    --md-sys-color-tertiary-container:         rgb(83, 85, 93);
    --md-sys-color-tertiary-fixed:             rgb(0, 160, 190);
    --md-sys-color-tertiary-fixed-dim:         rgb(0, 160, 190);
}
