:root {
    --theme-color: "Measured Light";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(253, 249, 245);
    --md-sys-color-error:                      rgb(172, 31, 53);
    --md-sys-color-error-container:            rgb(249, 245, 241);
    --md-sys-color-inverse-on-surface:         rgb(253, 249, 245);
    --md-sys-color-inverse-primary:            rgb(1, 88, 173);
    --md-sys-color-inverse-surface:            rgb(24, 24, 24);
    --md-sys-color-on-background:              rgb(41, 41, 41);
    --md-sys-color-on-error:                   rgb(253, 249, 245);
    --md-sys-color-on-error-container:         rgb(172, 31, 53);
    --md-sys-color-on-primary:                 rgb(253, 249, 245);
    --md-sys-color-on-primary-container:       rgb(1, 88, 173);
    --md-sys-color-on-primary-fixed:           rgb(253, 249, 245);
    --md-sys-color-on-primary-fixed-variant:   rgb(249, 245, 241);
    --md-sys-color-on-secondary:               rgb(253, 249, 245);
    --md-sys-color-on-secondary-container:     rgb(24, 24, 24);
    --md-sys-color-on-secondary-fixed:         rgb(253, 249, 245);
    --md-sys-color-on-secondary-fixed-variant: rgb(249, 245, 241);
    --md-sys-color-on-surface:                 rgb(41, 41, 41);
    --md-sys-color-on-surface-variant:         rgb(64, 64, 64);
    --md-sys-color-on-tertiary:                rgb(253, 249, 245);
    --md-sys-color-on-tertiary-container:      rgb(24, 24, 24);
    --md-sys-color-on-tertiary-fixed:          rgb(253, 249, 245);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(249, 245, 241);
    --md-sys-color-outline:                    rgb(90, 90, 90);
    --md-sys-color-outline-variant:            rgb(255, 234, 218);
    --md-sys-color-primary:                    rgb(1, 88, 173);
    --md-sys-color-primary-container:          rgb(255, 234, 218);
    --md-sys-color-primary-fixed:              rgb(1, 88, 173);
    --md-sys-color-primary-fixed-dim:          rgb(1, 88, 173);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(102, 69, 194);
    --md-sys-color-secondary-container:        rgb(255, 234, 218);
    --md-sys-color-secondary-fixed:            rgb(102, 69, 194);
    --md-sys-color-secondary-fixed-dim:        rgb(102, 69, 194);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(0, 0, 0);
    --md-sys-color-surface:                    rgb(253, 249, 245);
    --md-sys-color-surface-bright:             rgb(90, 90, 90);
    --md-sys-color-surface-container:          rgb(249, 245, 241);
    --md-sys-color-surface-container-high:     rgb(255, 234, 218);
    --md-sys-color-surface-container-highest:  rgb(255, 234, 218);
    --md-sys-color-surface-container-low:      rgb(249, 245, 241);
    --md-sys-color-surface-container-lowest:   rgb(253, 249, 245);
    --md-sys-color-surface-dim:                rgb(253, 249, 245);
    --md-sys-color-surface-tint:               rgb(1, 88, 173);
    --md-sys-color-surface-variant:            rgb(255, 234, 218);
    --md-sys-color-tertiary:                   rgb(1, 113, 111);
    --md-sys-color-tertiary-container:         rgb(255, 234, 218);
    --md-sys-color-tertiary-fixed:             rgb(1, 113, 111);
    --md-sys-color-tertiary-fixed-dim:         rgb(1, 113, 111);
}
