:root {
    --theme-color: "Equilibrium Dark";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(12, 17, 24);
    --md-sys-color-error:                      rgb(240, 67, 57);
    --md-sys-color-error-container:            rgb(24, 28, 34);
    --md-sys-color-inverse-on-surface:         rgb(12, 17, 24);
    --md-sys-color-inverse-primary:            rgb(0, 141, 209);
    --md-sys-color-inverse-surface:            rgb(202, 198, 189);
    --md-sys-color-on-background:              rgb(175, 171, 162);
    --md-sys-color-on-error:                   rgb(12, 17, 24);
    --md-sys-color-on-error-container:         rgb(240, 67, 57);
    --md-sys-color-on-primary:                 rgb(12, 17, 24);
    --md-sys-color-on-primary-container:       rgb(0, 141, 209);
    --md-sys-color-on-primary-fixed:           rgb(12, 17, 24);
    --md-sys-color-on-primary-fixed-variant:   rgb(24, 28, 34);
    --md-sys-color-on-secondary:               rgb(12, 17, 24);
    --md-sys-color-on-secondary-container:     rgb(202, 198, 189);
    --md-sys-color-on-secondary-fixed:         rgb(12, 17, 24);
    --md-sys-color-on-secondary-fixed-variant: rgb(24, 28, 34);
    --md-sys-color-on-surface:                 rgb(175, 171, 162);
    --md-sys-color-on-surface-variant:         rgb(148, 144, 136);
    --md-sys-color-on-tertiary:                rgb(12, 17, 24);
    --md-sys-color-on-tertiary-container:      rgb(202, 198, 189);
    --md-sys-color-on-tertiary-fixed:          rgb(12, 17, 24);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(24, 28, 34);
    --md-sys-color-outline:                    rgb(123, 119, 110);
    --md-sys-color-outline-variant:            rgb(34, 38, 45);
    --md-sys-color-primary:                    rgb(0, 141, 209);
    --md-sys-color-primary-container:          rgb(34, 38, 45);
    --md-sys-color-primary-fixed:              rgb(0, 141, 209);
    --md-sys-color-primary-fixed-dim:          rgb(0, 141, 209);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(106, 127, 210);
    --md-sys-color-secondary-container:        rgb(34, 38, 45);
    --md-sys-color-secondary-fixed:            rgb(106, 127, 210);
    --md-sys-color-secondary-fixed-dim:        rgb(106, 127, 210);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(231, 226, 217);
    --md-sys-color-surface:                    rgb(12, 17, 24);
    --md-sys-color-surface-bright:             rgb(123, 119, 110);
    --md-sys-color-surface-container:          rgb(24, 28, 34);
    --md-sys-color-surface-container-high:     rgb(34, 38, 45);
    --md-sys-color-surface-container-highest:  rgb(34, 38, 45);
    --md-sys-color-surface-container-low:      rgb(24, 28, 34);
    --md-sys-color-surface-container-lowest:   rgb(12, 17, 24);
    --md-sys-color-surface-dim:                rgb(12, 17, 24);
    --md-sys-color-surface-tint:               rgb(0, 141, 209);
    --md-sys-color-surface-variant:            rgb(34, 38, 45);
    --md-sys-color-tertiary:                   rgb(0, 148, 139);
    --md-sys-color-tertiary-container:         rgb(34, 38, 45);
    --md-sys-color-tertiary-fixed:             rgb(0, 148, 139);
    --md-sys-color-tertiary-fixed-dim:         rgb(0, 148, 139);
}
