:root {
    --theme-color: "Porple";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(41, 44, 54);
    --md-sys-color-error:                      rgb(248, 69, 71);
    --md-sys-color-error-container:            rgb(51, 51, 68);
    --md-sys-color-inverse-on-surface:         rgb(41, 44, 54);
    --md-sys-color-inverse-primary:            rgb(132, 133, 206);
    --md-sys-color-inverse-surface:            rgb(232, 232, 232);
    --md-sys-color-on-background:              rgb(216, 216, 216);
    --md-sys-color-on-error:                   rgb(41, 44, 54);
    --md-sys-color-on-error-container:         rgb(248, 69, 71);
    --md-sys-color-on-primary:                 rgb(41, 44, 54);
    --md-sys-color-on-primary-container:       rgb(132, 133, 206);
    --md-sys-color-on-primary-fixed:           rgb(41, 44, 54);
    --md-sys-color-on-primary-fixed-variant:   rgb(51, 51, 68);
    --md-sys-color-on-secondary:               rgb(41, 44, 54);
    --md-sys-color-on-secondary-container:     rgb(232, 232, 232);
    --md-sys-color-on-secondary-fixed:         rgb(41, 44, 54);
    --md-sys-color-on-secondary-fixed-variant: rgb(51, 51, 68);
    --md-sys-color-on-surface:                 rgb(216, 216, 216);
    --md-sys-color-on-surface-variant:         rgb(184, 184, 184);
    --md-sys-color-on-tertiary:                rgb(41, 44, 54);
    --md-sys-color-on-tertiary-container:      rgb(232, 232, 232);
    --md-sys-color-on-tertiary-fixed:          rgb(41, 44, 54);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(51, 51, 68);
    --md-sys-color-outline:                    rgb(101, 86, 138);
    --md-sys-color-outline-variant:            rgb(71, 65, 96);
    --md-sys-color-primary:                    rgb(132, 133, 206);
    --md-sys-color-primary-container:          rgb(71, 65, 96);
    --md-sys-color-primary-fixed:              rgb(132, 133, 206);
    --md-sys-color-primary-fixed-dim:          rgb(132, 133, 206);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(183, 73, 137);
    --md-sys-color-secondary-container:        rgb(71, 65, 96);
    --md-sys-color-secondary-fixed:            rgb(183, 73, 137);
    --md-sys-color-secondary-fixed-dim:        rgb(183, 73, 137);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(248, 248, 248);
    --md-sys-color-surface:                    rgb(41, 44, 54);
    --md-sys-color-surface-bright:             rgb(101, 86, 138);
    --md-sys-color-surface-container:          rgb(51, 51, 68);
    --md-sys-color-surface-container-high:     rgb(71, 65, 96);
    --md-sys-color-surface-container-highest:  rgb(71, 65, 96);
    --md-sys-color-surface-container-low:      rgb(51, 51, 68);
    --md-sys-color-surface-container-lowest:   rgb(41, 44, 54);
    --md-sys-color-surface-dim:                rgb(41, 44, 54);
    --md-sys-color-surface-tint:               rgb(132, 133, 206);
    --md-sys-color-surface-variant:            rgb(71, 65, 96);
    --md-sys-color-tertiary:                   rgb(100, 135, 143);
    --md-sys-color-tertiary-container:         rgb(71, 65, 96);
    --md-sys-color-tertiary-fixed:             rgb(100, 135, 143);
    --md-sys-color-tertiary-fixed-dim:         rgb(100, 135, 143);
}
