:root {
    --theme-color: "summercamp";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(28, 24, 16);
    --md-sys-color-error:                      rgb(227, 81, 66);
    --md-sys-color-error-container:            rgb(42, 38, 28);
    --md-sys-color-inverse-on-surface:         rgb(28, 24, 16);
    --md-sys-color-inverse-primary:            rgb(72, 155, 240);
    --md-sys-color-inverse-surface:            rgb(186, 182, 150);
    --md-sys-color-on-background:              rgb(115, 110, 85);
    --md-sys-color-on-error:                   rgb(28, 24, 16);
    --md-sys-color-on-error-container:         rgb(227, 81, 66);
    --md-sys-color-on-primary:                 rgb(28, 24, 16);
    --md-sys-color-on-primary-container:       rgb(72, 155, 240);
    --md-sys-color-on-primary-fixed:           rgb(28, 24, 16);
    --md-sys-color-on-primary-fixed-variant:   rgb(42, 38, 28);
    --md-sys-color-on-secondary:               rgb(28, 24, 16);
    --md-sys-color-on-secondary-container:     rgb(186, 182, 150);
    --md-sys-color-on-secondary-fixed:         rgb(28, 24, 16);
    --md-sys-color-on-secondary-fixed-variant: rgb(42, 38, 28);
    --md-sys-color-on-surface:                 rgb(115, 110, 85);
    --md-sys-color-on-surface-variant:         rgb(115, 110, 85);
    --md-sys-color-on-tertiary:                rgb(28, 24, 16);
    --md-sys-color-on-tertiary-container:      rgb(186, 182, 150);
    --md-sys-color-on-tertiary-fixed:          rgb(28, 24, 16);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(42, 38, 28);
    --md-sys-color-outline:                    rgb(95, 91, 69);
    --md-sys-color-outline-variant:            rgb(58, 53, 39);
    --md-sys-color-primary:                    rgb(72, 155, 240);
    --md-sys-color-primary-container:          rgb(58, 53, 39);
    --md-sys-color-primary-fixed:              rgb(72, 155, 240);
    --md-sys-color-primary-fixed-dim:          rgb(72, 155, 240);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(255, 128, 128);
    --md-sys-color-secondary-container:        rgb(58, 53, 39);
    --md-sys-color-secondary-fixed:            rgb(255, 128, 128);
    --md-sys-color-secondary-fixed-dim:        rgb(255, 128, 128);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(248, 245, 222);
    --md-sys-color-surface:                    rgb(28, 24, 16);
    --md-sys-color-surface-bright:             rgb(80, 75, 56);
    --md-sys-color-surface-container:          rgb(42, 38, 28);
    --md-sys-color-surface-container-high:     rgb(58, 53, 39);
    --md-sys-color-surface-container-highest:  rgb(58, 53, 39);
    --md-sys-color-surface-container-low:      rgb(42, 38, 28);
    --md-sys-color-surface-container-lowest:   rgb(28, 24, 16);
    --md-sys-color-surface-dim:                rgb(28, 24, 16);
    --md-sys-color-surface-tint:               rgb(72, 155, 240);
    --md-sys-color-surface-variant:            rgb(58, 53, 39);
    --md-sys-color-tertiary:                   rgb(90, 235, 188);
    --md-sys-color-tertiary-container:         rgb(58, 53, 39);
    --md-sys-color-tertiary-fixed:             rgb(90, 235, 188);
    --md-sys-color-tertiary-fixed-dim:         rgb(90, 235, 188);
}
