:root {
    --theme-color: "Gotham";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(12, 16, 20);
    --md-sys-color-error:                      rgb(194, 49, 39);
    --md-sys-color-error-container:            rgb(17, 21, 28);
    --md-sys-color-inverse-on-surface:         rgb(12, 16, 20);
    --md-sys-color-inverse-primary:            rgb(25, 84, 102);
    --md-sys-color-inverse-surface:            rgb(153, 209, 206);
    --md-sys-color-on-background:              rgb(89, 156, 171);
    --md-sys-color-on-error:                   rgb(12, 16, 20);
    --md-sys-color-on-error-container:         rgb(194, 49, 39);
    --md-sys-color-on-primary:                 rgb(12, 16, 20);
    --md-sys-color-on-primary-container:       rgb(25, 84, 102);
    --md-sys-color-on-primary-fixed:           rgb(12, 16, 20);
    --md-sys-color-on-primary-fixed-variant:   rgb(17, 21, 28);
    --md-sys-color-on-secondary:               rgb(12, 16, 20);
    --md-sys-color-on-secondary-container:     rgb(153, 209, 206);
    --md-sys-color-on-secondary-fixed:         rgb(12, 16, 20);
    --md-sys-color-on-secondary-fixed-variant: rgb(17, 21, 28);
    --md-sys-color-on-surface:                 rgb(89, 156, 171);
    --md-sys-color-on-surface-variant:         rgb(89, 156, 171);
    --md-sys-color-on-tertiary:                rgb(12, 16, 20);
    --md-sys-color-on-tertiary-container:      rgb(153, 209, 206);
    --md-sys-color-on-tertiary-fixed:          rgb(12, 16, 20);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(17, 21, 28);
    --md-sys-color-outline:                    rgb(36, 83, 97);
    --md-sys-color-outline-variant:            rgb(9, 31, 46);
    --md-sys-color-primary:                    rgb(25, 84, 102);
    --md-sys-color-primary-container:          rgb(9, 31, 46);
    --md-sys-color-primary-fixed:              rgb(25, 84, 102);
    --md-sys-color-primary-fixed-dim:          rgb(25, 84, 102);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(136, 140, 166);
    --md-sys-color-secondary-container:        rgb(9, 31, 46);
    --md-sys-color-secondary-fixed:            rgb(136, 140, 166);
    --md-sys-color-secondary-fixed-dim:        rgb(136, 140, 166);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(211, 235, 233);
    --md-sys-color-surface:                    rgb(12, 16, 20);
    --md-sys-color-surface-bright:             rgb(10, 55, 73);
    --md-sys-color-surface-container:          rgb(17, 21, 28);
    --md-sys-color-surface-container-high:     rgb(9, 31, 46);
    --md-sys-color-surface-container-highest:  rgb(9, 31, 46);
    --md-sys-color-surface-container-low:      rgb(17, 21, 28);
    --md-sys-color-surface-container-lowest:   rgb(12, 16, 20);
    --md-sys-color-surface-dim:                rgb(12, 16, 20);
    --md-sys-color-surface-tint:               rgb(25, 84, 102);
    --md-sys-color-surface-variant:            rgb(9, 31, 46);
    --md-sys-color-tertiary:                   rgb(42, 168, 137);
    --md-sys-color-tertiary-container:         rgb(9, 31, 46);
    --md-sys-color-tertiary-fixed:             rgb(42, 168, 137);
    --md-sys-color-tertiary-fixed-dim:         rgb(42, 168, 137);
}
