:root {
    --theme-color: "Jabuti";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(41, 42, 55);
    --md-sys-color-error:                      rgb(236, 106, 136);
    --md-sys-color-error-container:            rgb(52, 53, 69);
    --md-sys-color-inverse-on-surface:         rgb(41, 42, 55);
    --md-sys-color-inverse-primary:            rgb(63, 198, 222);
    --md-sys-color-inverse-surface:            rgb(217, 224, 238);
    --md-sys-color-on-background:              rgb(192, 203, 227);
    --md-sys-color-on-error:                   rgb(41, 42, 55);
    --md-sys-color-on-error-container:         rgb(236, 106, 136);
    --md-sys-color-on-primary:                 rgb(41, 42, 55);
    --md-sys-color-on-primary-container:       rgb(63, 198, 222);
    --md-sys-color-on-primary-fixed:           rgb(41, 42, 55);
    --md-sys-color-on-primary-fixed-variant:   rgb(52, 53, 69);
    --md-sys-color-on-secondary:               rgb(41, 42, 55);
    --md-sys-color-on-secondary-container:     rgb(217, 224, 238);
    --md-sys-color-on-secondary-fixed:         rgb(41, 42, 55);
    --md-sys-color-on-secondary-fixed-variant: rgb(52, 53, 69);
    --md-sys-color-on-surface:                 rgb(192, 203, 227);
    --md-sys-color-on-surface-variant:         rgb(80, 82, 107);
    --md-sys-color-on-tertiary:                rgb(41, 42, 55);
    --md-sys-color-on-tertiary-container:      rgb(217, 224, 238);
    --md-sys-color-on-tertiary-fixed:          rgb(41, 42, 55);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(52, 53, 69);
    --md-sys-color-outline:                    rgb(69, 71, 93);
    --md-sys-color-outline-variant:            rgb(60, 62, 81);
    --md-sys-color-primary:                    rgb(63, 198, 222);
    --md-sys-color-primary-container:          rgb(60, 62, 81);
    --md-sys-color-primary-fixed:              rgb(63, 198, 222);
    --md-sys-color-primary-fixed-dim:          rgb(63, 198, 222);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(190, 149, 255);
    --md-sys-color-secondary-container:        rgb(60, 62, 81);
    --md-sys-color-secondary-fixed:            rgb(190, 149, 255);
    --md-sys-color-secondary-fixed-dim:        rgb(190, 149, 255);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(255, 255, 255);
    --md-sys-color-surface:                    rgb(41, 42, 55);
    --md-sys-color-surface-bright:             rgb(69, 71, 93);
    --md-sys-color-surface-container:          rgb(52, 53, 69);
    --md-sys-color-surface-container-high:     rgb(60, 62, 81);
    --md-sys-color-surface-container-highest:  rgb(60, 62, 81);
    --md-sys-color-surface-container-low:      rgb(52, 53, 69);
    --md-sys-color-surface-container-lowest:   rgb(41, 42, 55);
    --md-sys-color-surface-dim:                rgb(41, 42, 55);
    --md-sys-color-surface-tint:               rgb(63, 198, 222);
    --md-sys-color-surface-variant:            rgb(60, 62, 81);
    --md-sys-color-tertiary:                   rgb(255, 126, 182);
    --md-sys-color-tertiary-container:         rgb(60, 62, 81);
    --md-sys-color-tertiary-fixed:             rgb(255, 126, 182);
    --md-sys-color-tertiary-fixed-dim:         rgb(255, 126, 182);
}
