:root {
    --theme-color: "PaperColor Dark";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(28, 28, 28);
    --md-sys-color-error:                      rgb(255, 95, 175);
    --md-sys-color-error-container:            rgb(54, 54, 54);
    --md-sys-color-inverse-on-surface:         rgb(28, 28, 28);
    --md-sys-color-inverse-primary:            rgb(95, 175, 215);
    --md-sys-color-inverse-surface:            rgb(184, 184, 184);
    --md-sys-color-on-background:              rgb(158, 158, 158);
    --md-sys-color-on-error:                   rgb(28, 28, 28);
    --md-sys-color-on-error-container:         rgb(255, 95, 175);
    --md-sys-color-on-primary:                 rgb(28, 28, 28);
    --md-sys-color-on-primary-container:       rgb(95, 175, 215);
    --md-sys-color-on-primary-fixed:           rgb(28, 28, 28);
    --md-sys-color-on-primary-fixed-variant:   rgb(54, 54, 54);
    --md-sys-color-on-secondary:               rgb(28, 28, 28);
    --md-sys-color-on-secondary-container:     rgb(184, 184, 184);
    --md-sys-color-on-secondary-fixed:         rgb(28, 28, 28);
    --md-sys-color-on-secondary-fixed-variant: rgb(54, 54, 54);
    --md-sys-color-on-surface:                 rgb(158, 158, 158);
    --md-sys-color-on-surface-variant:         rgb(158, 158, 158);
    --md-sys-color-on-tertiary:                rgb(28, 28, 28);
    --md-sys-color-on-tertiary-container:      rgb(184, 184, 184);
    --md-sys-color-on-tertiary-fixed:          rgb(28, 28, 28);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(54, 54, 54);
    --md-sys-color-outline:                    rgb(128, 128, 128);
    --md-sys-color-outline-variant:            rgb(66, 66, 66);
    --md-sys-color-primary:                    rgb(95, 175, 215);
    --md-sys-color-primary-container:          rgb(66, 66, 66);
    --md-sys-color-primary-fixed:              rgb(95, 175, 215);
    --md-sys-color-primary-fixed-dim:          rgb(95, 175, 215);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(175, 135, 215);
    --md-sys-color-secondary-container:        rgb(66, 66, 66);
    --md-sys-color-secondary-fixed:            rgb(175, 135, 215);
    --md-sys-color-secondary-fixed-dim:        rgb(175, 135, 215);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(208, 208, 208);
    --md-sys-color-surface:                    rgb(28, 28, 28);
    --md-sys-color-surface-bright:             rgb(88, 88, 88);
    --md-sys-color-surface-container:          rgb(54, 54, 54);
    --md-sys-color-surface-container-high:     rgb(66, 66, 66);
    --md-sys-color-surface-container-highest:  rgb(66, 66, 66);
    --md-sys-color-surface-container-low:      rgb(54, 54, 54);
    --md-sys-color-surface-container-lowest:   rgb(28, 28, 28);
    --md-sys-color-surface-dim:                rgb(28, 28, 28);
    --md-sys-color-surface-tint:               rgb(95, 175, 215);
    --md-sys-color-surface-variant:            rgb(66, 66, 66);
    --md-sys-color-tertiary:                   rgb(0, 175, 175);
    --md-sys-color-tertiary-container:         rgb(66, 66, 66);
    --md-sys-color-tertiary-fixed:             rgb(0, 175, 175);
    --md-sys-color-tertiary-fixed-dim:         rgb(0, 175, 175);
}
