:root {
    --theme-color: "Tango";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(46, 52, 54);
    --md-sys-color-error:                      rgb(204, 0, 0);
    --md-sys-color-error-container:            rgb(138, 226, 52);
    --md-sys-color-inverse-on-surface:         rgb(46, 52, 54);
    --md-sys-color-inverse-primary:            rgb(52, 101, 164);
    --md-sys-color-inverse-surface:            rgb(173, 127, 168);
    --md-sys-color-on-background:              rgb(211, 215, 207);
    --md-sys-color-on-error:                   rgb(46, 52, 54);
    --md-sys-color-on-error-container:         rgb(204, 0, 0);
    --md-sys-color-on-primary:                 rgb(46, 52, 54);
    --md-sys-color-on-primary-container:       rgb(52, 101, 164);
    --md-sys-color-on-primary-fixed:           rgb(46, 52, 54);
    --md-sys-color-on-primary-fixed-variant:   rgb(138, 226, 52);
    --md-sys-color-on-secondary:               rgb(46, 52, 54);
    --md-sys-color-on-secondary-container:     rgb(173, 127, 168);
    --md-sys-color-on-secondary-fixed:         rgb(46, 52, 54);
    --md-sys-color-on-secondary-fixed-variant: rgb(138, 226, 52);
    --md-sys-color-on-surface:                 rgb(211, 215, 207);
    --md-sys-color-on-surface-variant:         rgb(211, 215, 207);
    --md-sys-color-on-tertiary:                rgb(46, 52, 54);
    --md-sys-color-on-tertiary-container:      rgb(173, 127, 168);
    --md-sys-color-on-tertiary-fixed:          rgb(46, 52, 54);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(138, 226, 52);
    --md-sys-color-outline:                    rgb(114, 159, 207);
    --md-sys-color-outline-variant:            rgb(252, 233, 79);
    --md-sys-color-primary:                    rgb(52, 101, 164);
    --md-sys-color-primary-container:          rgb(252, 233, 79);
    --md-sys-color-primary-fixed:              rgb(52, 101, 164);
    --md-sys-color-primary-fixed-dim:          rgb(52, 101, 164);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(117, 80, 123);
    --md-sys-color-secondary-container:        rgb(252, 233, 79);
    --md-sys-color-secondary-fixed:            rgb(117, 80, 123);
    --md-sys-color-secondary-fixed-dim:        rgb(117, 80, 123);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(238, 238, 236);
    --md-sys-color-surface:                    rgb(46, 52, 54);
    --md-sys-color-surface-bright:             rgb(85, 87, 83);
    --md-sys-color-surface-container:          rgb(138, 226, 52);
    --md-sys-color-surface-container-high:     rgb(252, 233, 79);
    --md-sys-color-surface-container-highest:  rgb(252, 233, 79);
    --md-sys-color-surface-container-low:      rgb(138, 226, 52);
    --md-sys-color-surface-container-lowest:   rgb(46, 52, 54);
    --md-sys-color-surface-dim:                rgb(46, 52, 54);
    --md-sys-color-surface-tint:               rgb(52, 101, 164);
    --md-sys-color-surface-variant:            rgb(252, 233, 79);
    --md-sys-color-tertiary:                   rgb(6, 152, 154);
    --md-sys-color-tertiary-container:         rgb(252, 233, 79);
    --md-sys-color-tertiary-fixed:             rgb(6, 152, 154);
    --md-sys-color-tertiary-fixed-dim:         rgb(6, 152, 154);
}
