:root {
    --theme-color: "Ayu Dark";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb(11, 14, 20);
    --md-sys-color-error:                      rgb(240, 113, 120);
    --md-sys-color-error-container:            rgb(19, 23, 33);
    --md-sys-color-inverse-on-surface:         rgb(11, 14, 20);
    --md-sys-color-inverse-primary:            rgb(89, 194, 255);
    --md-sys-color-inverse-surface:            rgb(236, 232, 219);
    --md-sys-color-on-background:              rgb(230, 225, 207);
    --md-sys-color-on-error:                   rgb(11, 14, 20);
    --md-sys-color-on-error-container:         rgb(240, 113, 120);
    --md-sys-color-on-primary:                 rgb(11, 14, 20);
    --md-sys-color-on-primary-container:       rgb(89, 194, 255);
    --md-sys-color-on-primary-fixed:           rgb(11, 14, 20);
    --md-sys-color-on-primary-fixed-variant:   rgb(19, 23, 33);
    --md-sys-color-on-secondary:               rgb(11, 14, 20);
    --md-sys-color-on-secondary-container:     rgb(236, 232, 219);
    --md-sys-color-on-secondary-fixed:         rgb(11, 14, 20);
    --md-sys-color-on-secondary-fixed-variant: rgb(19, 23, 33);
    --md-sys-color-on-surface:                 rgb(230, 225, 207);
    --md-sys-color-on-surface-variant:         rgb(230, 225, 207);
    --md-sys-color-on-tertiary:                rgb(11, 14, 20);
    --md-sys-color-on-tertiary-container:      rgb(236, 232, 219);
    --md-sys-color-on-tertiary-fixed:          rgb(11, 14, 20);
    --md-sys-color-on-tertiary-fixed-variant:  rgb(19, 23, 33);
    --md-sys-color-outline:                    rgb(191, 189, 182);
    --md-sys-color-outline-variant:            rgb(32, 34, 41);
    --md-sys-color-primary:                    rgb(89, 194, 255);
    --md-sys-color-primary-container:          rgb(32, 34, 41);
    --md-sys-color-primary-fixed:              rgb(89, 194, 255);
    --md-sys-color-primary-fixed-dim:          rgb(89, 194, 255);
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb(210, 166, 255);
    --md-sys-color-secondary-container:        rgb(32, 34, 41);
    --md-sys-color-secondary-fixed:            rgb(210, 166, 255);
    --md-sys-color-secondary-fixed-dim:        rgb(210, 166, 255);
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb(242, 240, 231);
    --md-sys-color-surface:                    rgb(11, 14, 20);
    --md-sys-color-surface-bright:             rgb(62, 75, 89);
    --md-sys-color-surface-container:          rgb(19, 23, 33);
    --md-sys-color-surface-container-high:     rgb(32, 34, 41);
    --md-sys-color-surface-container-highest:  rgb(32, 34, 41);
    --md-sys-color-surface-container-low:      rgb(19, 23, 33);
    --md-sys-color-surface-container-lowest:   rgb(11, 14, 20);
    --md-sys-color-surface-dim:                rgb(11, 14, 20);
    --md-sys-color-surface-tint:               rgb(89, 194, 255);
    --md-sys-color-surface-variant:            rgb(32, 34, 41);
    --md-sys-color-tertiary:                   rgb(149, 230, 203);
    --md-sys-color-tertiary-container:         rgb(32, 34, 41);
    --md-sys-color-tertiary-fixed:             rgb(149, 230, 203);
    --md-sys-color-tertiary-fixed-dim:         rgb(149, 230, 203);
}
