:root {
    --theme-color: "{{scheme-name}}";
    --hue-rotate: 0deg;

    --md-sys-color-background:                 rgb({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}});
    --md-sys-color-error:                      rgb({{base08-rgb-r}}, {{base08-rgb-g}}, {{base08-rgb-b}});
    --md-sys-color-error-container:            rgb({{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}});
    --md-sys-color-inverse-on-surface:         rgb({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}});
    --md-sys-color-inverse-primary:            rgb({{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}});
    --md-sys-color-inverse-surface:            rgb({{base06-rgb-r}}, {{base06-rgb-g}}, {{base06-rgb-b}});
    --md-sys-color-on-background:              rgb({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}});
    --md-sys-color-on-error:                   rgb({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}});
    --md-sys-color-on-error-container:         rgb({{base08-rgb-r}}, {{base08-rgb-g}}, {{base08-rgb-b}});
    --md-sys-color-on-primary:                 rgb({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}});
    --md-sys-color-on-primary-container:       rgb({{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}});
    --md-sys-color-on-primary-fixed:           rgb({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}});
    --md-sys-color-on-primary-fixed-variant:   rgb({{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}});
    --md-sys-color-on-secondary:               rgb({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}});
    --md-sys-color-on-secondary-container:     rgb({{base06-rgb-r}}, {{base06-rgb-g}}, {{base06-rgb-b}});
    --md-sys-color-on-secondary-fixed:         rgb({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}});
    --md-sys-color-on-secondary-fixed-variant: rgb({{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}});
    --md-sys-color-on-surface:                 rgb({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}});
    --md-sys-color-on-surface-variant:         rgb({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}});
    --md-sys-color-on-tertiary:                rgb({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}});
    --md-sys-color-on-tertiary-container:      rgb({{base06-rgb-r}}, {{base06-rgb-g}}, {{base06-rgb-b}});
    --md-sys-color-on-tertiary-fixed:          rgb({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}});
    --md-sys-color-on-tertiary-fixed-variant:  rgb({{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}});
    --md-sys-color-outline:                    rgb({{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}});
    --md-sys-color-outline-variant:            rgb({{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}});
    --md-sys-color-primary:                    rgb({{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}});
    --md-sys-color-primary-container:          rgb({{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}});
    --md-sys-color-primary-fixed:              rgb({{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}});
    --md-sys-color-primary-fixed-dim:          rgb({{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}});
    --md-sys-color-scrim:                      rgb(0, 0, 0);
    --md-sys-color-secondary:                  rgb({{base0E-rgb-r}}, {{base0E-rgb-g}}, {{base0E-rgb-b}});
    --md-sys-color-secondary-container:        rgb({{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}});
    --md-sys-color-secondary-fixed:            rgb({{base0E-rgb-r}}, {{base0E-rgb-g}}, {{base0E-rgb-b}});
    --md-sys-color-secondary-fixed-dim:        rgb({{base0E-rgb-r}}, {{base0E-rgb-g}}, {{base0E-rgb-b}});
    --md-sys-color-shadow:                     rgb(0, 0, 0);
    --md-sys-color-source-color:               rgb({{base07-rgb-r}}, {{base07-rgb-g}}, {{base07-rgb-b}});
    --md-sys-color-surface:                    rgb({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}});
    --md-sys-color-surface-bright:             rgb({{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}});
    --md-sys-color-surface-container:          rgb({{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}});
    --md-sys-color-surface-container-high:     rgb({{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}});
    --md-sys-color-surface-container-highest:  rgb({{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}});
    --md-sys-color-surface-container-low:      rgb({{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}});
    --md-sys-color-surface-container-lowest:   rgb({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}});
    --md-sys-color-surface-dim:                rgb({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}});
    --md-sys-color-surface-tint:               rgb({{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}});
    --md-sys-color-surface-variant:            rgb({{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}});
    --md-sys-color-tertiary:                   rgb({{base0C-rgb-r}}, {{base0C-rgb-g}}, {{base0C-rgb-b}});
    --md-sys-color-tertiary-container:         rgb({{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}});
    --md-sys-color-tertiary-fixed:             rgb({{base0C-rgb-r}}, {{base0C-rgb-g}}, {{base0C-rgb-b}});
    --md-sys-color-tertiary-fixed-dim:         rgb({{base0C-rgb-r}}, {{base0C-rgb-g}}, {{base0C-rgb-b}});
}
